{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_import_package_2_id, help_import_package_2_title, help_import_package_2_content = help[0] %}
    {% set help_import_package_2_btn = help_import_package_2_id ~ '_btn' %}
    {% set help_import_package_2_dialog = help_import_package_2_id ~ '_dialog' %}

    <table>
        <td><h2>Fetch Data Source Info from EDI</h2></td>
        <td valign="middle" style="padding-top: 10px;padding-left: 10px;">{{ macros.help_button(help_import_package_2_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                {{ form.csrf_token }}
                Select a <i>revision</i> of data package <b>{{ scope_identifier }}</b>:<br>
                {{ package_links | safe }}

                <br>
                <p></p><br>
                <p></p><br>
                <input class="btn btn-primary" style="width: 160px;" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_import_package_2_dialog, help_import_package_2_title, help_import_package_2_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_import_package_2_id, help_import_package_2_title, help_import_package_2_content = help[0] %}
    {% set help_import_package_2_btn = help_import_package_2_id ~ '_btn' %}
    {% set help_import_package_2_dialog = help_import_package_2_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_import_package_2_dialog, help_import_package_2_btn) }}
    });
    </script>
{% endblock %}
