{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Method Step</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                <h5>Please enter the method step description and (optionally) instrumentation below:</h5>
                {{ wtf.form_field(form.description, rows=8) }}
                {{ wtf.form_field(form.instrumentation, rows=2) }}
                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
            </form>
        </div>
    </div>
{% endblock %}
