{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Method Steps{% if entity_name %} for Data Entity: {{ entity_name }}{% endif %}</h1>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th>Method&nbsp;Step Description</th>
                        <th>Method&nbsp;Step Instrumentation</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for ms_entry in method_step_list %}
                    <tr>
                        <td>{{ ms_entry.description }}</td>
                        <td>{{ ms_entry.instrumentation }}</td>
                        {{ macros.up_down_arrow(ms_entry.id, ms_entry.upval) }}
                        {{ macros.up_down_arrow(ms_entry.id, ms_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ ms_entry.id }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ ms_entry.id }}" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="1" type="submit" value="Add Method Step"/>
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                {% if not suppress_next_btn %}
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
                {%  endif %}
            </form>
        </div>
    </div>
{% endblock %}
