{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_method_step_description_id, help_method_step_description_title, help_method_step_description_content = help[0] %}
    {% set help_method_step_description_btn = help_method_step_description_id ~ '_btn' %}
    {% set help_method_step_description_dialog = help_method_step_description_id ~ '_dialog' %}
    {% set help_method_step_instrumentation_id, help_method_step_instrumentation_title, help_method_step_instrumentation_content = help[1] %}
    {% set help_method_step_instrumentation_btn = help_method_step_instrumentation_id ~ '_btn' %}
    {% set help_method_step_instrumentation_dialog = help_method_step_instrumentation_id ~ '_dialog' %}
    {% set help_method_step_data_sources_id, help_method_step_data_sources_title, help_method_step_data_sources_content = help[2] %}
    {% set help_method_step_data_sources_btn = help_method_step_data_sources_id ~ '_btn' %}
    {% set help_method_step_data_sources_dialog = help_method_step_data_sources_id ~ '_dialog' %}
    {% set help_deprecated_data_source_id, help_deprecated_data_source_title, help_deprecated_data_source_content = help[3] %}
    {% set help_deprecated_data_source_btn = help_deprecated_data_source_id ~ '_btn' %}
    {% set help_deprecated_data_source_dialog = help_deprecated_data_source_id ~ '_dialog' %}
    {% set deprecated_data_source = deprecated_data_source %}

    <h2>Method Step</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                <h5>Enter the method step description and (optionally) instrumentation and data sources below:</h5>
                {% if model_has_complex_texttypes %}
                {% set font_family='Courier' %}
                {% endif %}
                {{ macros.item_start(font_family) }}{{ wtf.form_field(form.description, rows=8) }}
                {{ macros.help_and_check_xml_buttons(help_method_step_description_btn, 'check_xml', model_has_complex_texttypes) }}
                <table width="100%">
                    <td width="100%">{{ wtf.form_field(form.instrumentation, rows=2) }}</td>
                    <td valign="top" style="padding-top: 35px;">{{ macros.help_button(help_method_step_instrumentation_btn) }}</td>
                </table>
{#                <table width="100%">#}
{#                    <td width="100%">{{ wtf.form_field(form.data_sources, rows=5) }}</td>#}
{#                    <td valign="top" style="padding-top: 35px;">{{ macros.help_button(help_method_step_data_sources_btn) }}</td>#}
{#                </table>#}

{#            {% if form.data_sources_list: %}#}
                <h5><b>Data Sources (Optional)</b></h5>
                <table width="100%">
                <td width="100%">
                <div  style="padding: 10px 0px 10px 30px;" width="100%">
                <table class="table table-striped">

                    <tr>
                        <th>Data Source</th>
                        <th colspan="2"></th>
                    </tr>
                    {% for ds_entry in form.data_sources_list %}
                    <tr>
                        <td>{{ ds_entry[0] }}</td>
                        <td width="3%">&nbsp;</td>
                        <td style="float:right;"><input class="btn btn-primary" name="{{ ds_entry[1] }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ ds_entry[1] }}" onclick="return confirm('Are you sure? This action cannot be undone.');" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                    <input class="btn btn-primary" name="Add Data Source" type="submit" value="Add Data Source"/>
                <input class="btn btn-primary" name="Fetch Data Source Info from EDI" type="submit" value="Fetch Data Source Info from EDI"/>
                <p>
                </div>
                </td>
                    <td valign="top" style="padding-top: 35px;">{{ macros.help_button(help_method_step_data_sources_btn) }}</td>
                </table>
{#            {% endif %}#}

                <td valign="middle" style="padding-top: 5px;">
                    <span hidden="hidden">{{ macros.help_button(help_deprecated_data_source_btn) }}</span>
                </td>

                <br>
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>
                {{ macros.hidden_new_open_close_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_method_step_description_dialog, help_method_step_description_title, help_method_step_description_content) }}
    {{ macros.help_dialog(help_method_step_instrumentation_dialog, help_method_step_instrumentation_title, help_method_step_instrumentation_content) }}
    {{ macros.help_dialog(help_method_step_data_sources_dialog, help_method_step_data_sources_title, help_method_step_data_sources_content) }}
    {{ macros.help_dialog(help_deprecated_data_source_dialog, help_deprecated_data_source_title, help_deprecated_data_source_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_method_step_description_id, help_method_step_description_title, help_method_step_description_content = help[0] %}
    {% set help_method_step_description_btn = help_method_step_description_id ~ '_btn' %}
    {% set help_method_step_description_dialog = help_method_step_description_id ~ '_dialog' %}
    {% set help_method_step_instrumentation_id, help_method_step_instrumentation_title, help_method_step_instrumentation_content = help[1] %}
    {% set help_method_step_instrumentation_btn = help_method_step_instrumentation_id ~ '_btn' %}
    {% set help_method_step_instrumentation_dialog = help_method_step_instrumentation_id ~ '_dialog' %}
    {% set help_method_step_data_sources_id, help_method_step_data_sources_title, help_method_step_data_sources_content = help[2] %}
    {% set help_method_step_data_sources_btn = help_method_step_data_sources_id ~ '_btn' %}
    {% set help_method_step_data_sources_dialog = help_method_step_data_sources_id ~ '_dialog' %}
    {% set help_deprecated_data_source_id, help_deprecated_data_source_title, help_deprecated_data_source_content = help[3] %}
    {% set help_deprecated_data_source_btn = help_deprecated_data_source_id ~ '_btn' %}
    {% set help_deprecated_data_source_dialog = help_deprecated_data_source_id ~ '_dialog' %}
    {% set deprecated_data_source = deprecated_data_source %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_method_step_description_dialog, help_method_step_description_btn) }}
        {{ macros.help_script(help_method_step_instrumentation_dialog, help_method_step_instrumentation_btn) }}
        {{ macros.help_script(help_method_step_data_sources_dialog, help_method_step_data_sources_btn) }}
        {{ macros.help_script(help_deprecated_data_source_dialog, help_deprecated_data_source_btn) }}

        {% if deprecated_data_source %}
            let deprecated_data_source_dialog = $( '#{{ help_deprecated_data_source_dialog }}' ).dialog({
                autoOpen: true,
                width: 800,
                position: {my: "center", at: "center", of: window}
            });
            $( '#{{ help_deprecated_data_source_btn }}' ).button().on('click', function() {
                if (deprecated_data_source_dialog.dialog('isOpen')) {
                    {#alert('{{ dns_ns.do_not_show_cb }}');#}
                    deprecated_data_source_dialog.dialog('close');
                } else {
                    deprecated_data_source_dialog.dialog('open');
                }
            });
            $( '#{{ help_deprecated_data_source_btn }}' ).click();
            document.activeElement.blur();
        {% endif %}    });
    </script>
    <script>
        {{ macros.check_xml_btn_handler('#check_xml', '#description', 'description') }}
    </script>

{% endblock %}