{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Immunohistochemistry</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 15px;">{{ macros.help_button(help_rp_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <table>
                    <tr>
                        <td>
                        <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                        <tr>
                            <td style="padding: 10px 20px;" width="40%">{{ wtf.form_field(form.targetProtein) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">
                                <span style="color:{{ optional }};">{{ wtf.form_field(form.detectionMethod) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                        </tr>
                        <tr>
                            <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%" >
                            <caption>Primary Antibody</caption>
                            <td width="3%"></td>
                            <td width="30%">
                            {{ wtf.form_field(form.targetSpecies) }}
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            {{ wtf.form_field(form.hostSpecies) }}
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            {{ wtf.form_field(form.dilution) }}
                            </td>
                            <tr>
                            <td width="3%"></td>
                            <td width="30%">
                            {{ wtf.form_field(form.lotNumber) }}
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            {{ wtf.form_field(form.catNumber) }}
                            </td>
                            <td width="3%">&nbsp;</td>
                            </tr>
                            <tr>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceName) }}</td>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceCity) }}</td>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceState) }}</td>
                            </tr>
                            <tr>
                            <td width="3%"></td>
                            <td width="30%">{{ wtf.form_field(form.rrid) }}</td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            {{ wtf.form_field(form.clonality) }}
                            </td>
                            </tr>
                            </table>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%" >
                <caption>Secondary Antibody</caption>
                            <td width="3%"></td>
                            <td width="30%">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.targetSpecies_2) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.hostSpecies_2) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.dilution_2) }}</span>
                            </td>
                            <tr>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.lotNumber_2) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td width="30%">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.catNumber_2) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            </tr>
                            <tr>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceName_2) }}</td>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceCity_2) }}</td>
                            <td width="3%">&nbsp;</td>
                            <td width = "30%"> {{ wtf.form_field(form.sourceState_2) }}</td>
                            </tr>
                            <tr>
                            <td width="3%"></td>
                            <td width="30%">{{ wtf.form_field(form.rrid_2) }}</td>
                            </tr>
                            </table>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>

                {% if not save_and_continue %}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
{#                {% if next_page %}#}
{#                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>#}
{#                {% endif %}#}
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {% endif %}
                {% if node_name != 'publisher' %}
                    {{ macros.hidden_buttons() }}
                {% else %}
                    {{ macros.hidden_new_open_close_buttons() }}
                {% endif %}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

    {{ macros.help_dialog(help_rp_dialog, help_rp_title, help_rp_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_rp_dialog, help_rp_btn) }}
    });
    </script>
{% endblock %}