aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.17.2
attrs==25.4.0
backports.zstd==1.3.0
blinker==1.9.0
Brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
daiquiri==3.0.0
dnspython==2.8.0
dominate==2.9.1
email-validator==2.3.0
EMLvp==1.2.7
et_xmlfile==2.0.0
exceptiongroup==1.3.1
Flask==3.1.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
frozenlist==1.7.0
google-auth==2.47.0
google-auth-oauthlib==1.2.2
greenlet==3.3.0
gspread==5.12.4
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.0
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
Mako==1.3.10
MarkupSafe==3.0.3
metapype==0.1.1
multidict==6.7.0
numpy==2.4.0
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pendulum==3.1.0
pip==25.3
pluggy==1.6.0
propcache==0.3.1
psutil==7.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
Pympler==1.1
pyOpenSSL==25.3.0
PySocks==1.7.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
pyu2f==0.1.5
requests==2.32.5
requests-file==3.0.1
requests-oauthlib==2.0.0
rfc3986==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.45
time-machine==3.2.0
tomli==2.3.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uWSGI==2.0.31
visitor==0.1.3
Werkzeug==3.1.4
wheel==0.45.1
WTForms==3.2.1
yarl==1.22.0
zipp==3.23.0
