alembic==1.13.1
anyio==4.3.0
blinker==1.7.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
daiquiri==3.0.0
dnspython==2.4.2
dominate==2.9.1
email_validator==2.1.1
exceptiongroup==1.2.0
Flask==2.3.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.2.1
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.1.2
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==5.1.0
Mako==1.3.2
MarkupSafe==2.1.5
metapype==0.1.0
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pendulum==3.0.0
pip==24.0
pluggy==1.4.0
psutil==5.9.8
pycparser==2.21
Pympler==1.0.1
PySocks==1.7.1
pytest==8.0.2
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2024.1
requests==2.31.0
requests-file==2.0.0
rfc3986==2.0.0
setuptools==69.1.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.27
time-machine==2.13.0
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uWSGI==2.0.23
visitor==0.1.3
Werkzeug==2.3.8
wheel==0.42.0
WTForms==3.1.2
zipp==3.17.0
