alembic==1.8.1
asn1crypto==1.5.1
attrs==22.2.0
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cryptography==39.0.0
daiquiri==3.0.0
dnspython==2.2.1
dominate==2.7.0
email-validator==1.3.0
exceptiongroup==1.1.0
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
greenlet==2.0.1
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.2.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
Mako==1.2.3
MarkupSafe==2.1.1
metapype==0.0.24
numpy==1.24.1
packaging==22.0
pandas==1.5.2
pendulum==2.1.2
pip==22.3.1
pluggy==1.0.0
pycparser==2.21
pyOpenSSL==23.0.0
PySocks==1.7.1
pytest==7.2.0
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.7
pytzdata==2020.1
requests==2.28.1
requests-file==1.5.1
rfc3986==2.0.0
setuptools==65.6.3
six==1.16.0
SQLAlchemy==1.4.39
tomli==2.0.1
urllib3==1.26.13
uWSGI==2.0.20
visitor==0.1.3
Werkzeug==2.2.2
wheel==0.38.4
WTForms==3.0.1
zipp==3.11.0

sqlalchemy~=2.0.0
alembic~=1.9.2
zlib~=1.2.13
openssl~=1.1.1s
py~=1.11.0
tornado~=6.2
typing_extensions~=4.4.0
beautifulsoup4~=4.11.1
gettext~=0.21.0