{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_other_entity_id, help_other_entity_title, help_other_entity_content = help[0] %}
    {% set help_other_entity_btn = help_other_entity_id ~ '_btn' %}
    {% set help_other_entity_dialog = help_other_entity_id ~ '_dialog' %}
    {% set help_other_entity_info_id, help_other_entity_info_title, help_other_entity_info_content = help[1] %}
    {% set help_other_entity_info_btn = help_other_entity_info_id ~ '_btn' %}
    {% set help_other_entity_info_dialog = help_other_entity_info_id ~ '_dialog' %}

    <table>
        <td><h2>Image</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_other_entity_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" enctype="multipart/form-data">
                <h5>Enter information about the image:</h5>

                {{ wtf.form_field(form.entity_name) }}
                {{ wtf.form_field(form.entity_type) }}
                {{ wtf.form_field(form.format_name) }}
                <table>
                    <td width="50%">{{ wtf.form_field(form.file_upload) }}</td>
                    <td width="50%" style="vertical-align:top; padding-left: 25px"><b>Uploaded Image</b><br><div id = iname>{{ session['image_name'] }}</div><img src = "{{ url_for('ent.send_thumb', filename=session['thumb_name']) }} " onerror=this.style.display='none'></td>
                </table>

                <table>
                    <td width="100%">{{ wtf.form_field(form.additional_info, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_other_entity_info_btn) }}</td>
                </table>

                <table>
                <tr>
                <td class="table_cell">
{#                {{ wtf.form_field(form.object_name) }} }
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
{#                {{ wtf.form_field(form.format_name) }} }
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
{#                {{ wtf.form_field(form.size) }} }
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
{#                {{ wtf.form_field(form.md5_hash) }} }
                </td>
                </tr>
                </table>

{#                {{ wtf.form_field(form.online_url) }} }
                <br/>
{#                <h4>Other Entity Coverage (Optional):</h4>#}
{#                <input class="btn btn-primary" name="Geographic" type="submit" value="Edit Geographic Coverage"/>#}
{#                <br/><br/>#}
{#                <input class="btn btn-primary" name="Temporal" type="submit" value="Edit Temporal Coverage"/>#}
{#                <br/><br/>#}
{#                <input class="btn btn-primary" name="Taxonomic" type="submit" value="Edit Taxonomic Coverage"/>#}
{#                <br/><br/><br/>#}
{#                <h4>Other Entity Methods (Optional):</h4>#}
{#                <input class="btn btn-primary" name="Methods" type="submit" value="Edit Methods"/>#}
{#                <br/><br/><br/>#}
                <input class="btn btn-primary" name="OK" type="submit" value="Upload and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes" onclick="resetButtons()"/>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
            <p>&nbsp;</p>
        </div>
    </div>
    {{ macros.help_dialog(help_other_entity_dialog, help_other_entity_title, help_other_entity_content) }}
    {{ macros.help_dialog(help_other_entity_info_dialog, help_other_entity_info_title, help_other_entity_info_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_other_entity_id, help_other_entity_title, help_other_entity_content = help[0] %}
    {% set help_other_entity_btn = help_other_entity_id ~ '_btn' %}
    {% set help_other_entity_dialog = help_other_entity_id ~ '_dialog' %}
    {% set help_other_entity_info_id, help_other_entity_info_title, help_other_entity_info_content = help[1] %}
    {% set help_other_entity_info_btn = help_other_entity_info_id ~ '_btn' %}
    {% set help_other_entity_info_dialog = help_other_entity_info_id ~ '_dialog' %}

    <script type = "text/javascript">
        document.getElementById("entity_type").value = "histology";
        $("#file_upload").change(function(){
            var upload_path = document.getElementById("file_upload").value;
            let upload_file = upload_path.split(/[\\/]/).pop();
            dot_pos = upload_file.indexOf(".");

            upload_name = upload_file.substring(0, dot_pos);
            upload_format = upload_file.slice(dot_pos + 1);

            document.getElementById("entity_name").value = upload_name;
            document.getElementById("entity_name").readOnly = true;

            document.getElementById("format_name").value = upload_format;
            document.getElementById("format_name").readOnly = true;
        });

        function resetButtons(){
            document.getElementById("entity_name").readOnly = false;
            document.getElementById("format_name").readOnly = false;
        }

        function disableFields(){
            var image_name = document.getElementById("iname").innerHTML;
            if (image_name != "None"){
                document.getElementById("entity_name").readOnly = true;
                document.getElementById("format_name").readOnly = true;
            }
        }

        disableFields();

        $(function()
        {
            document.getElementById("entity_name").toggleAttribute("required");
            document.getElementById("format_name").toggleAttribute("required");
            {{ macros.help_script(help_other_entity_dialog, help_other_entity_btn) }}
            {{ macros.help_script(help_other_entity_info_dialog, help_other_entity_info_btn) }}
        });
    </script>
{% endblock %}