{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Other Entity</h1>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                <h5>Please enter information about the data entity object:</h5>
                {{ wtf.form_field(form.entity_name) }}
                {{ wtf.form_field(form.entity_type) }}
                {{ wtf.form_field(form.entity_description) }}
                {{ wtf.form_field(form.object_name) }}
                {{ wtf.form_field(form.size) }}
                {{ wtf.form_field(form.md5_hash) }}
                {{ wtf.form_field(form.format_name) }}
                {{ wtf.form_field(form.online_url) }}
                <br/><br/>
                <h4>Other Entity Coverage (Optional):</h4>
                <input class="btn btn-primary" name="Geographic" type="submit" value="Edit Geographic Coverage"/>
                <br/><br/>
                <input class="btn btn-primary" name="Temporal" type="submit" value="Edit Temporal Coverage"/>
                <br/><br/>
                <input class="btn btn-primary" name="Taxonomic" type="submit" value="Edit Taxonomic Coverage"/>
                <br/><br/><br/>
                <h4>Other Entity Methods (Optional):</h4>
                <input class="btn btn-primary" name="Methods" type="submit" value="Edit Methods"/>
                <br/><br/><br/>
                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
            </form>
        </div>
    </div>
{% endblock %}
