{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_other_entities_id, help_other_entities_title, help_other_entities_content = help[0] %}
    {% set help_other_entities_btn = help_other_entities_id ~ '_btn' %}
    {% set help_other_entities_dialog = help_other_entities_id ~ '_dialog' %}
    {% set help_add_load_other_entities_id, help_add_load_other_entities_title, help_add_load_other_entities_content = help[1] %}
    {% set help_add_load_other_entities_btn = help_add_load_other_entities_id ~ '_btn' %}
    {% set help_add_load_other_entities_dialog = help_add_load_other_entities_id ~ '_dialog' %}

    <table>
        <td><h2>Other Entities</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_other_entities_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th colspan="4">Entity Name</th>
                    </tr>
                    {% for oe_entry in oe_list %}
                    <tr>
                        <td width="60%">{{ oe_entry.label }}</td>
                        {{ macros.up_down_arrow(oe_entry.id, oe_entry.upval) }}
                        {{ macros.up_down_arrow(oe_entry.id, oe_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ oe_entry.id }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ oe_entry.id }}" onclick="return confirm('Are you sure?');" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <table>
                    <td>
                        <input class="btn btn-primary" name="1" type="submit" value="Load Other Entity from File"/>&nbsp;
                        <input class="btn btn-primary" name="1" type="submit" value="Add Other Entity from Scratch"/></td>
                    <td valign="middle" style="padding-top: 5px;">{{ macros.help_button(help_add_load_other_entities_btn) }}</td>
                </table>

                <br/><br/>
{#                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>#}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_other_entities_dialog, help_other_entities_title, help_other_entities_content) }}
    {{ macros.help_dialog(help_add_load_other_entities_dialog, help_add_load_other_entities_title, help_add_load_other_entities_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_other_entities_id, help_other_entities_title, help_other_entities_content = help[0] %}
    {% set help_other_entities_btn = help_other_entities_id ~ '_btn' %}
    {% set help_other_entities_dialog = help_other_entities_id ~ '_dialog' %}
    {% set help_add_load_other_entities_id, help_add_load_other_entities_title, help_add_load_other_entities_content = help[1] %}
    {% set help_add_load_other_entities_btn = help_add_load_other_entities_id ~ '_btn' %}
    {% set help_add_load_other_entities_dialog = help_add_load_other_entities_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_other_entities_dialog, help_other_entities_btn) }}
        {{ macros.help_script(help_add_load_other_entities_dialog, help_add_load_other_entities_btn) }}
    });
    </script>
{% endblock %}