{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Attribute (interval/ratio)</h1>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>You may select either the interval or ratio measurement scale for this data table attribute:</h5>
                {{ wtf.form_field(form.mscale_choice) }}<br/>
                 <h5>Please enter additional information about the data table attribute:</h5>
                {{ wtf.form_field(form.attribute_name) }}
                {{ wtf.form_field(form.attribute_label) }}
                {{ wtf.form_field(form.attribute_definition) }}
                {{ wtf.form_field(form.storage_type) }}
                {{ wtf.form_field(form.storage_type_system) }}
                <h5>Enter a standard unit <em>or</em> a custom unit value:</h5>
                {{ wtf.form_field(form.standard_unit) }}
                {{ wtf.form_field(form.custom_unit) }}
                <br/>
                {{ wtf.form_field(form.precision) }}
                {{ wtf.form_field(form.number_type) }}
                <br/>
                <h4>Bounds (Optional):</h4>
                {{ wtf.form_field(form.bounds_minimum) }}
                {{ wtf.form_field(form.bounds_minimum_exclusive) }}
                <br/>
                {{ wtf.form_field(form.bounds_maximum) }}
                {{ wtf.form_field(form.bounds_maximum_exclusive) }}
                <br/>
                <h4>Missing Value Codes (Optional):</h4>
                <h5>Enter up to 3 missing value codes with accompanying explanations:</h5>
                {{ wtf.form_field(form.code_1) }} {{ wtf.form_field(form.code_explanation_1) }}<br/>
                {{ wtf.form_field(form.code_2) }} {{ wtf.form_field(form.code_explanation_2) }}<br/>
                {{ wtf.form_field(form.code_3) }} {{ wtf.form_field(form.code_explanation_3) }}<br/>
                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ wtf.form_field(form.md5) }}
                {{ wtf.form_field(form.mscale) }}
            </form>
        </div>
    </div>
{% endblock %}
