{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_measurement_scale_id, help_measurement_scale_title, help_measurement_scale_content = help[0] %}
    {% set help_measurement_scale_btn = help_measurement_scale_id ~ '_btn' %}
    {% set help_measurement_scale_dialog = help_measurement_scale_id ~ '_dialog' %}
    {% set help_spreadsheets_id, help_spreadsheets_title, help_spreadsheets_content = help[1] %}
    {% set help_spreadsheets_btn = help_spreadsheets_id ~ '_btn' %}
    {% set help_spreadsheets_dialog = help_spreadsheets_id ~ '_dialog' %}
    {% endif %}
    <h2>Columns of <i>{{ entity_name }}</i></h2>
{#    <div class="row">#}
        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th width="5%">Col&nbsp;#</th>
                        <th width="30%">Column Name</th>
                        <th width="15%">Type&nbsp;{{ macros.help_button(help_measurement_scale_btn) }}</th>
{#                        <th>Measurement<br>Scale</th>#}
                        <th colspan="3"></th>
                    </tr>
                    {% for att_entry in att_list %}
                    <tr>
                        <td width="5%">{{ att_entry.column_number }}</td>
                        <td width="30%">
                        {% set node_id = att_entry.id.split("|")[0] %}
                        {% set node_status = node_id + '_status' %}
                        {{ macros.status_badge_with_popup(badge_data[node_status], att_entry.tooltip) }}
                        {{ att_entry.label }}
                        </td>
                        <td width="15%">{{ att_entry.mscale }}</td>
                        {% if not was_uploaded %}
                            {{ macros.up_down_arrow(att_entry.id, att_entry.upval) }}
                            {{ macros.up_down_arrow(att_entry.id, att_entry.downval) }}
                        {% endif %}
                        <td width="50%">
                            <input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="Edit Properties"/>
                            {% if not was_uploaded %}
                            <input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="Remove"/>
                            {% endif %}
                            <input class="btn btn-primary" id="change_type_{{ att_entry.id }}" name="{{ att_entry.id }}" type="submit" value="Change Type"/></td>
                    </tr>
                    {% endfor %}
                </table>
                {% if not was_uploaded %}
                    <br/>
                    <input class="btn btn-primary" name="categorical" type="submit" value="Add Column - Categorical"/><br/><br/>
                    <input class="btn btn-primary" name="numerical" type="submit" value="Add Column - Numerical"/><br/><br/>
                    <input class="btn btn-primary" name="text" type="submit" value="Add Column - Text"/><br/><br/>
                    <input class="btn btn-primary" name="dateTime" type="submit" value="Add Column - Datetime"/><br/><br/><br/>
                {% endif %}

                <div class="bordered-div" style="width: 80%;">
                    <div class="text-over-border">Optional: Bulk Editing of Column Properties via a Spreadsheet</div>
                    <input class="btn btn-primary" name="Download" type="submit" value="Download Column Properties Spreadsheet"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="btn btn-primary" name="Upload" type="submit" value="Upload Column Properties Spreadsheet"/>&nbsp;&nbsp;
                    {{ macros.help_button(help_spreadsheets_btn) }}
                </div>
                <p>&nbsp;</p>
                <input class="btn btn-primary" name="Back" type="submit" value="Back to Data Table"/>
                <p>&nbsp;</p>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
{#    </div>#}
    {{ macros.help_dialog(help_measurement_scale_dialog, help_measurement_scale_title, help_measurement_scale_content) }}
    {{ macros.help_dialog(help_spreadsheets_dialog, help_spreadsheets_title, help_spreadsheets_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_measurement_scale_id, help_measurement_scale_title, help_measurement_scale_content = help[0] %}
    {% set help_measurement_scale_btn = help_measurement_scale_id ~ '_btn' %}
    {% set help_measurement_scale_dialog = help_measurement_scale_id ~ '_dialog' %}
    {% set help_spreadsheets_id, help_spreadsheets_title, help_spreadsheets_content = help[1] %}
    {% set help_spreadsheets_btn = help_spreadsheets_id ~ '_btn' %}
    {% set help_spreadsheets_dialog = help_spreadsheets_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_measurement_scale_dialog, help_measurement_scale_btn) }}
        {{ macros.help_script(help_spreadsheets_dialog, help_spreadsheets_btn) }}
    });
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}

{% endblock %}