{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Attribute (nominal/ordinal)</h1>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
{#                <h5>You may select either the nominal or ordinal measurement scale for this data table attribute:</h5>#}
{#                {{ wtf.form_field(form.mscale_choice) }}<br/>#}
{#                <h5>Please enter additional information about the data table attribute:</h5>#}
                {{ wtf.form_field(form.attribute_name) }}
                {{ wtf.form_field(form.attribute_label) }}
                <h5 style="color: steelblue;font-style: italic">One of the following is required: Definition or one or more Codes and Definitions</h5>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;">{{ wtf.form_field(form.attribute_definition) }}</td>
                    </tr><tr>
                    <td style="border: 1px solid steelblue;border-collapse: collapse;padding: 1px 20px;"><table>
                    <td><input class="btn btn-primary" name="Codes" type="submit" value="Codes and Definitions"/></td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.enforced) }}</td>
                    </table></td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <h5>Optionally, enter up to 3 missing value codes with accompanying explanations:</h5>
                {{ wtf.form_field(form.code_1) }} {{ wtf.form_field(form.code_explanation_1) }}<br/>
                {{ wtf.form_field(form.code_2) }} {{ wtf.form_field(form.code_explanation_2) }}<br/>
                {{ wtf.form_field(form.code_3) }} {{ wtf.form_field(form.code_explanation_3) }}<br/>
                {{ wtf.form_field(form.storage_type) }}
                {{ wtf.form_field(form.storage_type_system) }}
                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ wtf.form_field(form.md5) }}
                {{ wtf.form_field(form.mscale) }}
            </form>
        </div>
    </div>
{% endblock %}
