{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_attribute_name_id, help_attribute_name_title, help_attribute_name_content = help[0] %}
    {% set help_attribute_name_btn = help_attribute_name_id ~ '_btn' %}
    {% set help_attribute_name_dialog = help_attribute_name_id ~ '_dialog' %}
    {% set help_attribute_definition_id, help_attribute_definition_title, help_attribute_definition_content = help[1] %}
    {% set help_attribute_definition_btn = help_attribute_definition_id ~ '_btn' %}
    {% set help_attribute_definition_dialog = help_attribute_definition_id ~ '_dialog' %}
    {% set help_attribute_label_id, help_attribute_label_title, help_attribute_label_content = help[2] %}
    {% set help_attribute_label_btn = help_attribute_label_id ~ '_btn' %}
    {% set help_attribute_label_dialog = help_attribute_label_id ~ '_dialog' %}
    {% set help_attribute_storage_type_id, help_attribute_storage_type_title, help_attribute_storage_type_content = help[3] %}
    {% set help_attribute_storage_type_btn = help_attribute_storage_type_id ~ '_btn' %}
    {% set help_attribute_storage_type_dialog = help_attribute_storage_type_id ~ '_dialog' %}
    {% set help_attribute_save_changes_id, help_attribute_save_changes_title, help_attribute_save_changes_content = help[4] %}
    {% set help_attribute_save_changes_btn = help_attribute_save_changes_id ~ '_btn' %}
    {% set help_attribute_save_changes_dialog = help_attribute_save_changes_id ~ '_dialog' %}

{#    <table>#}
{#        <td style="vertical-align:middle;padding-top: 12px;">#}
{#        {% set node_id = att_node_id.split("|")[0] %}#}
{#        {% set node_status = node_id + '_status' %}#}
{#        {{ macros.local_status_badge_with_popup(session[node_status], tooltip) }}#}
{#        </td>#}
{#        <td style="width:3%"></td>#}
{#        <td style="vertical-align:middle;"><h2>Categorical Column</h2></td>#}
{#    </table>#}

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" id="main_form" role="form">

{#    <div class="col-md-10 badged_page_header" style="padding-left: 0;width:100%;">#}
{#        {% set node_id = att_node_id.split("|")[0] %}#}
{#        {% set node_status = node_id + '_status' %}#}
{#        {{ macros.local_status_badge_with_popup(session[node_status], tooltip) }}#}
{#        <div class="whitespace"></div>#}
{#        <h2 class="right_justified">Categorical Column</h2>#}
{#        {% if session[node_status] == 'red' or session[node_status] == 'yellow' %}#}
{#        <input class="btn btn-primary" id="save_changes" style="visibility:visible;margin-top:20px;" name="Save Changes" type="submit" value="Save Changes"/>#}
{#        {% endif %}#}
{#    </div>#}

            {{ macros.page_heading_with_status_popup('Categorical Column', att_node_id, tooltip, session, help_attribute_save_changes_btn) }}
                {{ form.csrf_token }}
                {{ macros.column_table_header(column_name, table_name) }}
                {{ macros.item_start() }}{{ wtf.form_field(form.attribute_name) }}{{ macros.item_end(help_attribute_name_btn) }}
                {{ macros.item_start() }}{{ wtf.form_field(form.attribute_definition) }}{{ macros.item_end(help_attribute_definition_btn) }}
                {{ macros.item_start() }}{{ wtf.form_field(form.attribute_label) }}{{ macros.item_end(help_attribute_label_btn) }}
                <label class="control-label">Define coded values and their definitions:</label>
                <table id="codes_entry" style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                        <td style="padding: 10px 25px 0px;" width="100%"><label class="control-label">Codes:&nbsp;&nbsp;</label>{{ codes }}</td>
                    </tr>
                    <tr>
                    <td><table>
                    <td style="padding: 0px 20px;"><input class="btn btn-primary" name="Codes" type="submit" value="Edit Codes and Definitions"/></td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.enforced) }}</td>
                    </table></td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <label class="control-label">Optionally, enter up to 3 missing value codes with accompanying explanations:</label>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="border: 1px solid steelblue;border-collapse: collapse;padding: 15px 20px 1px;">
                    <table width="100%">
                    <tr>
                    <td width="38%">{{ wtf.form_field(form.code_1) }}</td>
                    <td width="4%">&nbsp;</td>
                    <td width="58%" style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_1) }}</td>
                    </tr>
                    <tr>
                    <td>{{ wtf.form_field(form.code_2) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_2) }}</td>
                    </tr>
                    <tr>
                    <td>{{ wtf.form_field(form.code_3) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_3) }}</td>
                    </tr>
                    </table></td>
                    </tr>
                </table>
                <br>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="padding: 10px 15px 10px 20px;" width="42%">{{ wtf.form_field(form.storage_type) }}</td>
                    <td style="padding: 10px 20px 10px 15px;" width="58%" style="padding-bottom: 5px;">
                        {{ macros.item_start() }}{{ wtf.form_field(form.storage_type_system) }}{{ macros.item_end(help_attribute_storage_type_btn) }}
                    </td>

                    </tr>
                </table>
                <p>&nbsp;</p>
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons_with_no_contents_menu() }}
                {{ wtf.form_field(form.md5) }}
                {{ wtf.form_field(form.mscale) }}
                {{ macros.save_changes_modal() }}

            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_attribute_name_dialog, help_attribute_name_title, help_attribute_name_content) }}
    {{ macros.help_dialog(help_attribute_definition_dialog, help_attribute_definition_title, help_attribute_definition_content) }}
    {{ macros.help_dialog(help_attribute_label_dialog, help_attribute_label_title, help_attribute_label_content) }}
    {{ macros.help_dialog(help_attribute_storage_type_dialog, help_attribute_storage_type_title, help_attribute_storage_type_content) }}
    {{ macros.help_dialog(help_attribute_save_changes_dialog, help_attribute_save_changes_title, help_attribute_save_changes_content) }}
{% endblock %}


{% block app_scripts %}
    {{ super() }}
    {% set help_attribute_name_id, help_attribute_name_title, help_attribute_name_content = help[0] %}
    {% set help_attribute_name_btn = help_attribute_name_id ~ '_btn' %}
    {% set help_attribute_name_dialog = help_attribute_name_id ~ '_dialog' %}
    {% set help_attribute_definition_id, help_attribute_definition_title, help_attribute_definition_content = help[1] %}
    {% set help_attribute_definition_btn = help_attribute_definition_id ~ '_btn' %}
    {% set help_attribute_definition_dialog = help_attribute_definition_id ~ '_dialog' %}
    {% set help_attribute_label_id, help_attribute_label_title, help_attribute_label_content = help[2] %}
    {% set help_attribute_label_btn = help_attribute_label_id ~ '_btn' %}
    {% set help_attribute_label_dialog = help_attribute_label_id ~ '_dialog' %}
    {% set help_attribute_storage_type_id, help_attribute_storage_type_title, help_attribute_storage_type_content = help[3] %}
    {% set help_attribute_storage_type_btn = help_attribute_storage_type_id ~ '_btn' %}
    {% set help_attribute_storage_type_dialog = help_attribute_storage_type_id ~ '_dialog' %}
    {% set help_attribute_save_changes_id, help_attribute_save_changes_title, help_attribute_save_changes_content = help[4] %}
    {% set help_attribute_save_changes_btn = help_attribute_save_changes_id ~ '_btn' %}
    {% set help_attribute_save_changes_dialog = help_attribute_save_changes_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_attribute_name_dialog, help_attribute_name_btn) }}
        {{ macros.help_script(help_attribute_definition_dialog, help_attribute_definition_btn) }}
        {{ macros.help_script(help_attribute_label_dialog, help_attribute_label_btn) }}
        {{ macros.help_script(help_attribute_storage_type_dialog, help_attribute_storage_type_btn) }}
        {{ macros.help_script(help_attribute_save_changes_dialog, help_attribute_save_changes_btn) }}
    });
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}
    {{ macros.save_changes_button_support() }}

{% endblock %}