{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Numerical Attribute</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
{#                <h5>You may select either the interval or ratio measurement scale for this data table attribute:</h5>#}
{#                {{ wtf.form_field(form.mscale_choice) }}<br/>#}
{#                 <h5>Please enter additional information about the data table attribute:</h5>#}
                {{ wtf.form_field(form.attribute_name) }}
                {{ wtf.form_field(form.attribute_label) }}
                {{ wtf.form_field(form.attribute_definition) }}
                <label class="control-label">Enter a standard unit value <em><u>or</u></em> a custom unit value:</label>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td valign="top" width="50%" style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;">{{ wtf.form_field(form.standard_unit) }}</td>
                    <td width="50%" style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;">
                        <table>
                        <tr>{{ wtf.form_field(form.custom_unit) }}</tr>
                        <tr>{{ wtf.form_field(form.custom_unit_description, rows=3) }}</tr>
                        </table>
                    </td>
                    </tr>
                </table>
                <br/>
                {{ wtf.form_field(form.number_type) }}
{#                {{ wtf.form_field(form.storage_type) }}#}
{#                {{ wtf.form_field(form.storage_type_system) }}#}
                {{ wtf.form_field(form.precision) }}
                <label class="control-label">Bounds (Optional):</label>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="border: 1px solid steelblue;border-collapse: collapse;padding: 15px 20px 1px;">
                    <table width="100%">
                    <tr>
                    <td width="48%">{{ wtf.form_field(form.bounds_minimum) }}</td>
                    <td width="4%">&nbsp;</td>
                    <td width="48%" style="padding-bottom: 5px;">{{ wtf.form_field(form.bounds_minimum_exclusive) }}</td>
                    </tr>
                    <tr>
                    <td width="48%">{{ wtf.form_field(form.bounds_maximum) }}</td>
                    <td width="4%">&nbsp;</td>
                    <td width="48%" style="padding-bottom: 5px;">{{ wtf.form_field(form.bounds_maximum_exclusive) }}</td>
                    </tr>
                    </table></td>
                    </tr>
                </table>
                <br>
                <label class="control-label">Optionally, enter up to 3 missing value codes with accompanying explanations:</label>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="border: 1px solid steelblue;border-collapse: collapse;padding: 15px 20px 1px;">
                    <table width="100%">
                    <tr>
                    <td width="38%">{{ wtf.form_field(form.code_1) }}</td>
                    <td width="4%">&nbsp;</td>
                    <td width="58%" style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_1) }}</td>
                    </tr>
                    <tr>
                    <td>{{ wtf.form_field(form.code_2) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_2) }}</td>
                    </tr>
                    <tr>
                    <td>{{ wtf.form_field(form.code_3) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td style="padding-bottom: 5px;">{{ wtf.form_field(form.code_explanation_3) }}</td>
                    </tr>
                    </table></td>
                    </tr>
                </table>
                <br>
                <table style="border: 1px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                    <td style="padding: 10px 15px 10px 20px;" width="48%">{{ wtf.form_field(form.storage_type) }}</td>
                    <td style="padding: 10px 20px 10px 15px;" width="48%" style="padding-bottom: 5px;">{{ wtf.form_field(form.storage_type_system) }}</td>
                    </tr>
                </table>
                <p>&nbsp;</p>

                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ wtf.form_field(form.md5) }}
                {{ wtf.form_field(form.mscale) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    <script>
    $(function()
    {
        let names = {{ custom_unit_names|tojson }};
        let descriptions = {{ custom_unit_descriptions|tojson }};

        $('#custom_unit').on('input', function() {
            $('#custom_unit_description').val('');
            for (i = 0; i < names.length; i++) {
                if (names[i] === $('#custom_unit').val()) {
                    // if we have the custom unit in our dictionary, fill in the description
                    $('#custom_unit_description').val(descriptions[i]);
                }
            }
        })

        $('#custom_unit').change(function() {
            $('#custom_unit_description').val('');
            for (i = 0; i < names.length; i++) {
                if (names[i] === $('#custom_unit').val()) {
                    // if we have the custom unit in our dictionary, fill in the description
                    $('#custom_unit_description').val(descriptions[i]);
                }
            }
        })
    });
    </script>
{% endblock %}