{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Variable Type for Attribute {{ entity_name }}</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.mscale_choice) }}<br/>
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>
{% endblock %}
