{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_clone_attributes_4_id, help_clone_attributes_4_title, help_clone_attributes_4_content = help[0] %}
    {% set help_clone_attributes_4_btn = help_clone_attributes_4_id ~ '_btn' %}
    {% set help_clone_attributes_4_dialog = help_clone_attributes_4_id ~ '_dialog' %}
    {% set help_clone_attributes_targets_id, help_clone_attributes_targets_title, help_clone_attributes_targets_content = help[1] %}
    {% set help_clone_attributes_targets_btn = help_clone_attributes_targets_id ~ '_btn' %}
    {% set help_clone_attributes_targets_dialog = help_clone_attributes_targets_id ~ '_dialog' %}

    <body onload="select_defaults();">
    <table border="0">
    <tr>
        <td colspan="2"><h2>Clone Column Properties</h2></td>
        <td width="50px" valign="middle" style="padding-top: 20px;padding-left: 5px;">{{ macros.help_button(help_clone_attributes_4_btn) }}</td>
        <td></td>
    </tr>
    </table>
    <table height="40px">
    <tr valign="top">
        <td width="30px">&nbsp;</td>
        <td width="165px"><h5 style="color: gray">From source data table:</h5></td>
        <td><h5>{{ table_name_in }}</h5></td>
    </tr>
    <tr valign="top">
        <td width="30px">&nbsp;</td>
        <td width="165px"><h5 style="color: gray">To target data table:</h5></td>
        <td><h5>{{ table_name_out }}</h5></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    </table>

    <script>
        function select_defaults() {
            $('select').each(function() {
                select_default(this.id);
            });
        }
        function escapeSelector(selector) {
            // There are a few characters that need to be escaped in a jQuery selector so they aren't interpreted as
            //  class selectors and the like. This function escapes those characters.
            return selector.replace(/([!"#$%&'()*+,.\/:;<=>?@[\\\]^`{|}~])/g, '\\$1');
        }
        function select_default(_select_id) {
            // We need to replace spaces with underscores in the SELECT id for jQuery to work properly
            let select_id = _select_id.replace(/ /g, '_');
            // Get rid of SELECT__ and __SELECT substrings
            let default_val = select_id.substring(8, select_id.length - 8);
            // jQuery interprets '.' as a class selector, so we need to escape '.' with '\\'.
            // There are various other chars that may be similarly problematic. We'll escape them all.
            select_id = escapeSelector(select_id);
            let selector = '#' + select_id + ' option';
            $(selector).filter(function() {
                let this_text = $(this).text().replace(/ /g, '_');
                return this_text === default_val;
            }).prop('selected', true);
        }
    </script>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table>
                    <tr><td style="padding: 5px;"><b>Source Column</b></td><td style="padding: 5px;color: black;"><b>&#8594;</b></td><td style="padding: 5px;"><b>Target Column</b>
                        <span>{{ macros.help_button(help_clone_attributes_targets_btn) }}</span></td></tr>
                    {% for source_attr in source_attrs %}
                    <tr><td style="padding: 5px;">{{ source_attr[0] }}</td><td></td><td style="padding: 5px;">
                        <select name="SELECT__{{ source_attr[0] }}__SELECT" id="SELECT__{{ source_attr[0]|replace(' ', '_') }}__SELECT">
                        <option value="">- select target column -</option>
                        {% for target_attr in target_attrs %}
                        <option value="{{ target_attr[1] }}">{{ target_attr[0] }}</option>
                        {% endfor %}
                    {% endfor %}
                </table>
                <p>&nbsp;</p>
                <input class="btn btn-primary" onclick="return confirm('Are you sure? This action cannot be undone.');" name="Clone" type="submit" value="Clone Column Properties"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_clone_attributes_4_dialog, help_clone_attributes_4_title, help_clone_attributes_4_content) }}
    {{ macros.help_dialog(help_clone_attributes_targets_dialog, help_clone_attributes_targets_title, help_clone_attributes_targets_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_clone_attributes_4_id, help_clone_attributes_4_title, help_clone_attributes_4_content = help[0] %}
    {% set help_clone_attributes_4_btn = help_clone_attributes_4_id ~ '_btn' %}
    {% set help_clone_attributes_4_dialog = help_clone_attributes_4_id ~ '_dialog' %}
    {% set help_clone_attributes_targets_id, help_clone_attributes_targets_title, help_clone_attributes_targets_content = help[1] %}
    {% set help_clone_attributes_targets_btn = help_clone_attributes_targets_id ~ '_btn' %}
    {% set help_clone_attributes_targets_dialog = help_clone_attributes_targets_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_clone_attributes_4_dialog, help_clone_attributes_4_btn) }}
        {{ macros.help_script(help_clone_attributes_targets_dialog, help_clone_attributes_targets_btn) }}
    });
    </script>
{% endblock %}