{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Code Definition</h2>
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ macros.column_table_header(column_name, table_name) }}
                <h5>Enter a code and its definition:</h5>
                {{ wtf.form_field(form.code) }}
                {{ wtf.form_field(form.definition) }}
                <h5>Optionally, enter an order value, e.g. '1', '2', '3', etc. (meaningful only for ordinal attributes):</h5>
                {{ wtf.form_field(form.order) }}
                <br/>
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_new_open_close_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
{% endblock %}
