{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_data_tables_id, help_data_tables_title, help_data_tables_content = help[0] %}
    {% set help_data_tables_btn = help_data_tables_id ~ '_btn' %}
    {% set help_data_tables_dialog = help_data_tables_id ~ '_dialog' %}
    {% set help_add_load_data_tables_id, help_add_load_data_tables_title, help_add_load_data_tables_content = help[1] %}
    {% set help_add_load_data_tables_btn = help_add_load_data_tables_id ~ '_btn' %}
    {% set help_add_load_data_tables_dialog = help_add_load_data_tables_id ~ '_dialog' %}
    {% set help_data_tables_reupload_id, help_data_tables_reupload_title, help_data_tables_reupload_content = help[2] %}
    {% set help_data_tables_reupload_btn = help_data_tables_reupload_id ~ '_btn' %}
    {% set help_data_tables_reupload_dialog = help_data_tables_reupload_id ~ '_dialog' %}
    {% set ns=namespace(reupload_help_displayed=false) %}
    {% endif %}

    <table>
        <td style="vertical-align:middle;padding-top: 12px;">
        {% set node_status = 'data_tables_status' %}
        {{ macros.local_status_badge_with_popup(badge_data[node_status], tooltip, dt_list | length) }}
        </td>
        <td style="width:3%"></td>
        <td><h2>Data Tables</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_data_tables_btn) }}</td>
    </table>

    <div class="row">
        <div class="col-md-11">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped" border="0">
                    <tr>
                        <th colspan="7">Data Table Name</th>
                    </tr>
                    {% for dt_entry in dt_list %}
                    <tr>
{#                        {{ macros.select_list_item_with_status_badge(dt_entry.id, '/eml/check_metadata#data_table:', dt_entry.label) }}#}
                        <td width="80%">
                        {% set node_id = dt_entry.id.split("|")[0] %}
                        {% set node_status = node_id + '_status' %}
                        {{ macros.status_badge_with_popup(badge_data[node_status], dt_entry.tooltip) }}
                        {{ dt_entry.label }}
                        </td>

                        {{ macros.up_down_arrow(dt_entry.id, dt_entry.upval) }}
                        {{ macros.up_down_arrow(dt_entry.id, dt_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ dt_entry.id }}" type="submit" value="Edit"/></td>
                        <td><input class="btn btn-primary" onclick="return confirm('Are you sure? This action cannot be undone.\n\nIf you intend to re-upload the table, do not remove it. Removing the table causes its metadata to be deleted, and it would then have to be re-entered.');" name="{{ dt_entry.id }}" type="submit" value="Remove"/></td>
                        {% if dt_entry.object_name %}
                        <td><input class="btn btn-primary" name="{{ dt_entry.id }}" type="submit" value="Re-upload"/>
                        </td>
{#                            {{ ns.reupload_help_displayed }}#}
                            {% if not ns.reupload_help_displayed %}
                            <td style="padding-top: 10px;">{{ macros.help_button(help_data_tables_reupload_btn, "ui-button ui-corner-all ui-widget") }}</td>
                            {% set ns.reupload_help_displayed = true %}
                            {% else %}
                            <td></td>
                            {% endif %}
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <table>
                    <td>
                        <input class="btn btn-primary" id="add_data_table" name="1" type="submit" value="Load Data Table from CSV File"/>&nbsp;&nbsp;
                        <input class="btn btn-primary" name="1" type="submit" value="Add Data Table from Scratch"/></td>
                    <td valign="middle" style="padding-left: 5px;">{{ macros.help_button(help_add_load_data_tables_btn) }}</td>
                </table>

                <br/><br/>
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_data_tables_dialog, help_data_tables_title, help_data_tables_content) }}
    {{ macros.help_dialog(help_add_load_data_tables_dialog, help_add_load_data_tables_title, help_add_load_data_tables_content) }}
    {{ macros.help_dialog(help_data_tables_reupload_dialog, help_data_tables_reupload_title, help_data_tables_reupload_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_data_tables_id, help_data_tables_title, help_data_tables_content = help[0] %}
    {% set help_data_tables_btn = help_data_tables_id ~ '_btn' %}
    {% set help_data_tables_dialog = help_data_tables_id ~ '_dialog' %}
    {% set help_add_load_data_tables_id, help_add_load_data_tables_title, help_add_load_data_tables_content = help[1] %}
    {% set help_add_load_data_tables_btn = help_add_load_data_tables_id ~ '_btn' %}
    {% set help_add_load_data_tables_dialog = help_add_load_data_tables_id ~ '_dialog' %}
    {% set help_data_tables_reupload_id, help_data_tables_reupload_title, help_data_tables_reupload_content = help[2] %}
    {% set help_data_tables_reupload_btn = help_data_tables_reupload_id ~ '_btn' %}
    {% set help_data_tables_reupload_dialog = help_data_tables_reupload_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_data_tables_dialog, help_data_tables_btn) }}
        {{ macros.help_script(help_add_load_data_tables_dialog, help_add_load_data_tables_btn) }}
        {{ macros.help_script(help_data_tables_reupload_dialog, help_data_tables_reupload_btn) }}
    });
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}

{% endblock %}