{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_data_tables_id, help_data_tables_title, help_data_tables_content = help[0] %}
    {% set help_data_tables_btn = help_data_tables_id ~ '_btn' %}
    {% set help_data_tables_dialog = help_data_tables_id ~ '_dialog' %}
    {% set help_data_table_name_id, help_data_table_name_title, help_data_table_name_content = help[1] %}
    {% set help_data_table_name_btn = help_data_table_name_id ~ '_btn' %}
    {% set help_data_table_name_dialog = help_data_table_name_id ~ '_dialog' %}
    {% set help_data_table_description_id, help_data_table_description_title, help_data_table_description_content = help[2] %}
    {% set help_data_table_description_btn = help_data_table_description_id ~ '_btn' %}
    {% set help_data_table_description_dialog = help_data_table_description_id ~ '_dialog' %}
    {% set help_data_table_object_name_id, help_data_table_object_name_title, help_data_table_object_name_content = help[3] %}
    {% set help_data_table_object_name_btn = help_data_table_object_name_id ~ '_btn' %}
    {% set help_data_table_object_name_dialog = help_data_table_object_name_id ~ '_dialog' %}
    {% set help_data_table_attribute_orientation_id, help_data_table_attribute_orientation_title, help_data_table_attribute_orientation_content = help[4] %}
    {% set help_data_table_attribute_orientation_btn = help_data_table_attribute_orientation_id ~ '_btn' %}
    {% set help_data_table_attribute_orientation_dialog = help_data_table_attribute_orientation_id ~ '_dialog' %}
    {% set help_data_table_field_delimiter_id, help_data_table_field_delimiter_title, help_data_table_field_delimiter_content = help[5] %}
    {% set help_data_table_field_delimiter_btn = help_data_table_field_delimiter_id ~ '_btn' %}
    {% set help_data_table_field_delimiter_dialog = help_data_table_field_delimiter_id ~ '_dialog' %}
    {% set help_data_table_size_id, help_data_table_size_title, help_data_table_size_content = help[6] %}
    {% set help_data_table_size_btn = help_data_table_size_id ~ '_btn' %}
    {% set help_data_table_size_dialog = help_data_table_size_id ~ '_dialog' %}
    {% set help_data_table_checksum_id, help_data_table_checksum_title, help_data_table_checksum_content = help[7] %}
    {% set help_data_table_checksum_btn = help_data_table_checksum_id ~ '_btn' %}
    {% set help_data_table_checksum_dialog = help_data_table_checksum_id ~ '_dialog' %}
    {% set help_data_table_header_lines_id, help_data_table_header_lines_title, help_data_table_header_lines_content = help[8] %}
    {% set help_data_table_header_lines_btn = help_data_table_header_lines_id ~ '_btn' %}
    {% set help_data_table_header_lines_dialog = help_data_table_header_lines_id ~ '_dialog' %}
    {% set help_data_table_record_delimiter_id, help_data_table_record_delimiter_title, help_data_table_record_delimiter_content = help[9] %}
    {% set help_data_table_record_delimiter_btn = help_data_table_record_delimiter_id ~ '_btn' %}
    {% set help_data_table_record_delimiter_dialog = help_data_table_record_delimiter_id ~ '_dialog' %}
    {% set help_data_table_quote_character_id, help_data_table_quote_character_title, help_data_table_quote_character_content = help[10] %}
    {% set help_data_table_quote_character_btn = help_data_table_quote_character_id ~ '_btn' %}
    {% set help_data_table_quote_character_dialog = help_data_table_quote_character_id ~ '_dialog' %}
    {% set help_data_table_case_sensitive_id, help_data_table_case_sensitive_title, help_data_table_case_sensitive_content = help[11] %}
    {% set help_data_table_case_sensitive_btn = help_data_table_case_sensitive_id ~ '_btn' %}
    {% set help_data_table_case_sensitive_dialog = help_data_table_case_sensitive_id ~ '_dialog' %}
    {% set help_data_table_number_of_records_id, help_data_table_number_of_records_title, help_data_table_number_of_records_content = help[12] %}
    {% set help_data_table_number_of_records_btn = help_data_table_number_of_records_id ~ '_btn' %}
    {% set help_data_table_number_of_records_dialog = help_data_table_number_of_records_id ~ '_dialog' %}
    {% set help_data_table_online_url_id, help_data_table_online_url_title, help_data_table_online_url_content = help[13] %}
    {% set help_data_table_online_url_btn = help_data_table_online_url_id ~ '_btn' %}
    {% set help_data_table_online_url_dialog = help_data_table_online_url_id ~ '_dialog' %}
    {% set help_clone_attributes_general_id, help_clone_attributes_general_title, help_clone_attributes_general_content = help[14] %}
    {% set help_clone_attributes_general_btn = help_clone_attributes_general_id ~ '_btn' %}
    {% set help_clone_attributes_general_dialog = help_clone_attributes_general_id ~ '_dialog' %}

    <table>
        <td><h2>Data Table</h2></td>
        <td valign="middle" style="padding-top: 15px;padding-left: 15px;">{{ macros.help_button(help_data_tables_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                <h5>Enter information about the data table object:</h5>
                {{ macros.item_start() }}{{ wtf.form_field(form.entity_name) }}{{ macros.item_end(help_data_table_name_btn) }}
                {{ macros.item_start() }}{{ wtf.form_field(form.entity_description) }}{{ macros.item_end(help_data_table_description_btn) }}
                {{ macros.item_start() }}{{ wtf.form_field(form.object_name, readonly=was_uploaded) }}{{ macros.item_end(help_data_table_object_name_btn) }}

                <table style="display: none;">
                <tr>
                <td class="table_cell">
                {{ macros.item_start() }}{{ wtf.form_field(form.attribute_orientation) }}{{ macros.item_end(help_data_table_attribute_orientation_btn) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ macros.item_start() }}{{ wtf.form_field(form.num_header_lines) }}{{ macros.item_end(help_data_table_header_lines_btn) }}
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.field_delimiter) }}{{ macros.item_end(help_data_table_field_delimiter_btn) }}
                </span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.record_delimiter) }}{{ macros.item_end(help_data_table_record_delimiter_btn) }}
                </span>
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.quote_character) }}{{ macros.item_end(help_data_table_quote_character_btn) }}
                </span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.case_sensitive) }}{{ macros.item_end(help_data_table_case_sensitive_btn) }}
                </span>
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.size) }}{{ macros.item_end(help_data_table_size_btn) }}
                </span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.md5_hash) }}{{ macros.item_end(help_data_table_checksum_btn) }}
                </span>
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.number_of_records) }}{{ macros.item_end(help_data_table_number_of_records_btn) }}
                </span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">
                {{ macros.item_start() }}{{ wtf.form_field(form.online_url) }}{{ macros.item_end(help_data_table_online_url_btn) }}
                </span>
                </td>
                </tr>
                </table>

{#                <br/>#}
                <h4>Columns:</h4>
                {{ atts }}
                <br/><br/>
{#                <input class="btn btn-primary" name="Attributes" type="submit" value="Edit Column Properties"/>&nbsp;#}
{#                <input class="btn btn-primary" name="Clone" type="submit" value="Clone Column Properties from Another Data Table"/>#}


                <table>
                    <td><input class="btn btn-primary"
                               name="Attributes" type="submit" value="Edit Column Properties"/>&nbsp;
                        <input class="btn btn-primary" name="Clone" type="submit" value="Clone Column Properties from Another Data Table"/></td>
                    <td valign="middle" style="padding-top: 5px;">{{ macros.help_button(help_clone_attributes_general_btn) }}
                    </td>
                </table>

                <br/><br/>
{#                <h4>Data Table Coverage (Optional):</h4>#}
{#                <input class="btn btn-primary" name="Geographic" type="submit" value="Edit Geographic Coverage"/>#}
{#                <br/><br/>#}
{#                <input class="btn btn-primary" name="Temporal" type="submit" value="Edit Temporal Coverage"/>#}
{#                <br/><br/>#}
{#                <input class="btn btn-primary" name="Taxonomic" type="submit" value="Edit Taxonomic Coverage"/>#}
{#                <br/><br/><br/>#}
{#                <h4>Data Table Methods (Optional):</h4>#}
{#                <input class="btn btn-primary" name="Methods" type="submit" value="Edit Methods"/>#}
{#                <br/><br/>#}

                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>&nbsp;
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>

                {{ macros.hidden_new_open_close_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
            <p>&nbsp;</p>
        </div>
    </div>
    {{ macros.help_dialog(help_data_tables_dialog, help_data_tables_title, help_data_tables_content) }}
    {{ macros.help_dialog(help_data_table_name_dialog, help_data_table_name_title, help_data_table_name_content) }}
    {{ macros.help_dialog(help_data_table_description_dialog, help_data_table_description_title, help_data_table_description_content) }}
    {{ macros.help_dialog(help_data_table_object_name_dialog, help_data_table_object_name_title, help_data_table_object_name_content) }}
    {{ macros.help_dialog(help_data_table_attribute_orientation_dialog, help_data_table_attribute_orientation_title, help_data_table_attribute_orientation_content) }}
    {{ macros.help_dialog(help_data_table_field_delimiter_dialog, help_data_table_field_delimiter_title, help_data_table_field_delimiter_content) }}
    {{ macros.help_dialog(help_data_table_size_dialog, help_data_table_size_title, help_data_table_size_content) }}
    {{ macros.help_dialog(help_data_table_checksum_dialog, help_data_table_checksum_title, help_data_table_checksum_content) }}
    {{ macros.help_dialog(help_data_table_header_lines_dialog, help_data_table_header_lines_title, help_data_table_header_lines_content) }}
    {{ macros.help_dialog(help_data_table_record_delimiter_dialog, help_data_table_record_delimiter_title, help_data_table_record_delimiter_content) }}
    {{ macros.help_dialog(help_data_table_quote_character_dialog, help_data_table_quote_character_title, help_data_table_quote_character_content) }}
    {{ macros.help_dialog(help_data_table_case_sensitive_dialog, help_data_table_case_sensitive_title, help_data_table_case_sensitive_content) }}
    {{ macros.help_dialog(help_data_table_number_of_records_dialog, help_data_table_number_of_records_title, help_data_table_number_of_records_content) }}
    {{ macros.help_dialog(help_data_table_online_url_dialog, help_data_table_online_url_title, help_data_table_online_url_content) }}
    {{ macros.help_dialog(help_clone_attributes_general_dialog, help_clone_attributes_general_title, help_clone_attributes_general_content) }}

{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_data_tables_id, help_data_tables_title, help_data_tables_content = help[0] %}
    {% set help_data_tables_btn = help_data_tables_id ~ '_btn' %}
    {% set help_data_tables_dialog = help_data_tables_id ~ '_dialog' %}
    {% set help_data_table_name_id, help_data_table_name_title, help_data_table_name_content = help[1] %}
    {% set help_data_table_name_btn = help_data_table_name_id ~ '_btn' %}
    {% set help_data_table_name_dialog = help_data_table_name_id ~ '_dialog' %}
    {% set help_data_table_description_id, help_data_table_description_title, help_data_table_description_content = help[2] %}
    {% set help_data_table_description_btn = help_data_table_description_id ~ '_btn' %}
    {% set help_data_table_description_dialog = help_data_table_description_id ~ '_dialog' %}
    {% set help_data_table_object_name_id, help_data_table_object_name_title, help_data_table_object_name_content = help[3] %}
    {% set help_data_table_object_name_btn = help_data_table_object_name_id ~ '_btn' %}
    {% set help_data_table_object_name_dialog = help_data_table_object_name_id ~ '_dialog' %}
    {% set help_data_table_attribute_orientation_id, help_data_table_attribute_orientation_title, help_data_table_attribute_orientation_content = help[4] %}
    {% set help_data_table_attribute_orientation_btn = help_data_table_attribute_orientation_id ~ '_btn' %}
    {% set help_data_table_attribute_orientation_dialog = help_data_table_attribute_orientation_id ~ '_dialog' %}
    {% set help_data_table_field_delimiter_id, help_data_table_field_delimiter_title, help_data_table_field_delimiter_content = help[5] %}
    {% set help_data_table_field_delimiter_btn = help_data_table_field_delimiter_id ~ '_btn' %}
    {% set help_data_table_field_delimiter_dialog = help_data_table_field_delimiter_id ~ '_dialog' %}
    {% set help_data_table_size_id, help_data_table_size_title, help_data_table_size_content = help[6] %}
    {% set help_data_table_size_btn = help_data_table_size_id ~ '_btn' %}
    {% set help_data_table_size_dialog = help_data_table_size_id ~ '_dialog' %}
    {% set help_data_table_checksum_id, help_data_table_checksum_title, help_data_table_checksum_content = help[7] %}
    {% set help_data_table_checksum_btn = help_data_table_checksum_id ~ '_btn' %}
    {% set help_data_table_checksum_dialog = help_data_table_checksum_id ~ '_dialog' %}
    {% set help_data_table_header_lines_id, help_data_table_header_lines_title, help_data_table_header_lines_content = help[8] %}
    {% set help_data_table_header_lines_btn = help_data_table_header_lines_id ~ '_btn' %}
    {% set help_data_table_header_lines_dialog = help_data_table_header_lines_id ~ '_dialog' %}
    {% set help_data_table_record_delimiter_id, help_data_table_record_delimiter_title, help_data_table_record_delimiter_content = help[9] %}
    {% set help_data_table_record_delimiter_btn = help_data_table_record_delimiter_id ~ '_btn' %}
    {% set help_data_table_record_delimiter_dialog = help_data_table_record_delimiter_id ~ '_dialog' %}
    {% set help_data_table_quote_character_id, help_data_table_quote_character_title, help_data_table_quote_character_content = help[10] %}
    {% set help_data_table_quote_character_btn = help_data_table_quote_character_id ~ '_btn' %}
    {% set help_data_table_quote_character_dialog = help_data_table_quote_character_id ~ '_dialog' %}
    {% set help_data_table_case_sensitive_id, help_data_table_case_sensitive_title, help_data_table_case_sensitive_content = help[11] %}
    {% set help_data_table_case_sensitive_btn = help_data_table_case_sensitive_id ~ '_btn' %}
    {% set help_data_table_case_sensitive_dialog = help_data_table_case_sensitive_id ~ '_dialog' %}
    {% set help_data_table_number_of_records_id, help_data_table_number_of_records_title, help_data_table_number_of_records_content = help[12] %}
    {% set help_data_table_number_of_records_btn = help_data_table_number_of_records_id ~ '_btn' %}
    {% set help_data_table_number_of_records_dialog = help_data_table_number_of_records_id ~ '_dialog' %}
    {% set help_data_table_online_url_id, help_data_table_online_url_title, help_data_table_online_url_content = help[13] %}
    {% set help_data_table_online_url_btn = help_data_table_online_url_id ~ '_btn' %}
    {% set help_data_table_online_url_dialog = help_data_table_online_url_id ~ '_dialog' %}
    {% set help_clone_attributes_general_id, help_clone_attributes_general_title, help_clone_attributes_general_content = help[14] %}
    {% set help_clone_attributes_general_btn = help_clone_attributes_general_id ~ '_btn' %}
    {% set help_clone_attributes_general_dialog = help_clone_attributes_general_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_data_tables_dialog, help_data_tables_btn) }}
        {{ macros.help_script(help_data_table_name_dialog, help_data_table_name_btn) }}
        {{ macros.help_script(help_data_table_description_dialog, help_data_table_description_btn) }}
        {{ macros.help_script(help_data_table_object_name_dialog, help_data_table_object_name_btn) }}
        {{ macros.help_script(help_data_table_attribute_orientation_dialog, help_data_table_attribute_orientation_btn) }}
        {{ macros.help_script(help_data_table_field_delimiter_dialog, help_data_table_field_delimiter_btn) }}
        {{ macros.help_script(help_data_table_size_dialog, help_data_table_size_btn) }}
        {{ macros.help_script(help_data_table_checksum_dialog, help_data_table_checksum_btn) }}
        {{ macros.help_script(help_data_table_header_lines_dialog, help_data_table_header_lines_btn) }}
        {{ macros.help_script(help_data_table_record_delimiter_dialog, help_data_table_record_delimiter_btn) }}
        {{ macros.help_script(help_data_table_quote_character_dialog, help_data_table_quote_character_btn) }}
        {{ macros.help_script(help_data_table_case_sensitive_dialog, help_data_table_case_sensitive_btn) }}
        {{ macros.help_script(help_data_table_number_of_records_dialog, help_data_table_number_of_records_btn) }}
        {{ macros.help_script(help_data_table_online_url_dialog, help_data_table_online_url_btn) }}
        {{ macros.help_script(help_clone_attributes_general_dialog, help_clone_attributes_general_btn) }}

    });
    </script>
{% endblock %}