html {
    visibility: hidden;
}

.error {
    color: red
}

.input_value {
    font-weight: normal!important;
}

.table-bordered {
    border: 1px solid black;
}
.table_cell {
    width: 500px;
}
#taxonomy tr:nth-child(even) {
    background-color: #f2f2f2;
}

.errors_table tr:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 3px;
}

.loader {
  border: 4px solid #e3e3e3; /* Light grey */
  border-top: 4px solid steelblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Suppress hrefs when printing a page */
@media print {
  a[href]:after {
    content: none !important;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.red_circle {
    display:inline-block;
    background-color:red;
    border:1px solid red;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8px;
    height:8px;
}
.yellow_circle {
    display:inline-block;
    background-color:orange;
    border:1px solid orange;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8px;
    height:8px;
}
.green_circle {
    display:inline-block;
    background-color:mediumseagreen;
    border:1px solid mediumseagreen;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:8px;
    height:8px;
}

.button.link {
    background:none;
    border:none;
    padding:0;
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    cursor:pointer;
}
.button.link:hover{
    text-decoration:underline;
}

.eval_table td {
    padding:3px;
}

.eval_table tr:hover {
    background-color: #e8e8e8 !important;
}

.eval_table tr:hover td {
    background: transparent;
}