html {
    visibility: hidden;
}

.error {
    color: red
}

.input_value {
    font-weight: normal!important;
}

.table-bordered {
    border: 1px solid black;
}
.table_cell {
    width: 500px;
}

#taxonomy tr:nth-child(even) {
    background-color: #f2f2f2;
}

.errors_table tr:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 3px;
}

.loader {
  border: 4px solid #e3e3e3; /* Light grey */
  border-top: 4px solid steelblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Suppress hrefs when printing a page */
@media print {
  a[href]:after {
    content: none !important;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.red_circle {
    display:inline-block;
    background-color:#B21111;
    border:1px solid #B21111;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:9px;
    height:9px;
    /*margin-bottom: 1px;*/
    pointer-events: auto;
}
.red_circle:hover {
    text-decoration: none;
}
.yellow_circle {
    display:inline-block;
    background-color:#FFA500;
    border:1px solid #FFA500;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:9px;
    height:9px;
    /*margin-bottom: 1px;*/
}
.yellow_circle:hover {
    text-decoration: none;
}
.green_circle {
    display:inline-block;
    background-color:#009E60;
    border:1px solid #009E60;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:9px;
    height:9px;
    /*margin-bottom: 1px;*/
}
.white_circle {
    display:inline-block;
    background-color:white;
    border:1px solid white;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:9px;
    height:9px;
    /*margin-bottom: 1px;*/
}
.white_key_circle {
    display:inline-block;
    background-color:white;
    border:1px solid lightgray;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:9px;
    height:9px;
    margin-bottom: 1px;
}

.button.link {
    background:none;
    border:none;
    padding:0;
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    cursor:pointer;
}
.button.link:hover{
    text-decoration:underline;
}

.popup.link {
    background:none;
    border:none;
    padding:0;
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    /*color:#515151;*/
    cursor:pointer;
}
.popup.link:hover{
    text-decoration:underline;
}
a.no-underline:hover {
  text-decoration: none;
}

.eval_table td {
    padding:3px;
    vertical-align:top;
}

.eval_table tr:hover {
    background-color:  #e8e8e8 !important;
}

.eval_table tr:hover td {
    background: transparent;
}

.highlight_error {
    border: 2px solid red !important;
}
.highlight_warning {
    border: 2px solid orange !important;
}

.badged_page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.whitespace {
    width: 3px;
    height: 0;
}
.right_justified {
    margin-right: auto;
}

@keyframes pulsate {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}
.pulsate {
  animation: pulsate 0.2s 10;
}

.modal-dialog {
    display: flex;
    align-items: center; /* This centers the modal vertically in the viewport */
    min-height: calc(100vh - 60px); /* Adjust 60px to account for margin you want above and below the modal */
}

.modal {
    overflow-y: auto;
}