server {
	listen 80;
	server_name ezeml.edirepository.org;
	root /var/www/html;


	location / {
		index index.html index.htm index.nginx-debian.html;
		try_files $uri $uri/ =404;
	}


	location /static {
		root /home/pasta/ezeml/webapp;
	}

	location /eml {
		include uwsgi_params;
		uwsgi_pass unix:///tmp/ezeml.sock;
   		proxy_no_cache 1;
    		proxy_cache_bypass 1;
		client_max_body_size 500m;
	}

    	listen 443 ssl; # managed by Certbot
    	ssl_certificate /etc/letsencrypt/live/sam.edirepository.org/fullchain.pem; # managed by Certbot
    	ssl_certificate_key /etc/letsencrypt/live/sam.edirepository.org/privkey.pem; # managed by Certbot
    	include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

        if ($scheme != "https") {
                return 301 https://$host$request_uri;
        } # managed by Certbot

}
}