server {
    listen 80;
    server_name metadata.edirepository.org;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
        root /var/www/html;
            index index.html index.htm index.nginx-debian.html;
                try_files $uri $uri/ =404;
        }

    location /eml {
        include uwsgi_params;
        uwsgi_pass unix:///tmp/metadata-eml.sock;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/rose.edirepository.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/rose.edirepository.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot


}