{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Login</h2>
    <div style="padding-top: 15px;"/>
    <p></p>
    <div style="border: 2px solid steelblue;padding: 15px;">
        <b>Important:</b> ezEML stores your EML documents according to your login information. If you
        create an EML document under a particular account, when you log into that account in the future,
        you'll find that ezEML knows about the previously created EML document.
        But if you log in using a different account, ezEML will not be able to recognize you as the
        same user who created the earlier document, so you won’t have access to it. So, it's important to remember
        what login you use.
    </div>
    <p>&nbsp;</p>
    <h4>Click one of the icons below to log in using your Google, GitHub, or ORCID login credentials.</h4>
	<p>
        <a href="{{ auth }}/login/google?target={{ target }}" onclick="log_login_usage('google');"><img src="/static/btn_google_signin_light_normal_web.png"/></a>&nbsp;&nbsp;
	    <a href="{{ auth }}/login/github?target={{ target }}" onclick="log_login_usage('github');"><img src="/static/btn_github_signin_light_normal_web.png"/></a>&nbsp;&nbsp;
	    <a href="{{ auth }}/login/orcid?target={{ target }}" onclick="log_login_usage('orcid');"><img src="/static/btn_orcid_signin_light_normal_web.png"/></a>
    </p>
    <p>&nbsp;</p>
    <hr style="border:1px solid grey;">
    <p>&nbsp;</p>
    <h5>Alternatively, if you have an EDI account, you may log in using your EDI credentials instead, below.<br>Note: you are not
        required to have an EDI account to use ezEML or to submit data to the EDI repository.</h5>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
	<div style="padding-top: 2em">
        <p>
            Please read our <a class="searchsubcat" href="https://environmentaldatainitiative.org/environmental-data-initiative-privacy-policy">
            privacy policy</a> to know what information we collect about you and to understand your privacy rights.
        </p>
    </div>

    </div>

{% endblock %}


{% block app_scripts %}
    {{ super() }}
    {% import '_config.html' as config %}
    <script>
    function log_login_usage(login_type)
    {
        {# AJAX call to log help usage #}
        let url = '{{ config.ajax_host }}' + 'log_login_usage/' + login_type;
        $.get(url, function(response, status) {});
    }
    </script>
{% endblock %}
