{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_login_id, help_login_title, help_login_content = help[0] %}
    {% set help_login_btn = help_login_id ~ '_btn' %}
    {% set help_login_dialog = help_login_id ~ '_dialog' %}

    <script>
        function displayEDILogin() {
            $("#EDI").css('display', 'block');
        }
    </script>

    <h2 style="padding-left: 0px;">ezEML Login</h2>
    <div style="padding-top: 15px;"/>
    <p></p>

    <h4>Click one of the options below.</h4>

    <table>
        <td>You do not need an EDI account to use ezEML.</td>
        <td style="width: 50px;">&nbsp;</td>
        <td valign="top" style="padding-top: 0px;padding-left: 5px;">{{ macros.help_button(help_login_btn) }}</td>
    </table>
	<p>
        <p>&nbsp;</p>
        <a style="padding-left: 40px;" href="{{ auth }}/login/google?target={{ target }}" onclick="log_login_usage('google');"><img src="/static/btn_google_signin_light_normal_web.png"/></a>
        <p>&nbsp;</p>
	    <a style="padding-left: 40px;" href="{{ auth }}/login/orcid?target={{ target }}" onclick="log_login_usage('orcid');"><img src="/static/btn_orcid_signin_light_normal_web.png"/></a>
        <p>&nbsp;</p>
	    <a style="padding-left: 40px;" href="{{ auth }}/login/github?target={{ target }}" onclick="log_login_usage('github');"><img src="/static/btn_github_signin_light_normal_web.png"/></a>&nbsp;&nbsp;
        <p>&nbsp;</p>
	    <a style="padding-left: 105px;cursor: pointer;" onclick="displayEDILogin();"><img style="width: 70px;height: 70px;" src="/static/EDI-logo-300DPI_5.png"/></a>
{#        <p>&nbsp;</p>#}

    </p>
    <div id="EDI" class="row" style="display: none;padding-top: 2em;">
        <div class="col-md-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
	<div style="padding-top: 2em;">
        <p>
            Please read our <a class="searchsubcat" href="https://edirepository.org/about/edi-policy#privacy-policy">
            privacy policy</a> to know what information we<br>collect about you and to understand your privacy rights.
        </p>
    </div>

    </div>
    {{ macros.help_dialog(help_login_dialog, help_login_title, help_login_content) }}
{% endblock %}


{% block app_scripts %}
    {{ super() }}
    {% set help_login_id, help_login_title, help_login_content = help[0] %}
    {% set help_login_btn = help_login_id ~ '_btn' %}
    {% set help_login_dialog = help_login_id ~ '_dialog' %}

    {% import '_config.html' as config %}
    <script>
    function log_login_usage(login_type)
    {
        {# AJAX call to log help usage #}
        let url = '{{ config.ajax_host }}' + 'log_login_usage/' + login_type;
        $.get(url, function(response, status) {});
    }
    $(function()
    {
        {{ macros.help_script(help_login_dialog, help_login_btn) }}
    });
    </script>
{% endblock %}
