{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>You must verify your email before continuing.</h2>
{#    <div style="padding-top: 4em; text-align: center">#}
        Please check your inbox for a verification confirmation sent by Auth0.<br>
        <a class="nav navbar-nav" href="/eml/auth/logout">Click here once you have verified your email to attempt to log in again.</a><br>
        <p>If you did not receive or do not see a verification email please contact motherdbproject@gmail.com and request a new one be sent. </p>
    </div>

{% endblock %}