{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_abstract_id, help_abstract_title, help_abstract_content = help[0] %}
    {% set help_abstract_btn = help_abstract_id ~ '_btn' %}
    {% set help_abstract_dialog = help_abstract_id ~ '_dialog' %}

    <h2>Abstract</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the abstract text below:</h5>
                <table>
                    <td>{{ wtf.form_field(form.abstract, rows=10, cols=100) }}</td>
                    <td valign="top" style="padding-top: 35px;">{{ macros.help_button(help_abstract_btn) }}</td>
                </table>
                
                {{ wtf.form_field(form.md5) }}
{#                <br/>#}
{#                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>#}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_abstract_dialog, help_abstract_title, help_abstract_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_abstract_id, help_abstract_title, help_abstract_content = help[0] %}
    {% set help_abstract_btn = help_abstract_id ~ '_btn' %}
    {% set help_abstract_dialog = help_abstract_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_abstract_dialog, help_abstract_btn) }}
    });
    </script>
{% endblock %}