{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_abstract_id, help_abstract_title, help_abstract_content = help[0] %}
    {% set help_abstract_btn = help_abstract_id ~ '_btn' %}
    {% set help_abstract_dialog = help_abstract_id ~ '_dialog' %}

    <table>
        <td style="vertical-align:middle;padding-top: 12px;">
        {% set node_status = 'abstract_status' %}
        {{ macros.local_status_badge_with_popup(badge_data[node_status], tooltip) }}
        </td>
        <td style="width:3%"></td>
        <td><h2>Abstract</h2></td>
    </table>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Enter the abstract text below:</h5>

                {% if model_has_complex_texttypes %}
                {% set font_family='Courier' %}
                {% endif %}
                <span style="font-family:{{ font_family }}">
                {{ macros.item_start() }}{{ wtf.form_field(form.abstract, rows=15, cols=120) }}
                {{ macros.help_and_check_xml_buttons(help_abstract_btn, "check_xml", model_has_complex_texttypes) }}
                {{ wtf.form_field(form.md5) }}

                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="submit" value="Reset Changes"/>

                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_abstract_dialog, help_abstract_title, help_abstract_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_abstract_id, help_abstract_title, help_abstract_content = help[0] %}
    {% set help_abstract_btn = help_abstract_id ~ '_btn' %}
    {% set help_abstract_dialog = help_abstract_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_abstract_dialog, help_abstract_btn) }}
    });
    </script>
    <script>
        {{ macros.check_xml_btn_handler('#check_xml', '#abstract', 'abstract') }}
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}

{% endblock %}