{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_data_package_id_id, help_data_package_id_title, help_data_package_id_content = help[0] %}
    {% set help_data_package_id_btn = help_data_package_id_id ~ '_btn' %}
    {% set help_data_package_id_dialog = help_data_package_id_id ~ '_dialog' %}

    <h2>Data Package ID</h2>
{#    <div class="row">#}
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                EML requires a data package to have a <b>Data Package ID</b>, but if you are going to submit
                to EDI you can leave it blank. Then, when you use <a href="{{ url_for('home.submit_package') }}">
                <b>Submit to EDI</b></a> to send your package to EDI, our data curation team will take care of assigning an
                ID and adding it to the metadata for you.
                <p></p>
                In the event that you've already obtained a Data Package ID (e.g., from your site data manager), enter it here.
                <p></p>
                For data repositories other than EDI’s, contact the data repository for an appropriate Data Package ID value.
                <p>&nbsp;</p>
                <p></p>

                <table>
                    <td>{{ wtf.form_field(form.data_package_id, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_data_package_id_btn) }}</td>
                </table>
                <br/>
                <table>
                    <td><input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                        <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/></td>
                </table>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
{#    </div>#}

    {{ macros.help_dialog(help_data_package_id_dialog, help_data_package_id_title, help_data_package_id_content) }}

{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_data_package_id_id, help_data_package_id_title, help_data_package_id_content = help[0] %}
    {% set help_data_package_id_btn = help_data_package_id_id ~ '_btn' %}
    {% set help_data_package_id_dialog = help_data_package_id_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_data_package_id_dialog, help_data_package_id_btn) }}
    });
    </script>
{% endblock %}