{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_intellectual_rights_id, help_intellectual_rights_title, help_intellectual_rights_content = help[0] %}
    {% set help_intellectual_rights_btn = help_intellectual_rights_id ~ '_btn' %}
    {% set help_intellectual_rights_dialog = help_intellectual_rights_id ~ '_dialog' %}
    
    <table>
        <td><h1>Intellectual Rights</h1></td>
        <td valign="middle" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_intellectual_rights_btn) }}</td>
    </table>
{#    <div class="row">#}
        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                <h5>Please choose from one of the intellectual rights options shown below:</h5>
                {{ wtf.form_field(form.intellectual_rights_radio) }}
                {{ wtf.form_field(form.intellectual_rights, rows=6) }}
                <br/>
{#                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>#}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
{#    </div>#}

    {{ macros.help_dialog(help_intellectual_rights_dialog, help_intellectual_rights_title, help_intellectual_rights_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_intellectual_rights_id, help_intellectual_rights_title, help_intellectual_rights_content = help[0] %}
    {% set help_intellectual_rights_btn = help_intellectual_rights_id ~ '_btn' %}
    {% set help_intellectual_rights_dialog = help_intellectual_rights_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_intellectual_rights_dialog, help_intellectual_rights_btn) }}
    });
    </script>
{% endblock %}