{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_intellectual_rights_id, help_intellectual_rights_title, help_intellectual_rights_content = help[0] %}
    {% set help_intellectual_rights_btn = help_intellectual_rights_id ~ '_btn' %}
    {% set help_intellectual_rights_dialog = help_intellectual_rights_id ~ '_dialog' %}
    
    <table>
        <td style="vertical-align:middle;padding-top: 12px;">
        {% set node_status = 'intellectual_rights_status' %}
        {{ macros.local_status_badge_with_popup(session[node_status], tooltip) }}
        </td>
        <td style="width:3%"></td>
        <td><h2>Intellectual Rights</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_intellectual_rights_btn) }}</td>
    </table>

        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form">
                <h5>Choose from one of the intellectual rights options shown below:</h5>
                {{ wtf.form_field(form.intellectual_rights_radio) }}

                {% if model_has_complex_texttypes %}
                {% set font_family='Courier' %}
                {% endif %}

                <span style="font-family:{{ font_family }}">
                {{ macros.check_xml_start() }}{{ wtf.form_field(form.intellectual_rights, rows=6) }}
                    {{ macros.check_xml_end('check_xml', model_has_complex_texttypes) }}

                <br/>
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="submit" value="Reset Changes"/>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
{#    </div>#}

    {{ macros.help_dialog(help_intellectual_rights_dialog, help_intellectual_rights_title, help_intellectual_rights_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_intellectual_rights_id, help_intellectual_rights_title, help_intellectual_rights_content = help[0] %}
    {% set help_intellectual_rights_btn = help_intellectual_rights_id ~ '_btn' %}
    {% set help_intellectual_rights_dialog = help_intellectual_rights_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_intellectual_rights_dialog, help_intellectual_rights_btn) }}
    });
    </script>
    <script>
        {{ macros.check_xml_btn_handler('#check_xml', '#intellectual_rights', 'intellectualRights') }}
    </script>

    {{ macros.popup_support() }}

{% endblock %}