{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Keywords</h1>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th>Keyword</th>
                        <th>Keyword&nbsp;Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for kw_entry in kw_list %}
                    <tr>
                        <td width="50%">{{ kw_entry.keyword }}</td>
                        <td>{{ kw_entry.keyword_type }}</td>
                        {{ macros.up_down_arrow(kw_entry.id, kw_entry.upval) }}
                        {{ macros.up_down_arrow(kw_entry.id, kw_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ kw_entry.id }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ kw_entry.id }}" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="1" type="submit" value="Add Keyword"/>
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
            </form>
        </div>
    </div>
{% endblock %}
