{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_keywords_id, help_keywords_title, help_keywords_content = help[0] %}
    {% set help_keywords_btn = help_keywords_id ~ '_btn' %}
    {% set help_keywords_dialog = help_keywords_id ~ '_dialog' %}
    
    <table>
        <td><h2>Keywords</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_keywords_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th>Keyword</th>
{#                        <th>Keyword&nbsp;Type</th>#}
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for kw_entry in kw_list %}
                    <tr>
                        <td width="50%">{{ kw_entry.keyword }}</td>
{#                        <td>{{ kw_entry.keyword_type }}</td>#}
                        {{ macros.up_down_arrow(kw_entry.id, kw_entry.upval) }}
                        {{ macros.up_down_arrow(kw_entry.id, kw_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ kw_entry.id }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ kw_entry.id }}" onclick="return confirm('Are you sure?');" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="1" type="submit" value="Add Keyword"/>
                <br/><br/>
{#                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>#}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_keywords_dialog, help_keywords_title, help_keywords_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_keywords_id, help_keywords_title, help_keywords_content = help[0] %}
    {% set help_keywords_btn = help_keywords_id ~ '_btn' %}
    {% set help_keywords_dialog = help_keywords_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_keywords_dialog, help_keywords_btn) }}
    });
    </script>
{% endblock %}