{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_keywords_id, help_keywords_title, help_keywords_content = help[0] %}
    {% set help_keywords_btn = help_keywords_id ~ '_btn' %}
    {% set help_keywords_dialog = help_keywords_id ~ '_dialog' %}

    <table>
        <td><h2>Keyword</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_keywords_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <h5>Enter a keyword below:</h5>
                <span style="color:{{ optional }};">
                    {{ wtf.form_field(form.keyword, size="100") }}
                    </span>

                <!-- The above "span" tag was put in inplace of the below commented code block to temporarily hid the LTER keyword dropdown. -->
                <!-- <table border="0">
                <td valign="bottom" width="45%">{{ wtf.form_field(form.keyword, size="100") }}</td> 
                <td width="2%"></td>
                <td valign="bottom" width="45%">{{ wtf.form_field(form.lter_keyword_select) }}</td>
                </table> -->
                <br/>
{#                <span style="color:{{ optional }};">#}
{#                {{ wtf.form_field(form.keyword_type) }}#}
{#                </span>#}
{#                <br/>#}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_new_open_close_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_keywords_dialog, help_keywords_title, help_keywords_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_keywords_id, help_keywords_title, help_keywords_content = help[0] %}
    {% set help_keywords_btn = help_keywords_id ~ '_btn' %}
    {% set help_keywords_dialog = help_keywords_id ~ '_dialog' %}

    <script>
    $(function()
    {
        $('#lter_keyword_select').on('change', function() {
            let selected = $('#lter_keyword_select').val();
            $('#keyword').val(selected);
        });
        $('#keyword').on('input', function() {
            $('#lter_keyword_select').val("");
        });

        $('#keyword').on('input', function() {
            $('#lter_keyword_select').val("");
            $('#lter_keyword_select option').each(function() {
                if (this.value == $('#keyword').val()) {
                    $('#lter_keyword_select').val(this.value);
                    return;
                }
            })
        })
    });
    $(function()
    {
        {{ macros.help_script(help_keywords_dialog, help_keywords_btn) }}
    });
    </script>
{% endblock %}
