{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{#{% set dns_ns = namespace(do_not_show_cb = false) %}#}

{% block app_content %}
    {% set help_title_id, help_title_title, help_title_content = help[0] %}
    {% set help_title_btn = help_title_id ~ '_btn' %}
    {% set help_title_dialog = help_title_id ~ '_dialog' %}
    {% set help_nav_id, help_nav_title, help_nav_content = help[1] %}
    {% set help_nav_btn = help_nav_id ~ '_btn' %}
    {% set help_nav_dialog = help_nav_id ~ '_dialog' %}
    {% set help_welcome_id, help_welcome_title, help_welcome_content = help[2] %}
    {% set help_welcome_btn = help_welcome_id ~ '_btn' %}
    {% set help_welcome_dialog = help_welcome_id ~ '_dialog' %}
{#    {% set dns_ns = namespace(do_not_show_cb = false) %}#}
{#    {% set ns = namespace(is_non_saving = false) %}#}
{#    {% set dont_show_ns.do_not_show_cb = not is_first_usage %}#}
{#    {% set dont_show_ns.do_not_show = is_first_usage %}#}

    <h2>Title</h2>
{#    <div class="row">#}
        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                <h5>Enter a title for the data package:</h5>
                <table>
                    <td>{{ wtf.form_field(form.title, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_title_btn) }}</td>
                </table>
                <br/>
                <table>
                    <td><input class="btn btn-primary"
{#                               onclick="javascript:alert('{{ dns_ns.do_not_show_cbx }}');"#}
                               name="Next" type="submit" value="Save and Continue"/>
                        <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/></td>
                    <td valign="middle" style="padding-top: 5px;">{{ macros.help_button(help_nav_btn) }}
                        <span hidden="hidden">{{ macros.help_button(help_welcome_btn) }}</span>
                    </td>
                </table>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
{#    </div>#}

    {{ macros.help_dialog(help_title_dialog, help_title_title, help_title_content) }}
    {{ macros.help_dialog(help_nav_dialog, help_nav_title, help_nav_content) }}
    {{ macros.help_dialog(help_welcome_dialog, help_welcome_title, help_welcome_content) }}

{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_title_id, help_title_title, help_title_content = help[0] %}
    {% set help_title_btn = help_title_id ~ '_btn' %}
    {% set help_title_dialog = help_title_id ~ '_dialog' %}
    {% set help_nav_id, help_nav_title, help_nav_content = help[1] %}
    {% set help_nav_btn = help_nav_id ~ '_btn' %}
    {% set help_nav_dialog = help_nav_id ~ '_dialog' %}
    {% set help_welcome_id, help_welcome_title, help_welcome_content = help[2] %}
    {% set help_welcome_btn = help_welcome_id ~ '_btn' %}
    {% set help_welcome_dialog = help_welcome_id ~ '_dialog' %}
    {% set is_first_usage = is_first_usage %}
{#    {% set dns_ns = namespace(do_not_show_cb = false) %}#}
    <script>
    $(function()
    {
        {{ macros.help_script(help_title_dialog, help_title_btn) }}
        {{ macros.help_script(help_nav_dialog, help_nav_btn) }}
        {{ macros.help_script(help_welcome_dialog, help_welcome_btn) }}
        {% if is_first_usage %}
            let welcome_dialog = $( '#{{ help_welcome_dialog }}' ).dialog({
                autoOpen: true,
                width: 600,
                position: {my: "center", at: "center", of: window}
            });
            $( '#{{ help_welcome_btn }}' ).button().on('click', function() {
                if (welcome_dialog.dialog('isOpen')) {
                    {#alert('{{ dns_ns.do_not_show_cb }}');#}
                    welcome_dialog.dialog('close');
                } else {
                    welcome_dialog.dialog('open');
                }
            });
            $( '#{{ help_welcome_btn }}' ).click();
            document.activeElement.blur();
        {% endif %}
    });
    </script>
{% endblock %}