{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_title_id, help_title_title, help_title_content = help[0] %}
    {% set help_title_btn = help_title_id ~ '_btn' %}
    {% set help_title_dialog = help_title_id ~ '_dialog' %}
    {% set help_nav_id, help_nav_title, help_nav_content = help[1] %}
    {% set help_nav_btn = help_nav_id ~ '_btn' %}
    {% set help_nav_dialog = help_nav_id ~ '_dialog' %}
    {% set help_welcome_id, help_welcome_title, help_welcome_content = help[2] %}
    {% set help_welcome_btn = help_welcome_id ~ '_btn' %}
    {% set help_welcome_dialog = help_welcome_id ~ '_dialog' %}
    {% set help_badges_id, help_badges_title, help_badges_content = help[3] %}
    {% set help_badges_btn = help_badges_id ~ '_btn' %}
    {% set help_badges_dialog = help_badges_id ~ '_dialog' %}

    <table>
        <td style="vertical-align:middle;padding-top: 12px;">
        {% set node_status = 'title_status' %}
        {{ macros.local_status_badge_with_popup(session[node_status], tooltip) }}
        </td>
        <td style="width:3%"></td>
        <td><h2>Title</h2></td>
    </table>

        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                <h5>Enter a title for the data package:</h5>
                <table>
                    <td>{{ wtf.form_field(form.title, rows=5, cols=100) }}</td>
                    <td valign="top" style="padding-top: 35px;padding-left: 5px;">{{ macros.help_button(help_title_btn) }}</td>
                </table>
                <br/>
                <table>
                    <td><input class="btn btn-primary"
{#                               onclick="javascript:alert('{{ dns_ns.do_not_show_cbx }}');"#}
                               name="Next" type="submit" value="Save and Continue"/>
                        <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/></td>
                    <td valign="middle" style="padding-top: 5px;">{{ macros.help_button(help_nav_btn) }}
                        <span hidden="hidden">{{ macros.help_button(help_welcome_btn) }}</span>
                        <span hidden="hidden">{{ macros.help_button(help_badges_btn) }}</span>
                    </td>
                </table>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
{#    </div>#}

    {{ macros.help_dialog(help_title_dialog, help_title_title, help_title_content) }}
    {{ macros.help_dialog(help_nav_dialog, help_nav_title, help_nav_content) }}
    {{ macros.help_dialog(help_welcome_dialog, help_welcome_title, help_welcome_content) }}
    {{ macros.help_dialog(help_badges_dialog, help_badges_title, help_badges_content) }}

{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_title_id, help_title_title, help_title_content = help[0] %}
    {% set help_title_btn = help_title_id ~ '_btn' %}
    {% set help_title_dialog = help_title_id ~ '_dialog' %}
    {% set help_nav_id, help_nav_title, help_nav_content = help[1] %}
    {% set help_nav_btn = help_nav_id ~ '_btn' %}
    {% set help_nav_dialog = help_nav_id ~ '_dialog' %}
    {% set help_welcome_id, help_welcome_title, help_welcome_content = help[2] %}
    {% set help_welcome_btn = help_welcome_id ~ '_btn' %}
    {% set help_welcome_dialog = help_welcome_id ~ '_dialog' %}
    {% set help_badges_id, help_badges_title, help_badges_content = help[3] %}
    {% set help_badges_btn = help_badges_id ~ '_btn' %}
    {% set help_badges_dialog = help_badges_id ~ '_dialog' %}
    <script>

    $(function()
    {
        {{ macros.help_script(help_title_dialog, help_title_btn) }}
        {{ macros.help_script(help_nav_dialog, help_nav_btn) }}
        {{ macros.help_script(help_welcome_dialog, help_welcome_btn) }}
        {{ macros.help_script(help_badges_dialog, help_badges_btn) }}
        let do_not_show = localStorage.getItem("do_not_show_ezeml_welcome_dialog") == 'true';
        if (!do_not_show) {
            let welcome_dialog = $('#{{ help_welcome_dialog }}').dialog({
                autoOpen: true,
                width: 600,
                position: {my: "center", at: "center", of: window}
            });
            $('#{{ help_welcome_btn }}').button().on('click', function () {
                if (welcome_dialog.dialog('isOpen')) {
                    welcome_dialog.dialog('close');
                } else {
                    welcome_dialog.dialog('open');
                }
            });
            $('#{{ help_welcome_btn }}').click();
            document.activeElement.blur();
        } else {
            let do_not_show = localStorage.getItem("do_not_show_badges_dialog") == 'true';
            if (!do_not_show) {
                let badges_dialog = $('#{{ help_badges_dialog }}').dialog({
                    autoOpen: true,
                    width: 500,
                    position: {my: "center", at: "center", of: window}
                });
                $('#{{ help_badges_btn }}').button().on('click', function () {
                    if (badges_dialog.dialog('isOpen')) {
                        badges_dialog.dialog('close');
                    } else {
                        badges_dialog.dialog('open');
                    }
                });
                $('#{{ help_badges_btn }}').click();
                document.activeElement.blur();
            }
        }
    });
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}

{% endblock %}