{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Donor</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 15px;">{{ macros.help_button(help_rp_btn) }}</td>
    </table>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorID) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorGender) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorYears) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorDays) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.donorLifeStage) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;">
                            <table width="100%">
                                <tr>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.specimenSeqNum) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 1px 5px;" width="20%">{{ wtf.form_field(form.specimenTissue) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.ovaryPosition) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.specimenLocation) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 1px 5px;" width="20%">{{ wtf.form_field(form.corpusLuteum) }}</td>
                                <td width="1%">&nbsp;</td>

                                <table>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="15%">{{ wtf.form_field(form.dayOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.stageOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.follicular) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="25%">{{ wtf.form_field(form.luteal) }}</td>
                                    <td width="1%">&nbsp;</td>
                                </table>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="32%">{{ wtf.form_field(form.slideID) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.sectionSeqNum) }}</td>
                                <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.thickness) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.thicknessUnit) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.fixation) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.fixationOther) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.stain) }}</td>
                            <td width="2%">&nbsp;</td>

                            <table>
                            <tr>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.lightMicroscopyStainType) }}</td>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.sudanStainType) }}</td>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.lightMicroscopyStainOther) }}</td>
                                <td width="2%">&nbsp;</td>
                            </tr>
                            </table>

                            <table>
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.fluorescentMicroscopyStainType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.fluorescentMicroscopyStainOther) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.electronMicroscopyStainType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.electronMicroscopyStainOther) }}</td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table>
                <tr>
                <td class="table_cell">
                {{ wtf.form_field(form.magnification) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.maker) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.model) }}
                </td>
                </tr>
                </table>

                <span style="color:{{ optional }};">{{ wtf.form_field(form.notes) }}</span>

                {% if not save_and_continue %}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {% endif %}

                {{ macros.hidden_buttons() }}

                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>

            <p>&nbsp;</p>
        </div>
    </div>
<!-- PT5/26   {% if form.errors %}
        {{ form.errors }}
    {% endif %} -->

    {{ macros.help_dialog(help_rp_dialog, help_rp_title, help_rp_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}
    
    <script type = "text/javascript">
        function specimenLocationFunction(){
            let specimenLocation_box_value = document.getElementById("specimenLocation").value;
            if(specimenLocation_box_value == "corpusLuteum"){
                document.getElementById("corpusLuteum").removeAttribute("disabled");
                document.getElementById("corpusLuteum").attribute.required = "required";
            }
            else {
                document.getElementById("corpusLuteum").value = "";
                document.getElementById("corpusLuteum").setAttribute("disabled","disabled");
                document.getElementById("corpusLuteum").attribute.required = "";
            }
        }

        function stageOfCycleFunction(){
            let stageOfCycle_box_value = document.getElementById("stageOfCycle").value;
            if(stageOfCycle_box_value == "luteal"){
                document.getElementById("follicular").value = "";
                document.getElementById("follicular").setAttribute("disabled","disabled");
                document.getElementById("luteal").removeAttribute("disabled");
                document.getElementById("luteal").attribute.required = "required";
            }
            else if (stageOfCycle_box_value == "follicular") {
                document.getElementById("luteal").value = "";
                document.getElementById("luteal").setAttribute("disabled","disabled");
                document.getElementById("follicular").removeAttribute("disabled");
                document.getElementById("follicular").attribute.required = "required";
            }
            else {
                document.getElementById("luteal").value = "";
                document.getElementById("follicular").value = "";
                document.getElementById("follicular").setAttribute("disabled","disabled");
                document.getElementById("luteal").setAttribute("disabled","disabled");
                document.getElementById("luteal").attribute.required = "";
                document.getElementById("follicular").attribute.required = "";
            }
        }

        function fixationFunction(){
            let fixation_box_value = document.getElementById("fixation").value;
            if(fixation_box_value == "other"){
                document.getElementById("fixationOther").removeAttribute("disabled")
                // document.getElementById("fixationOther").attribute.required = "required";
            }
            else {
                document.getElementById("fixationOther").value = "";
                document.getElementById("fixationOther").setAttribute("disabled","disabled");
                // document.getElementById("fixationOther").attribute.required = "";
            }
        }
    </script>
    <script>
    $(function()
    {
        {{ macros.help_script(help_rp_dialog, help_rp_btn) }}
    });
    </script>
{% endblock %}