{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_donor_id, help_donor_title, help_donor_content = help[0] %}
    {% set help_donor_btn = help_donor_id ~ '_btn' %}
    {% set help_donor_dialog = help_donor_id ~ '_dialog' %}

    <table>
        <td><h2>Donor</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 15px;">{{ macros.help_button(help_donor_btn) }}</td>
    </table>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.donorID) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorSex) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="10%">{{ wtf.form_field(form.donorYears) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="10%">{{ wtf.form_field(form.donorDays) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.donorLifeStage) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;">
                            <table width="100%">
                                <tr>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.specimenSeqNum) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 5px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.specimenTissue) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.ovaryPosition) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.specimenLocation) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 5px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.corpusLuteum) }}</td>
                                <td width="1%">&nbsp;</td>

                                <table>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="15%">{{ wtf.form_field(form.dayOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="15%">{{ wtf.form_field(form.donorType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.stageOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                </table>

                                <table>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="50%">{{ wtf.form_field(form.follicular) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="50%">{{ wtf.form_field(form.luteal) }}</td>
                                    <td width="1%">&nbsp;</td>
                                </table>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px; vertical-align:bottom;" width="32%">{{ wtf.form_field(form.slideID) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px; vertical-align:bottom;" width="20%">{{ wtf.form_field(form.sectionSeqNum) }}</td>
                                <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px; vertical-align:bottom;" width="30%">{{ wtf.form_field(form.thickness) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px; vertical-align:bottom;" width="30%">{{ wtf.form_field(form.thicknessUnit) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.fixation) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.fixationOther) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">{{ wtf.form_field(form.stain) }}</td>
                            <td width="2%">&nbsp;</td>

                            <table>
                            <tr>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.lightMicroscopyStainType) }}</td>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.sudanStainType) }}</td>
                                <td width="2%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.lightMicroscopyStainOther) }}</td>
                                <td width="2%">&nbsp;</td>
                            </tr>
                            </table>

                            <table>
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.fluorescentMicroscopyStainType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.fluorescentMicroscopyStainOther) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.electronMicroscopyStainType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td class="table_cell">{{ wtf.form_field(form.electronMicroscopyStainOther) }}</td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table>
                <tr>
                <td class="table_cell">
                {{ wtf.form_field(form.magnification) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.maker) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.model) }}
                </td>
                </tr>
                </table>

                <span style="color:{{ optional }};">{{ wtf.form_field(form.notes) }}</span>

                {% if not save_and_continue %}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {% endif %}

                {{ macros.hidden_buttons() }}

                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>

            <p>&nbsp;</p>
        </div>
    </div>
<!-- PT5/26   {% if form.errors %}
        {{ form.errors }}
    {% endif %} -->

    {{ macros.help_dialog(help_donor_dialog, help_donor_title, help_donor_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_donor_id, help_donor_title, help_donor_content = help[0] %}
    {% set help_donor_btn = help_donor_id ~ '_btn' %}
    {% set help_donor_dialog = help_donor_id ~ '_dialog' %}
     <script type = "text/javascript">
<!--        document.getElementById("donorSex").setAttribute("readonly","readonly");-->
        document.getElementById("specimenTissue").setAttribute("readonly","readonly");

        function specimenLocationFunction(){
            let specimenLocation_box_value = document.getElementById("specimenLocation").value;
            if(specimenLocation_box_value == "corpusLuteum"){
                document.getElementById("corpusLuteum").removeAttribute("disabled");
<!--                document.getElementById("corpusLuteum").attribute.required = "required";-->
            }
            else {
                document.getElementById("corpusLuteum").value = "";
                document.getElementById("corpusLuteum").setAttribute("disabled","disabled");
<!--                document.getElementById("corpusLuteum").attribute.required = "";-->
            }
        }

        function stageOfCycleFunction(){
            let stageOfCycle_box_value = document.getElementById("stageOfCycle").value;
            if(stageOfCycle_box_value == "luteal"){
                document.getElementById("follicular").value = "";
                document.getElementById("follicular").setAttribute("disabled","disabled");
                document.getElementById("luteal").removeAttribute("disabled");
<!--                document.getElementById("luteal").attribute.required = "required";-->
            }
            else if (stageOfCycle_box_value == "follicular") {
                document.getElementById("luteal").value = "";
                document.getElementById("luteal").setAttribute("disabled","disabled");
                document.getElementById("follicular").removeAttribute("disabled");
<!--                document.getElementById("follicular").attribute.required = "required";-->
            }
            else {
                document.getElementById("luteal").value = "";
                document.getElementById("follicular").value = "";
                document.getElementById("follicular").setAttribute("disabled","disabled");
                document.getElementById("luteal").setAttribute("disabled","disabled");
<!--                document.getElementById("luteal").attribute.required = "";-->
<!--                document.getElementById("follicular").attribute.required = "";-->
            }
        }

        function fixationFunction(){
            let fixation_box_value = document.getElementById("fixation").value;
            if(fixation_box_value == "other"){
                document.getElementById("fixationOther").removeAttribute("disabled");
            }
            else {
                document.getElementById("fixationOther").value = "";
                document.getElementById("fixationOther").setAttribute("disabled","disabled");
            }
        }

        function stainTypeFunction(){
            let stainType_box_value = document.getElementById("stain").value;
            if(stainType_box_value == "lightMicroscopyStain"){
                document.getElementById("fluorescentMicroscopyStainType").value = "";
                document.getElementById("electronMicroscopyStainType").value = "";
                document.getElementById("fluorescentMicroscopyStainOther").value = "";
                document.getElementById("electronMicroscopyStainOther").value = "";
                document.getElementById("fluorescentMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("electronMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("fluorescentMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("electronMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("lightMicroscopyStainType").removeAttribute("disabled");
<!--                document.getElementById("lightMicroscopyStainType").attribute.required = "required";-->
            }
            else if(stainType_box_value == "fluorescentMicroscopyStain"){
                document.getElementById("lightMicroscopyStainType").value = "";
                document.getElementById("electronMicroscopyStainType").value = "";
                document.getElementById("sudanStainType").value = "";
                document.getElementById("lightMicroscopyStainOther").value = "";
                document.getElementById("electronMicroscopyStainOther").value = "";
                document.getElementById("lightMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("electronMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("sudanStainType").setAttribute("disabled","disabled");
                document.getElementById("lightMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("electronMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("fluorescentMicroscopyStainType").removeAttribute("disabled");
<!--                document.getElementById("fluorescentMicroscopyStainType").attribute.required = "required";-->
            }
            else { //electronMicroscopyStain
                document.getElementById("lightMicroscopyStainType").value = "";
                document.getElementById("fluorescentMicroscopyStainType").value = "";
                document.getElementById("sudanStainType").value = "";
                document.getElementById("lightMicroscopyStainOther").value = "";
                document.getElementById("fluorescentMicroscopyStainOther").value = "";
                document.getElementById("lightMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("fluorescentMicroscopyStainType").setAttribute("disabled","disabled");
                document.getElementById("sudanStainType").setAttribute("disabled","disabled");
                document.getElementById("lightMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("fluorescentMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("electronMicroscopyStainType").removeAttribute("disabled");
<!--                document.getElementById("electronMicroscopyStainType").attribute.required = "required";-->
            }
        }

        function lightMicroscopyStainTypeFunction(){
            let lightMicroscopyStainType_box_value = document.getElementById("lightMicroscopyStainType").value;
            if(lightMicroscopyStainType_box_value == "sudan"){
                document.getElementById("lightMicroscopyStainOther").value = "";
                document.getElementById("lightMicroscopyStainOther").setAttribute("disabled","disabled");
                document.getElementById("sudanStainType").removeAttribute("disabled");
<!--                document.getElementById("sudanStainType").attribute.required = "required";-->
            }
            else if(lightMicroscopyStainType_box_value == "other"){
                document.getElementById("sudanStainType").value = "";
                document.getElementById("sudanStainType").setAttribute("disabled","disabled");
                document.getElementById("lightMicroscopyStainOther").removeAttribute("disabled");
<!--                document.getElementById("lightMicroscopyStainOther").attribute.required = "required";-->
            }
            else {
                document.getElementById("sudanStainType").value = "";
                document.getElementById("lightMicroscopyStainOther").value = "";
                document.getElementById("sudanStainType").setAttribute("disabled","disabled");
                document.getElementById("lightMicroscopyStainOther").setAttribute("disabled","disabled");
<!--                document.getElementById("sudanStainType").attribute.required = "";-->
<!--                document.getElementById("lightMicroscopyStainOther").attribute.required = "";-->
            }
        }

        function fluorescentMicroscopyStainTypeFunction(){
            let fluorescentMicroscopyStainType_box_value = document.getElementById("fluorescentMicroscopyStainType").value;
            if(fluorescentMicroscopyStainType_box_value == "other"){
                document.getElementById("fluorescentMicroscopyStainOther").removeAttribute("disabled");
            }
            else {
                document.getElementById("fluorescentMicroscopyStainOther").value = "";
                document.getElementById("fluorescentMicroscopyStainOther").setAttribute("disabled","disabled");
            }
        }

        function electronMicroscopyStainTypeFunction(){
            let electronMicroscopyStainType_box_value = document.getElementById("electronMicroscopyStainType").value;
            if(electronMicroscopyStainType_box_value == "other"){
                document.getElementById("electronMicroscopyStainOther").removeAttribute("disabled");
            }
            else {
                document.getElementById("electronMicroscopyStainOther").value = "";
                document.getElementById("electronMicroscopyStainOther").setAttribute("disabled","disabled");
            }
        }

        function speciesFunction(s1, s2) {
            var s1 = document.getElementById(s1);
            var s2 = document.getElementById(s2);
            s2.innerHTML = "";
            if (s1.value == "menstrual") {
                s2.disabled = false;
                var optionArray = ["|", "unspecified|Unspecified", "follicular|Follicular", "pre-ovulatory|Pre-ovulatory", "ovulation|Ovulation", "luteal|Luteal"];
            } else if (s1.value == "estrous") {
                s2.disabled = false;
                var optionArray = ["|", "unspecified|Unspecified", "proestrus|Proestrus", "estrus|Estrus", "metestrus|Metestrus", "diestrus|Diestrus", "anestrus|Anestrus"];
            }else if (s1.value == "other"){
                s2.disabled = true;
            }else{
                var optionArray = ["|"];
            }
            for(var option in optionArray){
                var pair = optionArray[option].split("|");
                var newOption = document.createElement("option");
                newOption.value = pair[0];
                newOption.innerHTML = pair[1];
                s2.options.add(newOption);
            }
        }

<!--        Keep previous selection instead of overriding it-->
        function speciesPrev(s1, s2){
            var stage = document.getElementById(s2);
            var previous = stage.value;
            speciesFunction(s1, s2);
            stage.value = previous;
        }

<!--        Grey out areas where appropriate on page load-->
        specimenLocationFunction();
        stageOfCycleFunction();
        fixationFunction();
        stainTypeFunction();
        lightMicroscopyStainTypeFunction();
        fluorescentMicroscopyStainTypeFunction();
        electronMicroscopyStainTypeFunction();
        speciesPrev("donorType", "stageOfCycle");

    </script>
    <script>
    $(function()
    {
        {{ macros.help_script(help_donor_dialog, help_donor_btn) }}
    });
    </script>
{% endblock %}