{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Donor</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 15px;">{{ macros.help_button(help_rp_btn) }}</td>
    </table>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorId) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.donorGender) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.ageYears) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.ageDays) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.lifeStage) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;">
                            <table width="100%">
                                <tr>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.sectionSeqNum) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 1px 5px;" width="20%">{{ wtf.form_field(form.specimenTissue) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.ovaryPosition) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 5px 10px;" width="20%">{{ wtf.form_field(form.specimenLocation) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td style="padding: 1px 5px;" width="20%">{{ wtf.form_field(form.corpusLuteumType) }}</td>
                                <td width="1%">&nbsp;</td>

                                <table>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="15%">{{ wtf.form_field(form.dayOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.stageOfCycle) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 5px 10px;" width="25%">{{ wtf.form_field(form.follicularType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                    <td style="padding: 1px 5px;" width="25%">{{ wtf.form_field(form.lutealType) }}</td>
                                    <td width="1%">&nbsp;</td>
                                </table>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="32%">{{ wtf.form_field(form.slideID) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.sectionThickness) }}</td>
                            <td width="2%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.sectionThicknessUnit) }}</td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 5px 10px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="15%">{{ wtf.form_field(form.sampleProcessing) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="35%">{{ wtf.form_field(form.fixation) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="35%">{{ wtf.form_field(form.fixationOther) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td style="padding: 5px 10px;" width="30%">{{ wtf.form_field(form.stain) }}</td>
                            <td width="1%">&nbsp;</td>

                            <table>
                            <tr>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.sudanStainType) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainLightType) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainLightOther) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainForecentType) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainForecentOther) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainElectronType) }}</td>
                                <td width="1%">&nbsp;</td>
                                <td class="table_cell">{{ wtf.form_field(form.stainElectronOther) }}</td>
                                <td width="1%">&nbsp;</td>
                            </tr>
                            </table>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <td width="1%">&nbsp;</td>
                <table>
                <tr>
                <td class="table_cell">
                {{ wtf.form_field(form.magnification) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.maker) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.model) }}
                </td>
                </tr>
                </table>

                <span style="color:{{ optional }};">{{ wtf.form_field(form.notes) }}</span>

                {% if not save_and_continue %}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {% endif %}

                {{ macros.hidden_buttons() }}

                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    {{ macros.help_dialog(help_rp_dialog, help_rp_title, help_rp_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_rp_dialog, help_rp_btn) }}
    });
    </script>
{% endblock %}