{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_awards_id, help_awards_title, help_awards_content = help[0] %}
    {% set help_awards_btn = help_awards_id ~ '_btn' %}
    {% set help_awards_dialog = help_awards_id ~ '_dialog' %}
    {% endif %}

    <table>
        {% if not related_project %}
        <td><h2>Funding Awards</h2></td>
        {% else %}
        <td><h2>Related Project Funding Awards</h2></td>
        {% endif %}
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_awards_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th colspan="1">Award Title</th>
                        <th colspan="5">Award Number</th>
                    </tr>
                    {% for award_entry in award_list %}
                    <tr>
                        <td width="60%">{{ award_entry.award_title }}</td>
                        <td width="20%">{{ award_entry.award_number }}</td>
                        {{ macros.up_down_arrow(award_entry.id, award_entry.upval) }}
                        {{ macros.up_down_arrow(award_entry.id, award_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ award_entry.id }}" type="submit" value="Edit"/></td>
                        <td><input class="btn btn-primary" name="{{ award_entry.id }}" onclick="return confirm('Are you sure? This action cannot be undone.');" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="Add" type="submit" value="Add Funding Award"/>
                &nbsp;&nbsp;
                <input class="btn btn-primary" name="Import" type="submit" value="Import Funding Award"/>
                <br/><br/>
                {% if not related_project %}
                <input class="btn btn-primary" name="Next" type="submit" value="Back to Project"/>
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Back to Related Project"/>
                {% endif %}
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_awards_dialog, help_awards_title, help_awards_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_awards_id, help_awards_title, help_awards_content = help[0] %}
    {% set help_awards_btn = help_awards_id ~ '_btn' %}
    {% set help_awards_dialog = help_awards_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_awards_dialog, help_awards_btn) }}
    });
    </script>
{% endblock %}