{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_award_id, help_award_title, help_award_content = help[0] %}
    {% set help_award_btn = help_award_id ~ '_btn' %}
    {% set help_award_dialog = help_award_id ~ '_dialog' %}
    {% set help_funder_name_id, help_funder_name_title, help_funder_name_content = help[1] %}
    {% set help_funder_name_btn = help_funder_name_id ~ '_btn' %}
    {% set help_funder_name_dialog = help_funder_name_id ~ '_dialog' %}
    {% set help_award_title_id, help_award_title_title, help_award_title_content = help[2] %}
    {% set help_award_title_btn = help_award_title_id ~ '_btn' %}
    {% set help_award_title_dialog = help_award_title_id ~ '_dialog' %}
    {% set help_award_number_id, help_award_number_title, help_award_number_content = help[3] %}
    {% set help_award_number_btn = help_award_number_id ~ '_btn' %}
    {% set help_award_number_dialog = help_award_number_id ~ '_dialog' %}
    {% set help_award_lookup_id, help_award_lookup_title, help_award_lookup_content = help[4] %}
    {% set help_award_lookup_btn = help_award_lookup_id ~ '_btn' %}
    {% set help_award_lookup_dialog = help_award_lookup_id ~ '_dialog' %}
    {% set help_funder_identifiers_id, help_funder_identifiers_title, help_funder_identifiers_content = help[5] %}
    {% set help_funder_identifiers_btn = help_funder_identifiers_id ~ '_btn' %}
    {% set help_funder_identifiers_dialog = help_funder_identifiers_id ~ '_dialog' %}
    {% set help_award_url_id, help_award_url_title, help_award_url_content = help[6] %}
    {% set help_award_url_btn = help_award_url_id ~ '_btn' %}
    {% set help_award_url_dialog = help_award_url_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>{{ title }}</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_award_btn) }}</td>
    </table>
    
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                <h5>Enter the funding award information below:</h5>
                <table>
                    <td>{{ wtf.form_field(form.funder_name, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_funder_name_btn) }}</td>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.award_title, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_title_btn) }}</td>
                </table>
                <table>
                    <tr>
                    <td>{{wtf.form_field(form.award_number, size=70) }}
                    </td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_number_btn) }}
                    </td>
                        <td>
                        <table>
                            <td>
                            {% if lookup_confirm %}
                            <input class="btn btn-primary" id="nsf_award_lookup" style="margin-left: 25px;margin-top: 6px;" name="Lookup" type="submit"
                                   formnovalidate="formnovalidate" value="NSF Award Lookup"
                                   onclick="confirm('{{ lookup_confirm }}');"/></td>
                            {% else %}
                            <input class="btn btn-primary" id="nsf_award_lookup" style="margin-left: 25px;margin-top: 6px;" name="Lookup" type="submit"
                                   formnovalidate="formnovalidate" value="NSF Award Lookup"/></td>
                            {% endif %}
                            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_lookup_btn) }}</td>
                        </table>
                    </td>
                    </tr>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.funder_identifier, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_funder_identifiers_btn) }}</td>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.award_url, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_url_btn) }}</td>
                </table>
                <br/><br/>
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" formnovalidate="formnovalidate" value="Cancel"/>
                <br/><br/>
                <p></p>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_award_dialog, help_award_title, help_award_content) }}
    {{ macros.help_dialog(help_funder_name_dialog, help_funder_name_title, help_funder_name_content) }}
    {{ macros.help_dialog(help_award_title_dialog, help_award_title_title, help_award_title_content) }}
    {{ macros.help_dialog(help_award_number_dialog, help_award_number_title, help_award_number_content) }}
    {{ macros.help_dialog(help_award_lookup_dialog, help_award_lookup_title, help_award_lookup_content) }}
    {{ macros.help_dialog(help_funder_identifiers_dialog, help_funder_identifiers_title, help_funder_identifiers_content) }}
    {{ macros.help_dialog(help_award_url_dialog, help_award_url_title, help_award_url_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_award_id, help_award_title, help_award_content = help[0] %}
    {% set help_award_btn = help_award_id ~ '_btn' %}
    {% set help_award_dialog = help_award_id ~ '_dialog' %}
    {% set help_funder_name_id, help_funder_name_title, help_funder_name_content = help[1] %}
    {% set help_funder_name_btn = help_funder_name_id ~ '_btn' %}
    {% set help_funder_name_dialog = help_funder_name_id ~ '_dialog' %}
    {% set help_award_title_id, help_award_title_title, help_award_title_content = help[2] %}
    {% set help_award_title_btn = help_award_title_id ~ '_btn' %}
    {% set help_award_title_dialog = help_award_title_id ~ '_dialog' %}
    {% set help_award_number_id, help_award_number_title, help_award_number_content = help[3] %}
    {% set help_award_number_btn = help_award_number_id ~ '_btn' %}
    {% set help_award_number_dialog = help_award_number_id ~ '_dialog' %}
    {% set help_award_lookup_id, help_award_lookup_title, help_award_lookup_content = help[4] %}
    {% set help_award_lookup_btn = help_award_lookup_id ~ '_btn' %}
    {% set help_award_lookup_dialog = help_award_lookup_id ~ '_dialog' %}
    {% set help_funder_identifiers_id, help_funder_identifiers_title, help_funder_identifiers_content = help[5] %}
    {% set help_funder_identifiers_btn = help_funder_identifiers_id ~ '_btn' %}
    {% set help_funder_identifiers_dialog = help_funder_identifiers_id ~ '_dialog' %}
    {% set help_award_url_id, help_award_url_title, help_award_url_content = help[6] %}
    {% set help_award_url_btn = help_award_url_id ~ '_btn' %}
    {% set help_award_url_dialog = help_award_url_id ~ '_dialog' %}
    {% endif %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_award_dialog, help_award_btn) }}
        {{ macros.help_script(help_funder_name_dialog, help_funder_name_btn) }}
        {{ macros.help_script(help_award_title_dialog, help_award_title_btn) }}
        {{ macros.help_script(help_award_number_dialog, help_award_number_btn) }}
        {{ macros.help_script(help_award_lookup_dialog, help_award_lookup_btn) }}
        {{ macros.help_script(help_funder_identifiers_dialog, help_funder_identifiers_btn) }}
        {{ macros.help_script(help_award_url_dialog, help_award_url_btn) }}
    });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const awardInput = document.getElementById('award_number');
            const lookupButton = document.getElementById('nsf_award_lookup');

            function toggleButtonState() {
                const inputValue = awardInput.value.trim(); // Remove whitespace
                lookupButton.disabled = inputValue === ""; // Enable if not empty
            }

            // Initialize button state on page load
            toggleButtonState();

            // Listen for input changes
            awardInput.addEventListener('input', toggleButtonState);
        });

    </script>

{% endblock %}