<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_award_id, help_award_title, help_award_content = help[0] %}
    {% set help_award_btn = help_award_id ~ '_btn' %}
    {% set help_award_dialog = help_award_id ~ '_dialog' %}
    {% set help_funder_name_id, help_funder_name_title, help_funder_name_content = help[1] %}
    {% set help_funder_name_btn = help_funder_name_id ~ '_btn' %}
    {% set help_funder_name_dialog = help_funder_name_id ~ '_dialog' %}
    {% set help_award_title_id, help_award_title_title, help_award_title_content = help[2] %}
    {% set help_award_title_btn = help_award_title_id ~ '_btn' %}
    {% set help_award_title_dialog = help_award_title_id ~ '_dialog' %}
    {% set help_funder_identifiers_id, help_funder_identifiers_title, help_funder_identifiers_content = help[3] %}
    {% set help_funder_identifiers_btn = help_funder_identifiers_id ~ '_btn' %}
    {% set help_funder_identifiers_dialog = help_funder_identifiers_id ~ '_dialog' %}
    {% set help_award_number_id, help_award_number_title, help_award_number_content = help[4] %}
    {% set help_award_number_btn = help_award_number_id ~ '_btn' %}
    {% set help_award_number_dialog = help_award_number_id ~ '_dialog' %}
    {% set help_award_url_id, help_award_url_title, help_award_url_content = help[5] %}
    {% set help_award_url_btn = help_award_url_id ~ '_btn' %}
    {% set help_award_url_dialog = help_award_url_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Funding Award</h2></td>
        <td valign="middle" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_award_btn) }}</td>
    </table>
    
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                <h5>Please enter the funding award information below:</h5>
                <table>
                    <td>{{ wtf.form_field(form.funder_name, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_funder_name_btn) }}</td>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.award_title, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_title_btn) }}</td>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.funder_identifier, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_funder_identifiers_btn) }}</td>
                </table>
                <table>
                    <td>{{wtf.form_field(form.award_number, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_number_btn) }}</td>
                </table>
                <table>
                    <td>{{ wtf.form_field(form.award_url, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_award_url_btn) }}</td>
                </table>
                <br/><br/>
                <input class="btn btn-primary" name="OK" type="submit" value="OK"/>
                <input class="btn btn-primary" name="Cancel" type="submit" formnovalidate="formnovalidate" value="Cancel"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_award_dialog, help_award_title, help_award_content) }}
    {{ macros.help_dialog(help_funder_name_dialog, help_funder_name_title, help_funder_name_content) }}
    {{ macros.help_dialog(help_award_title_dialog, help_award_title_title, help_award_title_content) }}
    {{ macros.help_dialog(help_funder_identifiers_dialog, help_funder_identifiers_title, help_funder_identifiers_content) }}
    {{ macros.help_dialog(help_award_number_dialog, help_award_number_title, help_award_number_content) }}
    {{ macros.help_dialog(help_award_url_dialog, help_award_url_title, help_award_url_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_award_id, help_award_title, help_award_content = help[0] %}
    {% set help_award_btn = help_award_id ~ '_btn' %}
    {% set help_award_dialog = help_award_id ~ '_dialog' %}
    {% set help_funder_name_id, help_funder_name_title, help_funder_name_content = help[1] %}
    {% set help_funder_name_btn = help_funder_name_id ~ '_btn' %}
    {% set help_funder_name_dialog = help_funder_name_id ~ '_dialog' %}
    {% set help_award_title_id, help_award_title_title, help_award_title_content = help[2] %}
    {% set help_award_title_btn = help_award_title_id ~ '_btn' %}
    {% set help_award_title_dialog = help_award_title_id ~ '_dialog' %}
    {% set help_funder_identifiers_id, help_funder_identifiers_title, help_funder_identifiers_content = help[3] %}
    {% set help_funder_identifiers_btn = help_funder_identifiers_id ~ '_btn' %}
    {% set help_funder_identifiers_dialog = help_funder_identifiers_id ~ '_dialog' %}
    {% set help_award_number_id, help_award_number_title, help_award_number_content = help[4] %}
    {% set help_award_number_btn = help_award_number_id ~ '_btn' %}
    {% set help_award_number_dialog = help_award_number_id ~ '_dialog' %}
    {% set help_award_url_id, help_award_url_title, help_award_url_content = help[5] %}
    {% set help_award_url_btn = help_award_url_id ~ '_btn' %}
    {% set help_award_url_dialog = help_award_url_id ~ '_dialog' %}
    {% endif %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_award_dialog, help_award_btn) }}
        {{ macros.help_script(help_funder_name_dialog, help_funder_name_btn) }}
        {{ macros.help_script(help_award_title_dialog, help_award_title_btn) }}
        {{ macros.help_script(help_funder_identifiers_dialog, help_funder_identifiers_btn) }}
        {{ macros.help_script(help_award_number_dialog, help_award_number_btn) }}
        {{ macros.help_script(help_award_url_dialog, help_award_url_btn) }}
    });
    </script>
{% endblock %}