{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_awards_id, help_awards_title, help_awards_content = help[0] %}
    {% set help_awards_btn = help_awards_id ~ '_btn' %}
    {% set help_awards_dialog = help_awards_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Funding Awards</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_awards_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th colspan="1">Funder Name</th>
                        <th colspan="5">Award Title</th>
                    </tr>
                    {% for award_entry in award_list %}
                    <tr>
                        <td width="40%">{{ award_entry.funder_name }}</td>
                        <td width="40%">{{ award_entry.award_title }}</td>
                        {{ macros.up_down_arrow(award_entry.id, award_entry.upval) }}
                        {{ macros.up_down_arrow(award_entry.id, award_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ award_entry.id }}" type="submit" value="Edit"/></td>
                        <td><input class="btn btn-primary" name="{{ award_entry.id }}" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="Add" type="submit" value="Add Funding Award"/>
                <br/><br/>
                <input class="btn btn-primary" name="Next" type="submit" value="Back to Project"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_awards_dialog, help_awards_title, help_awards_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_awards_id, help_awards_title, help_awards_content = help[0] %}
    {% set help_awards_btn = help_awards_id ~ '_btn' %}
    {% set help_awards_dialog = help_awards_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_awards_dialog, help_awards_btn) }}
    });
    </script>
{% endblock %}