{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_project_id, help_project_title, help_project_content = help[0] %}
    {% set help_project_btn = help_project_id ~ '_btn' %}
    {% set help_project_dialog = help_project_id ~ '_dialog' %}
    {% set help_project_title_id, help_project_title_title, help_project_title_content = help[1] %}
    {% set help_project_title_btn = help_project_title_id ~ '_btn' %}
    {% set help_project_title_dialog = help_project_title_id ~ '_dialog' %}
    {% set help_project_funding_id, help_project_funding_title, help_project_funding_content = help[2] %}
    {% set help_project_funding_btn = help_project_funding_id ~ '_btn' %}
    {% set help_project_funding_dialog = help_project_funding_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>{{ title }}</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_project_btn) }}</td>
    </table>
    
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                <h5>Enter the project information below:</h5>
                <table>
                    <td>{{ wtf.form_field(form.title, size=100) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_project_title_btn) }}</td>
                </table>

                {% if model_has_complex_texttypes %}
                {% set font_family='Courier' %}
                {% endif %}
                {{ macros.check_xml_start(font_family) }}{{ wtf.form_field(form.abstract, rows=6, cols=100) }}
                {{ macros.check_xml_end('check_xml_1', model_has_complex_texttypes) }}
                <br/>
                {% if form.funding.data %}
                {{ macros.item_start() }}{{ wtf.form_field(form.funding, rows=4, cols=100) }}
                {{ macros.help_and_check_xml_buttons(help_project_funding_btn, "check_xml_2", model_has_complex_texttypes) }}
                <br/>
                {% endif %}

                <input class="btn btn-primary" name="Project Personnel" type="submit" value="Project Personnel"/>&nbsp;&nbsp;
                <input class="btn btn-primary" name="Funding Awards" type="submit" value="Funding Awards"/>&nbsp;&nbsp;
                {% if title == 'Project' %}
                <input class="btn btn-primary" name="Related Projects" type="submit" value="Related Projects"/>
                {% endif %}
                <br/><br/>
                {% if title == 'Project' %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {% endif %}
                {% if title == 'Related Project' %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {% endif %}
                &nbsp;&nbsp;
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_project_dialog, help_project_title, help_project_content) }}
    {{ macros.help_dialog(help_project_title_dialog, help_project_title_title, help_project_title_content) }}
    {{ macros.help_dialog(help_project_funding_dialog, help_project_funding_title, help_project_funding_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_project_id, help_project_title, help_project_content = help[0] %}
    {% set help_project_btn = help_project_id ~ '_btn' %}
    {% set help_project_dialog = help_project_id ~ '_dialog' %}
    {% set help_project_title_id, help_project_title_title, help_project_title_content = help[1] %}
    {% set help_project_title_btn = help_project_title_id ~ '_btn' %}
    {% set help_project_title_dialog = help_project_title_id ~ '_dialog' %}
    {% set help_project_funding_id, help_project_funding_title, help_project_funding_content = help[2] %}
    {% set help_project_funding_btn = help_project_funding_id ~ '_btn' %}
    {% set help_project_funding_dialog = help_project_funding_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_project_dialog, help_project_btn) }}
        {{ macros.help_script(help_project_title_dialog, help_project_title_btn) }}
        {{ macros.help_script(help_project_funding_dialog, help_project_funding_btn) }}
    });
    </script>
    <script>
        {{ macros.check_xml_btn_handler('#check_xml_1', '#abstract', 'abstract') }}
    </script>
    {% if form.funding.data %}
    <script>
        {{ macros.check_xml_btn_handler('#check_xml_2', '#funding', 'funding') }}
    </script>
    {% endif %}
{% endblock %}