{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% set help_rp_save_changes_id, help_rp_save_changes_title, help_rp_save_changes_content = help[1] %}
    {% set help_rp_save_changes_btn = help_rp_save_changes_id ~ '_btn' %}
    {% set help_rp_save_changes_dialog = help_rp_save_changes_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td style="vertical-align:middle;padding-top: 12px;">
        {% set node_id = rp_node_id.split("|")[0] %}
        {% if node_name == 'publisher' %}
            {% set node_status = 'publisher_status' %}
        {% else %}
            {% set node_status = node_id + '_status' %}
        {% endif %}
{#        {{ macros.local_status_badge_with_popup(session[node_status], tooltip) }}#}
{#        </td>#}
{#        <td style="width:3%"></td>#}
{#        <td><h2>{{ title }}</h2></td>#}
{#        <td valign="middle" style="padding-top: 20px;padding-left: 15px;">{{ macros.help_button(help_rp_btn) }}</td>#}
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" id="main_form" role="form">
    {{ macros.page_heading_with_status_popup(title, node_id, tooltip, session, help_rp_save_changes_btn, help_rp_btn) }}

    {% if node_name == 'publisher' %}
    <div class="col-md-10" style="width:100%;border: 2px solid steelblue;color: steelblue;padding: 15px;margin-bottom: 15px;">
        Please note: if you plan to submit your data package to the data repository hosted by the
        Environmental Data Initiative (EDI), you should leave this page blank unless you will also
        be using the EML metadata for some other purpose. EDI will replace these entries in the submitted EML
        when the data package is submitted.
    </div>
    {% endif %}
{#<br>&nbsp;</br>#}
                {% if not role %}
                    <h5 style="color: steelblue;font-style: italic">At least one of the following is required: Last Name, Organization, or Position Name.</h5>
                {% else %}
                    <h5 style="color: steelblue;font-style: italic">At least one of the following is required: Last Name, Organization, or Position Name. Role is also required.</h5>
                {% endif %}
                <table style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;" width="100%">
                    <tr>
                        <td>
                        <table width="100%">
                        <tr>
                            <td style="padding: 10px 20px;" width="66%">{{ wtf.form_field(form.sn) }}</td>
                            <td width="1%">&nbsp;</td>
                            <td class="table_cell">
                            {{ wtf.form_field(form.user_id, placeholder="e.g., 0000-0002-5143-7857") }}
                            </td>
                            <td width="3%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                            <table>
                            <tr>
                            <td width="3%">&nbsp;</td>
                            <td class="table_cell">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.salutation) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td class="table_cell">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.gn) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            <td class="table_cell">
                            <span style="color:{{ optional }};">{{ wtf.form_field(form.mn) }}</span>
                            </td>
                            <td width="3%">&nbsp;</td>
                            </tr>
                            </table>
                            </td>
                        </tr>
                        </table>
                        </td>
                    </tr><tr>
                    <td style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;">
                        <table width="100%">
                            <tr>
                                <td width="44%">{{ wtf.form_field(form.organization) }}</td>
                            <td width="3%">&nbsp;</td>
                                <td width="18%">{{ wtf.form_field(form.org_id) }}</td>
                            <td width="3%">&nbsp;</td>
                                <td width="31%">{{ wtf.form_field(form.org_id_type) }}</td>
                            </tr>
                        </table>
                    </td>
                    </tr><tr>
                    <td style="border: 2px solid steelblue;border-collapse: collapse;padding: 10px 20px;">{{ wtf.form_field(form.position_name) }}</td>
                    </tr>
                </table>
                <br>
                {% if role %}
                {{ wtf.form_field(form.role) }}
                {% endif %}

                <table>
                <tr>

                <td class="table_cell">
                {{ wtf.form_field(form.email) }}
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                {{ wtf.form_field(form.online_url) }}
                </td>
                </tr>
                </table>

                <span style="color:{{ optional }};">{{ wtf.form_field(form.address_1) }}</span>
                <span style="color:{{ optional }};">{{ wtf.form_field(form.address_2) }}</span>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.city) }}</span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.state) }}</span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.postal_code) }}</span>
                </td>
                </tr>
                </table>

                <table>
                <tr>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.country) }}</span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.phone) }}</span>
                </td>
                <td width="3%">&nbsp;</td>
                <td class="table_cell">
                <span style="color:{{ optional }};">{{ wtf.form_field(form.fax) }}</span>
                </td>
                </tr>
                </table>

                {% if not save_and_continue %}
                <input class="btn btn-primary" name="OK" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
{#                {% if next_page %}#}
{#                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>#}
{#                {% endif %}#}
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset Changes"/>
                {% endif %}
                {% if node_name == 'publisher' %}
                    {{ macros.hidden_buttons() }}
                {% else %}
                    {{ macros.hidden_buttons_with_no_contents_menu() }}
                {% endif %}

                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                {{ macros.save_changes_modal() }}
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

    {{ macros.help_dialog(help_rp_dialog, help_rp_title, help_rp_content) }}
    {{ macros.help_dialog(help_rp_save_changes_dialog, help_rp_save_changes_title, help_rp_save_changes_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% set help_rp_save_changes_id, help_rp_save_changes_title, help_rp_save_changes_content = help[1] %}
    {% set help_rp_save_changes_btn = help_rp_save_changes_id ~ '_btn' %}
    {% set help_rp_save_changes_dialog = help_rp_save_changes_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_rp_dialog, help_rp_btn) }}
        {{ macros.help_script(help_rp_save_changes_dialog, help_rp_save_changes_btn) }}
    });
    </script>

    {{ macros.popup_support() }}
    {{ macros.highlight_element() }}
    {{ macros.save_changes_button_support() }}

{% endblock %}