{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>{{ rp_plural }}</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_rp_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th colspan="4">{{ rp_singular }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    {% for rp_entry in rp_list %}
                    <tr>
                        <td style="width:60%">{{ rp_entry.label }}</td>
                        {{ macros.up_down_arrow(rp_entry.id, rp_entry.upval) }}
                        {{ macros.up_down_arrow(rp_entry.id, rp_entry.downval) }}
                        <td align="right"><input class="btn btn-primary" name="{{ rp_entry.id }}" type="submit" value="Edit"/>
                        <input class="btn btn-primary" name="{{ rp_entry.id }}" onclick="return confirm('Are you sure?');" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="1" type="submit" value="Add {{ rp_singular }}"/>
{#                &nbsp;#}
{#                <input class="btn btn-primary" name="1" type="submit" value="Reuse a Responsible Party"/>#}
                <br/><br/>
                {% if session['current_page'] != 'project' %}
                <input class="btn btn-primary" name="Next" type="submit" value="Save and Continue"/>
                {% elif not relatedProject %}
                <input class="btn btn-primary" name="Next" type="submit" value="Back to Project"/>
                {% else %}
                <input class="btn btn-primary" name="Next" type="submit" value="Back to Related Project"/>
                {% endif %}
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>

    {{ macros.help_dialog(help_rp_dialog, help_rp_title, help_rp_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_rp_id, help_rp_title, help_rp_content = help[0] %}
    {% set help_rp_btn = help_rp_id ~ '_btn' %}
    {% set help_rp_dialog = help_rp_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_rp_dialog, help_rp_btn) }}
    });
    </script>
{% endblock %}