#!/usr/bin/env python
# -*- coding: utf-8 -*-

""":Mod: config

:Synopsis:

:Author:
    servilla

:Created:
    3/6/18
"""

class Config(object):

    # Flask app configuration
    SECRET_KEY = 'SECRET KEY'
    DEBUG = False