{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Access Rules{% if entity_name %} for Data Entity: {{ entity_name }}{% endif %}</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th>User ID</th>
                        <th>Permission</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for access_entry in ar_list %}
                    <tr>
                        <td width="50%">{{ access_entry.userid }}</td>
                        <td>{{ access_entry.permission }}</td>
                        {{ macros.up_down_arrow(access_entry.id, access_entry.upval) }}
                        {{ macros.up_down_arrow(access_entry.id, access_entry.downval) }}
                        <td><input class="btn btn-primary" name="{{ access_entry.id }}" type="submit" value="Edit"/>
                            <input class="btn btn-primary" name="{{ access_entry.id }}" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="1" type="submit" value="Add Access Rule"/>
                <br/>
                <br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                {% if not suppress_next_btn %}
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
                {% endif %}
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
{% endblock %}
