{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    {% set help_collaborate_general_id, help_collaborate_general_title, help_collaborate_general_content = help[0] %}
    {% set help_collaborate_general_btn = help_collaborate_general_id ~ '_btn' %}
    {% set help_collaborate_general_dialog = help_collaborate_general_id ~ '_dialog' %}
    {% set help_collaborate_invite_accept_id, help_collaborate_invite_accept_title, help_collaborate_invite_accept_content = help[1] %}
    {% set help_collaborate_invite_accept_btn = help_collaborate_invite_accept_id ~ '_btn' %}
    {% set help_collaborate_invite_accept_dialog = help_collaborate_invite_accept_id ~ '_dialog' %}

    <table>
        <td><h2>Collaborate</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_collaborate_general_btn) }}</td>
    </table>

    <div class="col-md-12" width="100%">
        <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>

        <h4>My Collaborations</h4>
            <table id="data_table" class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=33%>Package</th>
                <th style="text-align:left;" width=15%>Owner</th>
                <th style="text-align:left;" width=15%>Collaborator</th>
                <th style="text-align:left;" width=10%>Start Date</th>
                <th style="text-align:left;" width=15%>Status</th>
                <th style="text-align:left;" width=17%>Action</th>
                </thead>
                <tbody>
                {% for collaboration in collaborations %}
                <tr>
                <td class="collab_table" valign="top">{{ collaboration.package_name }}</td>
                <td class="collab_table" valign="top">
                    {% if collaboration.owner_login == user %}
                    <b>
                    {% endif %}
                    {{ collaboration.owner_name }}
                    {% if collaboration.owner_login == user %}
                    </b>
                    {% endif %}
                </td>
                <td class="collab_table" valign="top">
                    {% if collaboration.collaborator_login == user %}
                    <b>
                    {% endif %}
                    {{ collaboration.collaborator_name }}
                    {% if collaboration.collaborator_login == user %}
                    </b>
                    {% endif %}
                </td>
                <td class="collab_table" valign="top">{{ collaboration.date_created }}</td>
                <td class="collab_table" valign="top">{{ collaboration.status_str }}</td>
                <td class="collab_table" valign="top">{{ collaboration.action_str|safe }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <p>&nbsp;</p>
        {% if invitations|length > 0 %}
        <h4>My Pending Invitations</h4>
            <table class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=35%>Package</th>
                <th style="text-align:left;" width=16%>Invitee</th>
                <th style="text-align:left;" width=16%>Invitee Email</th>
                <th style="text-align:left;" width=18%>Date</th>
                <th style="text-align:left;" width=15%>Action</th>
                </thead>
                <tbody>
                {% for invitation in invitations %}
                <tr>
                <td class="collab_table" valign="top">{{ invitation.package }}</td>
                <td class="collab_table" valign="top">{{ invitation.invitee_name }}</td>
                <td class="collab_table" valign="top">{{ invitation.invitee_email }}</td>
                <td class="collab_table" valign="top">{{ invitation.date }}</td>
                <td class="collab_table" valign="top">{{ invitation.action|safe }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <p>&nbsp;</p>
        {% endif %}
{#        <p>&nbsp;</p>#}
        {% if not session['collaboration_enabled_for_user'] %}
            <input class="btn btn-primary" style="width: 160px;" disabled
                   title="This feature is currently available to beta testers only. If you would like to participate in beta testing, please contact us at support@edirepository.org."
                   name="Submit" type="submit" value="Invite a Collaborator"/>&nbsp;&nbsp;
        {% elif invitation_disabled %}
            <input class="btn btn-primary" style="width: 160px;" disabled
                   title="You can only invite collaborators if you have a document open and it is one that you own."
                   name="Submit" type="submit" value="Invite a Collaborator"/>&nbsp;&nbsp;
        {% else %}
            <input class="btn btn-primary" style="width: 160px;" name="Submit" type="submit" value="Invite a Collaborator"/>&nbsp;&nbsp;
        {% endif %}&nbsp;&nbsp;
            <input class="btn btn-primary" style="width: 160px;" name="Submit" type="submit" value="Accept an Invitation"/>&nbsp;&nbsp;
{#    <table>#}
{#        <td><h2>Collaborate</h2></td>#}
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_collaborate_invite_accept_btn) }}</td>
{#    </table>#}
{#            <input class="btn btn-primary" style="width: 120px;margin-left: 200px;" name="Submit" type="submit" value="Refresh"/>&nbsp;&nbsp;#}

        {% if is_edi_curator %}
            <p></p><br>
            <input class="btn btn-primary" style="width: 160px;" name="Submit" type="submit" value="Show Backups"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            {% if not save_backup_disabled %}
                <input class="btn btn-primary" style="width: 160px;" name="Submit" type="submit" value="Save a Backup"/>&nbsp;&nbsp;
            {% else %}
                <input class="btn btn-primary" style="width: 160px;" disabled
                       title="You can only Save a Backup if you have a document open and it is under EDI Curation."
                       name="Submit" type="submit" value="Save a Backup"/>&nbsp;&nbsp;
            {% endif %}&nbsp;&nbsp;
        {% endif %}

        {% if dev %}
        <p></p>
        <hr style="border-color: gray">
        <p></p>

        <h4>Users</h4>
            <table class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=10%>user_id</th>
                <th style="text-align:left;" width=50%>user_login</th>
                <th style="text-align:left;">active_package_id</th>
                </thead>
                <tbody>
                {% for user in user_list %}
                <tr>
                <td class="collab_table" valign="top">{{ user.user_id }}</td>
                <td class="collab_table" valign="top">{{ user.user_login }}</td>
                <td class="collab_table" valign="top">{{ user.active_package_id }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h4>Packages</h4>
            <table class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=10%>package_id</th>
                <th style="text-align:left;" width=50%>package_name</th>
                <th style="text-align:left;" width=40%>owner_login</th>
                </thead>
                <tbody>
                {% for package in package_list %}
                <tr>
                <td class="collab_table" valign="top">{{ package.package_id }}</td>
                <td class="collab_table" valign="top">{{ package.package_name }}</td>
                <td class="collab_table" valign="top">{{ package.owner_login }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h4>Locks</h4>
            <table class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=40%>Package</th>
                <th style="text-align:left;" width=20%>Owner</th>
                <th style="text-align:left;" width=20%>Locked By</th>
                <th style="text-align:left;" width=20%>Timestamp</th>
                </thead>
                <tbody>
                {% for lock in lock_list %}
                <tr>
                <td class="collab_table" valign="top">{{ lock.package_name }}</td>
                <td class="collab_table" valign="top">{{ lock.owner }}
                </td>
                <td class="collab_table" valign="top">
                    {{ lock.locked_by }}
                </td>
                <td class="collab_table" valign="top">{{ lock.timestamp }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h4>Group Locks</h4>
            <table class="collab_table display compact" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=20%>group_lock_id</th>
                <th style="text-align:left;" width=20%>package_id</th>
                <th style="text-align:left;" width=20%>locked_by_id</th>
                </thead>
                <tbody>
                {% for group_lock in group_lock_list %}
                <tr>
                <td class="collab_table" valign="top">{{ group_lock.group_lock_id }}</td>
                <td class="collab_table" valign="top">{{ group_lock.package_id }}</td>
                <td class="collab_table" valign="top">{{ group_lock.locked_by_id }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h4>Collaborations</h4>
            <table class="collab_table" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=20%>collab_id</th>
                <th style="text-align:left;" width=20%>owner_id</th>
                <th style="text-align:left;" width="20%">collaborator_id</th>
                <th style="text-align:left;" width="20%">package_id</th>
                </thead>
                <tbody>
                {% for collaboration in collaboration_list %}
                <tr>
                <td class="collab_table" valign="top">{{ collaboration.collab_id }}</td>
                <td class="collab_table" valign="top">{{ collaboration.owner_id }}</td>
                <td class="collab_table" valign="top">{{ collaboration.collaborator_id }}</td>
                <td class="collab_table" valign="top">{{ collaboration.package_id }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

        <h4>Group Collaborations</h4>
            <table class="collab_table" width=100% style="padding: 10px;">
                <thead>
                <tr><th style="text-align:left;" width=20%>group_collab_id</th>
                <th style="text-align:left;" width=20%>owner_id</th>
                <th style="text-align:left;" width="20%">user_group_id</th>
                <th style="text-align:left;" width="20%">package_id</th>
                </thead>
                <tbody>
                {% for group_collaboration in group_collaboration_list %}
                <tr>
                <td class="collab_table" valign="top">{{ group_collaboration.group_collab_id }}</td>
                <td class="collab_table" valign="top">{{ group_collaboration.owner_id }}</td>
                <td class="collab_table" valign="top">{{ group_collaboration.user_group_id }}</td>
                <td class="collab_table" valign="top">{{ group_collaboration.package_id }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <input class="btn btn-primary" style="width: 160px;" name="Submit" type="submit" value="Clean Up Database"/>&nbsp;&nbsp;

        {% endif %}
        <p></p>
            {{ macros.hidden_new_open_close_buttons() }}
        </form>
    </div>
    {{ macros.help_dialog(help_collaborate_general_dialog, help_collaborate_general_title, help_collaborate_general_content) }}
    {{ macros.help_dialog(help_collaborate_invite_accept_dialog, help_collaborate_invite_accept_title, help_collaborate_invite_accept_content) }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% set help_collaborate_general_id, help_collaborate_general_title, help_collaborate_general_content = help[0] %}
    {% set help_collaborate_general_btn = help_collaborate_general_id ~ '_btn' %}
    {% set help_collaborate_general_dialog = help_collaborate_general_id ~ '_dialog' %}
    {% set help_collaborate_invite_accept_id, help_collaborate_invite_accept_title, help_collaborate_invite_accept_content = help[1] %}
    {% set help_collaborate_invite_accept_btn = help_collaborate_invite_accept_id ~ '_btn' %}
    {% set help_collaborate_invite_accept_dialog = help_collaborate_invite_accept_id ~ '_dialog' %}
    <script>
    $(document).ready(function()
    {
      $('#data_table').DataTable( {
          paging: true,
          lengthMenu: [
            [20, 50, 100, -1],
            [20, 50, 100, 'All'],
          ],
          ordering: true,
          order: [[3, 'desc']],
          searching: false,
          columnDefs: [
              { orderable: false, targets: [5] },
              { targets: [0], orderData: [0] },
              { targets: [1], orderData: [1] },
              { targets: [2], orderData: [2] },
              { targets: [3], orderData: [3] },
              { targets: [4], orderData: [4] }
          ]
      });

      $(".collab_table tr:odd").css("background", "#f4f4f4");
      $(".collab_table tr:even").css("background", "#fff");
      $(".collab_table").css("padding", "3px");
    });
    $(function()
    {
        {{ macros.help_script(help_collaborate_general_dialog, help_collaborate_general_btn) }}
        {{ macros.help_script(help_collaborate_invite_accept_dialog, help_collaborate_invite_accept_btn) }}
    });
    </script>
{% endblock %}