{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_enable_edi_curation_id, help_enable_edi_curation_title, help_enable_edi_curation_content = help[0] %}
    {% set help_enable_edi_curation_btn = help_enable_edi_curation_id ~ '_btn' %}
    {% set help_enable_edi_curation_dialog = help_enable_edi_curation_id ~ '_dialog' %}
    {% set help_enable_edi_curation_notes_id, help_enable_edi_curation_notes_title, help_enable_edi_curation_notes_content = help[1] %}
    {% set help_enable_edi_curation_notes_btn = help_enable_edi_curation_notes_id ~ '_btn' %}
    {% set help_enable_edi_curation_notes_dialog = help_enable_edi_curation_notes_id ~ '_dialog' %}
    <table>
        <td><h2>Submit Package to EDI</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_enable_edi_curation_btn) }}</td>
    </table>
        <div class="col-md-10">
        <br>
        <p>Clicking <b>Submit Package to EDI</b> below will hand your ezEML data package off to EDI's data curation team, allowing
            them to access it directly. They will review it, and if any changes or corrections are needed, they will contact you
            before changing anything. When all needed changes have been made, they will add the package to the EDI data
            repository. Note that this process may take several days.
If you have questions, please contact us at
        <a href="mailto:support@edirepository.org">support@edirepository.org</a>.</p>

{#            <br>#}


        <form method="POST" action="" class="form" role="form" enctype=multipart/form-data novalidate>
        {{ form.csrf_token }}

    <table>
        <tr><td>
        <table>
            <td>{{ wtf.form_field(form.name, size=100) }}</td>
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
        </table>
        </td>
            <td width="5%">&nbsp;</td>
        <td>
        <table>
            <td>{{ wtf.form_field(form.email_address, size=100) }}</td>
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
        </table>
        </td></tr>
    </table>

        <table>
            <td>{{ wtf.form_field(form.notes, rows=4, cols=100) }}</td>
            <td valign="top" style="padding-top: 25px;">{{ macros.help_button(help_enable_edi_curation_notes_btn) }}</td>
        </table>

    <script type="text/javascript">
        function togglePackageStringField(which) {
            if (which == "new") {
                $("#update_package").css('display', 'none');
                $("#blank_line").css('display', 'none');
            } else {
                $("#update_package").css('display', 'block');
                $("#blank_line").css('display', 'block');
                $("#update_package").val('');
            }
            return true;
        }
        function check_form_completed() {
            if(!$("input[name='name']").val()) {
                alert("Your Name is required");
                return false;
            }
            if(!$("input[name='email_address']").val()) {
                alert("Your Email Address is required");
                return false;
            }
            if(!$("input[name='is_update']:checked").val()) {
                alert("Please select whether this is a new data package or an update/revision to an existing data package");
                return false;
            }
            if ($('input[name="is_update"]:checked').val() == "existing" && $("#update_package").val() == "") {
                alert("Please enter the existing data package's URL, DOI, or data package identifier (e.g., edi.100.4)");
                return false;
            }
            return true;
        }
    </script>

        <table>
            <tr><h5>Is this submission an update/revision to an existing data package?</h5></tr>
            <tr>
            <ul id="is_update" style="list-style:none;">
{#                Note: we don't set a default choice because we want to make sure the user sees this question.#}
                <li><input id="is_update-0" name="is_update" type="radio"
                           onclick="togglePackageStringField('new');"
                           value="new"> <label for="is_update-0">It is a new data package</label></li>
                <li><input id="is_update-1" name="is_update" type="radio"
                           onclick="togglePackageStringField('existing');"
                           value="existing"> <label for="is_update-1">It is an update/revision to an existing data package</label></li></ul>
            </tr>
            <tr>
                <td width="40px"></td>
                <td>
                    <input class="form-control" id="update_package" name="update_package"
                           placeholder="Enter the existing data package&#39;s URL, DOI, or data package identifier (e.g., edi.100.4)"
                           style="display:none;width:580px;" type="text" value="">
                </td>
            </tr>
            <tr id="blank_line" style="display:none;">
                <td >&nbsp;</td>
            </tr>
        </table>

        {% if check_metadata_status == 'red' %}
            <div class="col-md-12" style="border: 2px solid red;padding: 15px;">
            <span style="color:red;font-weight: bold">Your metadata contains one or more errors.</span><span style="color:black;"><p></p>To see what the errors
                are, click <b><a href="/eml/check_metadata">Check Metadata</a></b>, where errors will be indicated by red
                "badges" like this:  <span class ="red_circle" style=""></span><p></p>
            We strongly encourage you to correct all errors before submitting. If you are unsure how to fix some errors,
                feel free to contact us at <a style="color: steelblue;font-weight: bold" href="mailto:support.edirepository.org">support@edirepository.org</a>
                for assistance. If you are completely stuck, you may go ahead and submit your package as is, but in that case, please leave
                an explanation in the <b>Notes for EDI Data Curators</b> text area above so we can assist you better.</span>
{#            <p>&nbsp;</p>#}
            </div>
            <p>&nbsp;</p>
        {% endif %}
        {% if check_data_table_status == 'yellow' %}
            <div class="col-md-12" style="border: 2px solid red;padding: 15px;">
            <span style="color:red;font-weight: bold">One or more of your data tables have not been checked.</span><p></p><span style="color:black;"> Before continuing,
                please click <b><a href="/eml/check_data_tables">Check Data Tables</a></b>, check all unchecked tables, and correct
                any errors found.
            </div>
            <p>&nbsp;</p>
        {% endif %}
        {% if check_data_table_status == 'red' %}
            <div class="col-md-12" style="border: 2px solid red;padding: 15px;">
            <span style="color:red;font-weight: bold">One or more of your data tables contain errors.</span><p></p><span style="color:black;">
                Click <b><a href="/eml/check_data_tables">Check Data Tables</a></b> to see what the errors are.<p></p>
            We strongly encourage you to correct all errors before submitting. If you are unsure how to fix some errors,
                feel free to contact us at <a style="color: steelblue;font-weight: bold;" href="mailto:support.edirepository.org">support@edirepository.org</a>
                for assistance.</span>
            </div>
            <p>&nbsp;</p>
        {% endif %}

            {% if not enable_disabled %}
                <input class="btn btn-primary" style="width: 170px;" name="Submit" type="submit" onclick="return check_form_completed()" value="Submit Package to EDI"/>&nbsp;&nbsp;
            {% else %}
                <input class="btn btn-primary" style="width: 170px;" name="Submit" type="submit" disabled value="Submit Package to EDI"/>&nbsp;&nbsp;
            {% endif %}
                <input class="btn btn-primary" style="width: 95px;" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>
            {{ macros.hidden_buttons_with_no_contents_menu() }}

        </form>
        </div>
    {{ macros.help_dialog(help_enable_edi_curation_dialog, help_enable_edi_curation_title, help_enable_edi_curation_content) }}
    {{ macros.help_dialog(help_enable_edi_curation_notes_dialog, help_enable_edi_curation_notes_title, help_enable_edi_curation_notes_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_enable_edi_curation_id, help_enable_edi_curation_title, help_enable_edi_curation_content = help[0] %}
    {% set help_enable_edi_curation_btn = help_enable_edi_curation_id ~ '_btn' %}
    {% set help_enable_edi_curation_dialog = help_enable_edi_curation_id ~ '_dialog' %}
    {% set help_enable_edi_curation_notes_id, help_enable_edi_curation_notes_title, help_enable_edi_curation_notes_content = help[1] %}
    {% set help_enable_edi_curation_notes_btn = help_enable_edi_curation_notes_id ~ '_btn' %}
    {% set help_enable_edi_curation_notes_dialog = help_enable_edi_curation_notes_id ~ '_dialog' %}
    <script>
    $(function()
    {
        {{ macros.help_script(help_enable_edi_curation_dialog, help_enable_edi_curation_btn) }}
        {{ macros.help_script(help_enable_edi_curation_notes_dialog, help_enable_edi_curation_notes_btn) }}
    });
    </script>
{% endblock %}