{% extends 'bootstrap/base.html' %}


{% block content %}
<div class="container" style="width: 50%;">
    {% block app_content %}
        <p>&nbsp;</p>
        <a style="float:right;" href="{{ url_for('home.index') }}">Home</a>
        <p>&nbsp;</p>
        <h4 align="center">ezEML has attempted to execute deprecated code.<p>&nbsp;</p>
        Please contact support@edirepository.org for assistance.</h4>
        <p>&nbsp;</p>
        This is an internal server error due to a bug in the ezEML software. To assist us in finding and fixing
        the cause, please let us know the username you were logged in under when the error occurred and the approximate
        date and time of the error.
        <p>&nbsp;</p>
        Please also tell us the name of the deprecated function that was called: <b>{{ message }}</b>.
        <p>&nbsp;</p>
        We will fix the error as soon as possible. Your help is greatly appreciated!
        </p>
    {% endblock %}
</div>
{% endblock %}