{% macro up_down_arrow(id, val) %}
    {% if val == '' %}
    <td></td>
    {% else %}
    <td style="width:3%"><input class="btn btn-primary" name="{{ id }}" type="submit" value="{{ val }}"/></td>
    {% endif %}
{% endmacro %}
{% macro hidden_buttons() %}
                <input id="hidden_about" style="display: none;" name="Hidden_About" type="submit" value="Hidden_About"/>
                <input id="hidden_close" style="display: none;" name="Hidden_Close" type="submit" value="Hidden_Close"/>
                <input id="hidden_collaborate" style="display: none;" name="Hidden_Collaborate" type="submit" value="Hidden_Collaborate"/>
                <input id="hidden_download" style="display: none;" name="Hidden_Download" type="submit" value="Hidden_Download"/>
                <input id="hidden_export_ezEML_data_package" style="display: none;" name="Hidden_Export_ezEML_Data_Package" type="submit" value="Hidden_Export_ezEML_Data_Package"/>
                <input id="hidden_fetch_from_EDI" style="display: none;" name="Hidden_Fetch_From_EDI" type="submit" value="Hidden_Fetch_From_EDI"/>
                <input id="hidden_preview_data_portal" style="display: none;" name="Hidden_Preview_Data_Portal" type="submit" value="Hidden_Preview_Data_Portal"/>
                <input id="hidden_import_ezEML_data_package" style="display: none;" name="Hidden_Import_ezEML_Data_Package" type="submit" value="Hidden_Import_ezEML_Data_Package"/>
                <input id="hidden_import_funding_awards" style="display: none;" name="Hidden_Import_Funding_Awards" type="submit" value="Hidden_Import_Funding_Awards"/>
                <input id="hidden_import_geo_coverage" style="display: none;" name="Hidden_Import_Geo_Coverage" type="submit" value="Hidden_Import_Geo_Coverage"/>
                <input id="hidden_import_keywords" style="display: none;" name="Hidden_Import_Keywords" type="submit" value="Hidden_Import_Keywords"/>
                <input id="hidden_import_parties" style="display: none;" name="Hidden_Import_Parties" type="submit" value="Hidden_Import_Parties"/>
                <input id="hidden_import_project" style="display: none;" name="Hidden_Import_Project" type="submit" value="Hidden_Import_Project"/>
                <input id="hidden_import_related_projects" style="display: none;" name="Hidden_Import_Related_Projects" type="submit" value="Hidden_Import_Related_Projects"/>
                <input id="hidden_import_taxonomic_coverage" style="display: none;" name="Hidden_Import_Taxonomic_Coverage" type="submit" value="Hidden_Import_Taxonomic_Coverage"/>
                <input id="hidden_import_xml" style="display: none;" name="Hidden_Import_XML" type="submit" value="Hidden_Import_XML"/>
                <input id="hidden_index" style="display: none;" name="Hidden_Index" type="submit" value="Hidden_Index"/>
                <input id="hidden_logout" style="display: none;" name="Hidden_Logout" type="submit" value="Hidden_Logout"/>
                <input id="hidden_manage" style="display: none;" name="Hidden_Manage" type="submit" value="Hidden_Manage"/>
                <input id="hidden_new" style="display: none;" name="Hidden_New" type="submit" value="Hidden_New"/>
                <input id="hidden_new_from_template" style="display: none;" name="Hidden_New_From_Template" type="submit" value="Hidden_New_From_Template"/>
                <input id="hidden_news" style="display: none;" name="Hidden_News" type="submit" value="Hidden_News"/>
                <input id="hidden_open" style="display: none;" name="Hidden_Open" type="submit" value="Hidden_Open"/>
                <input id="hidden_save" style="display: none;" name="Hidden_Save" type="submit" value="Hidden_Save"/>
                <input id="hidden_save_as" style="display: none;" name="Hidden_Save_As" type="submit" value="Hidden_Save_As"/>
                <input id="hidden_settings" style="display: none;" name="Hidden_Settings" type="submit" value="Hidden_Settings"/>
                <input id="hidden_user_guide" style="display: none;" name="Hidden_User_Guide" type="submit" value="Hidden_User_Guide"/>
                {# Buttons for Contents Menu #}
                <input id="hidden_title" style="display: none;" name="Hidden_Title" type="submit" value="Hidden_Title"/>
                <input id="hidden_data_tables" style="display: none;" name="Hidden_Data_Tables" type="submit" value="Hidden_Data_Tables"/>
                <input id="hidden_creators" style="display: none;" name="Hidden_Creators" type="submit" value="Hidden_Creators"/>
                <input id="hidden_contacts" style="display: none;" name="Hidden_Contacts" type="submit" value="Hidden_Contacts"/>
                <input id="hidden_associated_parties" style="display: none;" name="Hidden_Associated_Parties" type="submit" value="Hidden_Associated_Parties"/>
                <input id="hidden_metadata_providers" style="display: none;" name="Hidden_Metadata_Providers" type="submit" value="Hidden_Metadata_Providers"/>
                <input id="hidden_abstract" style="display: none;" name="Hidden_Abstract" type="submit" value="Hidden_Abstract"/>
                <input id="hidden_keywords" style="display: none;" name="Hidden_Keywords" type="submit" value="Hidden_Keywords"/>
                <input id="hidden_intellectual_rights" style="display: none;" name="Hidden_Intellectual_Rights" type="submit" value="Hidden_Intellectual_Rights"/>
                <input id="hidden_geographic_coverage" style="display: none;" name="Hidden_Geographic_Coverage" type="submit" value="Hidden_Geographic_Coverage"/>
                <input id="hidden_temporal_coverage" style="display: none;" name="Hidden_Temporal_Coverage" type="submit" value="Hidden_Temporal_Coverage"/>
                <input id="hidden_taxonomic_coverage" style="display: none;" name="Hidden_Taxonomic_Coverage" type="submit" value="Hidden_Taxonomic_Coverage"/>
                <input id="hidden_maintenance" style="display: none;" name="Hidden_Maintenance" type="submit" value="Hidden_Maintenance"/>
                <input id="hidden_publisher" style="display: none;" name="Hidden_Publisher" type="submit" value="Hidden_Publisher"/>
                <input id="hidden_publication_info" style="display: none;" name="Hidden_Publication_Info" type="submit" value="Hidden_Publication_Info"/>
                <input id="hidden_methods" style="display: none;" name="Hidden_Methods" type="submit" value="Hidden_Methods"/>
                <input id="hidden_project" style="display: none;" name="Hidden_Project" type="submit" value="Hidden_Project"/>
                <input id="hidden_other_entities" style="display: none;" name="Hidden_Other_Entities" type="submit" value="Hidden_Other_Entities"/>
                <input id="hidden_data_package_id" style="display: none;" name="Hidden_Data_Package_ID" type="submit" value="Hidden_Data_Package_ID"/>
                <input id="hidden_check_metadata" style="display: none;" name="Hidden_Check_Metadata" type="submit" value="Hidden_Check_Metadata"/>
                <input id="hidden_check_data_tables" style="display: none;" name="Hidden_Check_Data_Tables" type="submit" value="Hidden_Check_Data_Tables"/>
                <input id="hidden_submit_share_package" style="display: none;" name="Hidden_Submit_Share_Package" type="submit" value="Hidden_Submit_Share_Package"/>
                <input id="hidden_manage_data_usage" style="display: none;" name="Hidden_Manage_Data_Usage" type="submit" value="Hidden_Manage_Data_Usage"/>
    {% set show_nav_buttons = 'visible' %}
{% endmacro %}
{% macro hidden_buttons_with_no_contents_menu() %}
    {{ hidden_buttons() }}
                <input id="hide_contents_menu" style="display: none;" name="Hide Contents Menu" type="submit" value="Hide Contents Menu"/>
{% endmacro %}
{% macro button_link(url, class, style, hidden_name, display_name, is_non_saving) %}
                            {% if is_non_saving %}
                            <a class="{{ class }}" style={{ style }}; href="{{ url }}" title="{{ display_name }}">{{ display_name }}</a>
                            {% else %}
                            <a class="{{ class }}" style={{ style }}; href="#" onclick="$('#{{ hidden_name }}').click();" title="{{ display_name }}">{{ display_name }}</a>
                            {% endif %}
{% endmacro %}
{% macro import_selection(form, source_filename, item_name) %}
    <script>
        function choose_options(all) {
            $('input:checkbox').not(this).prop('checked', all);
        }
    </script>
                    <tr><h5>Select {{ item_name }} to import from "{{ source_filename }}":
                &nbsp;&nbsp;&nbsp;&nbsp;[ <button class="link" type="button" onclick="choose_options(true); return false;">Select All</button> ]
                &nbsp;&nbsp;&nbsp;&nbsp;[ <button class="link" type="button" onclick="choose_options(false); return false;">Clear All</button> ]</h5>
                    </tr>
                    {% if form.to_import.choices %}
                    <tr>{{ form.to_import(style="list-style:none;") }}</tr>
                    {% else %}
                    <tr><span style="font-style: italic;">&nbsp;&nbsp;"{{ source_filename }}" contains no {{ item_name }}.<p></p></span><br></tr>
                    {% endif %}
{% endmacro %}
{% macro import_selection_grouped(form, source_filename, option_groups, item_name) %}
    <script>
        function choose_options(all) {
            $('input:checkbox').not(this).prop('checked', all);
        }
    </script>
                    <tr><h5>Select {{ item_name }} to import from "{{ source_filename }}":
                &nbsp;&nbsp;&nbsp;&nbsp;[ <button class="link" type="button" onclick="choose_options(true); return false;">Select All</button> ]
                &nbsp;&nbsp;&nbsp;&nbsp;[ <button class="link" type="button" onclick="choose_options(false); return false;">Clear All</button> ]</h5>
                    </tr>
                    {% if form.to_import.choices %}
                    <tr>
                        {% for group, options in option_groups.items() %}
                            <h5 style="color: #006699">{{ group }}</h5> <!-- Group header -->
                            {% for option in options %}
                            <div>
                            &nbsp;&nbsp;&nbsp;<input type="checkbox" name="to_import" value="{{ option[0] }}">
                                <label for="{{ option[0] }}">{{ option[1] }}</label>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr><span style="font-style: italic;">&nbsp;&nbsp;"{{ source_filename }}" contains no {{ item_name }}.<p></p></span><br></tr>
                    {% endif %}
{% endmacro %}
{% macro import_selection_sortable(form, source_filename, item_name) %}
    <script>
        function choose_options(all) {
            $('input:checkbox').not(this).prop('checked', all);
        }
        function reconcile_checkbox_statuses(sorted) {
            // sorted is a boolean indicating whether the sorted list is the one displayed, i.e., the one whose
            // checkbox statuses should be copied to the other list.
            let from_items = null;
            let to_items = null;
            if (sorted === 'true') {
                from_items = Array.from(document.getElementById('to_import_sorted').getElementsByTagName('li'));
                to_items = Array.from(document.getElementById('to_import').getElementsByTagName('li'));
            } else {
                from_items = Array.from(document.getElementById('to_import').getElementsByTagName('li'));
                to_items = Array.from(document.getElementById('to_import_sorted').getElementsByTagName('li'));
            }
            from_items.forEach(function(item, index) {
                let checkbox = item.querySelector('input[type="checkbox"]');
                let checked = from_items[index].querySelector('input[type="checkbox"]').checked;
                let default_value = checkbox.defaultValue;
                // Find the item in the other list
                let other_item = to_items.find(function(element) {
                    return element.querySelector('input[type="checkbox"]').defaultValue == default_value;
                });
                if (other_item) {
                    other_item.querySelector('input[type="checkbox"]').checked = checked;
                }
            });
        }
        function toggle_order() {
            let sorted = document.getElementById('sorted');

            let to_import = document.getElementById('to_import');
            let to_import_sorted = document.getElementById('to_import_sorted');
            let items = null;

            reconcile_checkbox_statuses(sorted.value == 'true');

            if (sorted.value == 'false') {
                items = Array.from(to_import.getElementsByTagName('li'));
                to_import.style.display = 'none';
                to_import_sorted.style.display = 'block';
                sorted.value = 'true';
            } else {
                items = Array.from(to_import_sorted.getElementsByTagName('li'));
                to_import.style.display = 'block';
                to_import_sorted.style.display = 'none';
                sorted.value = 'false';
            }
        }
        function sort_state() {
            let sorted = document.getElementById('sorted');
            return sorted.value;
        }
    </script>
                    <tr><h5>Select  {{ item_name }} to import from "{{ source_filename }}":
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="white-space: nowrap;">[ <button class="link" type="button" onclick="choose_options(true); return false;">Select All</button>&nbsp;]</span>
                        &nbsp;&nbsp;<span style="white-space: nowrap;">[&nbsp;<button class="link" type="button" onclick="choose_options(false); return false;">Clear All</button>&nbsp;]</span>
                        &nbsp;&nbsp;<span style="white-space: nowrap;">[&nbsp;<button class="link" type="button" onclick="toggle_order(); return false;">Toggle Sort</button>&nbsp;]</span>
                        <input type="hidden" id="sorted" value="false" >
                    </h5>
                    </tr>
                    {% if form.to_import.choices %}
                        <tr>{{ form.to_import(style="list-style:none;") }}</tr>
                        {% if form.to_import_sorted.choices %}
                            <tr>{{ form.to_import_sorted(style="list-style:none;") }}</tr>
                        {% endif %}
                    {% else %}
                    <tr><span style="font-style: italic;">&nbsp;&nbsp;"{{ source_filename }}" contains no {{ item_name }}.<p></p></span><br></tr>
                    {% endif %}
{% endmacro %}
{% macro import_buttons(form) %}
                    <tr>
                    {% if form.to_import.choices %}
                    <input class="btn btn-primary" name="Import" type="submit" value="Import"/>&nbsp;&nbsp;
                    {% else %}
                    <input class="btn btn-primary" name="Import" disabled type="submit" value="Import"/>&nbsp;&nbsp;
                    {% endif %}
                    <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                    </tr>
{% endmacro %}
{% macro contents_menu_item(url, style, hidden_name, display_name, is_non_saving) %}
                            {{ button_link(url, 'nav_link', style, hidden_name, display_name, is_non_saving) }}
{% endmacro %}
{% macro contents_menu_item_with_status(url, style, hidden_name, display_name, is_non_saving, badge) %}
    {{ contents_menu_item_with_status_left(url, style, hidden_name, display_name, is_non_saving, badge) }}
{#    {{ contents_menu_item_with_status_right(url, style, hidden_name, display_name, is_non_saving, badge) }}#}
{#    {{ contents_menu_item_with_status_none(url, style, hidden_name, display_name, is_non_saving, badge) }}#}
{% endmacro %}
{% macro contents_menu_item_with_status_right(url, style, hidden_name, display_name, is_non_saving, badge) %}
                            {{ button_link(url, 'nav_link', style, hidden_name, display_name, is_non_saving) }}
                            {% set badge_status = badge + '_status' %}
                            &nbsp;<div class="nav_link {{ session[badge_status] }}_circle"></div><br>
{% endmacro %}
{% macro contents_menu_item_with_status_left(url, style, hidden_name, display_name, is_non_saving, badge) %}
                            {% set badge_status = badge + '_status' %}
                            {% if session[badge_status] == 'yellow' or session[badge_status] == 'red' %}
                                {% set url_string = '/eml/check_metadata?' + badge %}
                                <a class="no-underline" href="{{ url_string }}">
                            {% endif %}
                            <div class="{{ session[badge_status] }}_circle nav_link" title="Click for errors/warnings" style="margin-right: 3px;"></div>
                            {% if session[badge_status] == 'yellow' or session[badge_status] == 'red' %}
                                </a>
                            {% endif %}
                            {{ button_link(url, 'nav_link', style, hidden_name, display_name, is_non_saving) }}<br>
{% endmacro %}
{% macro contents_menu_item_with_status_none(url, style, hidden_name, display_name, is_non_saving, badge) %}
                            {{ button_link(url, 'nav_link', style, hidden_name, display_name, is_non_saving) }}<br>
{% endmacro %}
{% macro select_list_item_with_status_badge(id, url_prefix, item) %}
                        <td width="80%">
                            {% set node_status = id + '_status' %}
                            {% set color = session[node_status] %}
                            {% if not color %}
                                {% set color = 'green' %}
                            {% endif %}

                            {% if color == 'yellow' or color == 'red' %}
                                {% set url_string = url_prefix + item %}
                            <a class="no-underline" title="Click for errors/warnings" href="{{ url_string }}">
                            {% endif %}
                        &nbsp;<div class="nav_link {{ color }}_circle"></div>&nbsp;
                            {% if color == 'yellow' or color == 'red' %}
                            </a>
                            {% endif %}
                        {{ item }}
                        </td>
{% endmacro %}
{% macro toolbar_menu_item(url, hidden_name, display_name, is_non_saving) %}
                        <li>
                            {{ button_link(url, '', '', hidden_name, display_name, is_non_saving) }}
                        </li>
{% endmacro %}
{% macro help_button(id, class) %}
    <button class="{{ class }}" type="button" id="{{ id }}" style="border:none;background:none;cursor:pointer;outline: none;" title="Help">
        <svg width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z" fill="black"/>
            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="black" stroke-linejoin="round" stroke-width="1"/>
            <path d="M12 14C12 13.8333 12 13.6667 12 13.5C12 13.5 12 12 14 11C16 10 15.5 7 12.5 7C9.5 7 9.5 9.5 9.5 9.5V10" stroke="black" stroke-width="2"/></svg>
    </button>
{% endmacro %}
{% macro video_button(link) %}
    <a href="{{ link }}" class=""btn" target="_youtube_ezeml" title="Watch a short demo on YouTube">
        <svg width="1.3em" height="1.3em" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
                c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
                C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z" stroke="black" fill="black" stroke-width="3"/>
            <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" stroke="black" stroke-linejoin="round" fill="black" stroke-width="1"/>
        </svg>
    </a>
{% endmacro %}
{% macro check_xml_button(id, class) %}
    <button class="{{ class }}" type="button" id="{{ id }}" style="border:none;background:none;cursor:pointer;outline: none;" title="Check XML Validity">
        <svg width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5163 8.93451L11.0597 14.7023L8.0959 11.8984" stroke="black" stroke-width="2"/><path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="black" stroke-width="1"/></svg>
    </button>
{% endmacro %}
{% macro help_dialog(id, title, content) %}
    <div id="{{ id }}" title="{{ title }}" style="
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
-webkit-box-shadow: 5px 8px 20px 1px #BFBFBF;
box-shadow: 5px 8px 20px 1px #BFBFBF;
" hidden="hidden">
{{ content|safe }}
    </div>
{% endmacro %}
{% macro column_table_header(column_name, data_table) %}
                <table>
                    <tr style="font-size:110%"><td><b>Column:</b> <span style="white-space:pre">{{ column_name }}</span></td><td width="10%"></td><td><b>Data Table:</b> {{ data_table }}</td></tr>
                </table>
                <br>
{% endmacro %}
{% macro item_start(font_family) %}
                <table width="100%" style="font-family:{{ font_family }}">
                    <td width="95%">
{% endmacro %}
{% macro item_end(help_id) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">{{ help_button(help_id) }}</td>
                </table>
{% endmacro %}
{% macro check_xml_start(font_family) %}
                <table width="100%" style="font-family:{{ font_family }}">
                    <td width="95%">
{% endmacro %}
{% macro check_xml_end(check_xml_button_id, model_has_complex_texttypes) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">
                        {% if model_has_complex_texttypes %}
                        {{ check_xml_button(check_xml_button_id) }}
                        {% endif %}
                    </td>
                </table>
{% endmacro %}
{% macro help_and_check_xml_buttons(help_btn_id, check_xml_button_id, model_has_complex_texttypes) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">
                        <table>
                            <tr><td style="text-align:center;">{{ help_button(help_btn_id) }}</td></tr>
                            {% if model_has_complex_texttypes %}
                            <tr><td style="text-align:center;">{{ check_xml_button(check_xml_button_id) }}</td></tr>
                            {% endif %}
                        </table>
                        </td>
                </table>
                </span>
{% endmacro %}
{% import '_config.html' as config %}
{% macro log_help_usage(help_btn_id) %}
    $(document).ready(function(){
      $('{{ help_btn_id }}').click(function(){
        let url = '{{ config.ajax_host }}' + 'log_help_usage/' + '{{ help_btn_id }}';
        $.get(url,
        function(response, status) {});
      });
    });
{% endmacro %}
{% macro check_xml_btn_handler(check_xml_button_id, form_field, parent_name) %}
    $(document).ready(function(){
      $('{{ check_xml_button_id }}').click(function(){
        let url = '{{ config.ajax_host }}' + 'check_xml/';
        let xml = $('{{ form_field }}').val();
        if (!xml){
            alert("Nothing to check.");
            return;
        }
        xml.replaceAll('\\<', '\\\\<').replaceAll('\\>', '\\\\>');
        xml = encodeURIComponent(encodeURIComponent(xml));
        url = url + xml + '/' + '{{ parent_name }}'
        $.get(url,
        function(response, status) {
          alert(response['response']);
        });
      });
    });
{% endmacro %}
{% macro taxon_link(link) %}
    {% if link %}
        <a href="{{ link }}" target="_taxon_link">External Link</a>
    {% endif %}
{% endmacro %}
{% macro help_script(dialog_id, btn_id) %}
        var {{ dialog_id }} = $( '#{{ dialog_id }}' ).dialog({
            autoOpen: false,
            width: 600,
            position: {my: "left top", at: "right center", of: "#{{ btn_id }}"},
            open: function() {
                $(this).closest(".ui-dialog")
                .find(".ui-dialog-titlebar-close")
                .removeClass("ui-dialog-titlebar-close")
                .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
            }
        });
        $( '#{{ btn_id }}' ).button().on('click', function() {
            if ({{ dialog_id }}.dialog('isOpen')) {
                {{ dialog_id }}.dialog('close');
            } else {
                {{ dialog_id }}.dialog('open');
                {# AJAX call to log help usage #}
                let url = '{{ config.ajax_host }}' + 'log_help_usage/' + '{{ btn_id }}';
                $.get(url, function(response, status) {});
            }
        });
{% endmacro %}
{% macro taxon_link(link) %}
    {% if link %}
        <a href="{{ link }}" target="_taxon_link">External Link</a>
    {% endif %}
{% endmacro %}
{% macro import_document_selection(wtf, form) %}
                <h5>Select a data package to import from:</h5>
                {{ wtf.form_field(form.filename) }}
                <input class="btn btn-primary" name="Open" type="submit" value="Open for Import"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h5>Or select a template to import from:</h5>
                {{ wtf.form_field(form.template) }}
                <input class="btn btn-primary" name="Open Template" type="submit" value="Open Template for Import"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
{% endmacro %}
{% macro please_stand_by() %}
                <span id="stand_by_hint" style="visibility: hidden;color: #006699;"><i>Please stand by...</i></span>
    <script>
    function stand_by() {
        let x = document.getElementById("stand_by_hint");
        x.style.visibility = "visible";
    }
    </script>
{% endmacro %}
{% macro status_badge_with_popup(color, tooltip) %}
                            {% if color %}
                            <span class="popup" data-toggle="popover" data-placement="bottom" data-html="true"
                                  title="" data-container="body" data-content="{{ tooltip }}">&nbsp;
                                <span class="nav_link {{ color }}_circle" title="Click for errors/warnings"></span>&nbsp;</span>
                            {% else %}
                            <span >&nbsp;
                                <span class="nav_link green_circle"></span>&nbsp;</span>
                            {% endif %}
{% endmacro %}
{% macro local_status_badge_with_popup(color, tooltip) %}
                            {% if color %}
                            <span class="popup" data-toggle="popover" data-placement="bottom" data-html="true"
                                  title="" data-container="body" data-content="{{ tooltip }}">&nbsp;
                                <span class="{{ color }}_circle" title="Click for errors/warnings"></span>&nbsp;</span>
                            {% else %}
                            <span >&nbsp;
                                <span class="green_circle"></span>&nbsp;</span>
                            {% endif %}
{% endmacro %}
{% macro popup_support() %}
    <script>
    $(document).ready(function(){
        // Initialize popovers with HTML content
        $('.popup').popover({
            html: true, // Enable HTML content
            trigger: 'manual' // Manually trigger popover
        }).on('click', function(e) {
            e.stopPropagation(); // Prevent event from propagating
            let $currentPopover = $(this);
            // Close any open popover except the current one
            $('.popup').not($currentPopover).popover('hide');

            // Toggle the current popover
            $currentPopover.popover('toggle');
        });

        // Close popover when clicking outside
        $(document).on('click', function (e) {
            if (!$(e.target).closest('.popover').length && !$(e.target).is('.popup')) {
                $('.popup').popover('hide');
            }
        });
    });
    </script>
{% endmacro %}
