{% macro up_down_arrow(id, val) %}
    {% if val == '' %}
    <td></td>
    {% else %}
    <td style="width:3%"><input class="btn btn-primary" name="{{ id }}" type="submit" value="{{ val }}"/></td>
    {% endif %}
{% endmacro %}
{% macro hidden_buttons() %}
                <input id="hidden_new" style="display: none;" name="Hidden_New" type="submit" value="Hidden_New"/>
                <input id="hidden_new_from_template" style="display: none;" name="Hidden_New_From_Template" type="submit" value="Hidden_New_From_Template"/>
                <input id="hidden_open" style="display: none;" name="Hidden_Open" type="submit" value="Hidden_Open"/>
                <input id="hidden_close" style="display: none;" name="Hidden_Close" type="submit" value="Hidden_Close"/>
                <input id="hidden_check" style="display: none;" name="Hidden_Check" type="submit" value="Hidden_Check"/>
                <input id="hidden_save" style="display: none;" name="Hidden_Save" type="submit" value="Hidden_Save"/>
                <input id="hidden_download" style="display: none;" name="Hidden_Download" type="submit" value="Hidden_Download"/>
    {% set show_nav_buttons = 'visible' %}
{% endmacro %}
{% macro hidden_new_open_close_buttons() %}
                <input id="hidden_new" style="display: none;" name="Hidden_New" type="submit" value="Hidden_New"/>
                <input id="hidden_new_from_template" style="display: none;" name="Hidden_New_From_Template" type="submit" value="Hidden_New_From_Template"/>
                <input id="hidden_open" style="display: none;" name="Hidden_Open" type="submit" value="Hidden_Open"/>
                <input id="hidden_close" style="display: none;" name="Hidden_Close" type="submit" value="Hidden_Close"/>
{% endmacro %}
{% macro help_button(id, class) %}
    <button class="{{ class }}" type="button" id="{{ id }}" style="border:none;background:none;cursor:pointer;outline: none;" title="Help">
        <svg width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z" fill="black"/>
            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="black" stroke-linejoin="round" stroke-width="1"/>
            <path d="M12 14C12 13.8333 12 13.6667 12 13.5C12 13.5 12 12 14 11C16 10 15.5 7 12.5 7C9.5 7 9.5 9.5 9.5 9.5V10" stroke="black" stroke-width="2"/></svg>
    </button>
{% endmacro %}
{% macro video_button(link) %}
    <a href="{{ link }}" class=""btn" target="_youtube_ezeml" title="Watch a short demo on YouTube">
        <svg width="1.3em" height="1.3em" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
                c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
                C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z" stroke="black" fill="black" stroke-width="3"/>
            <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" stroke="black" stroke-linejoin="round" fill="black" stroke-width="1"/>
        </svg>
    </a>
{% endmacro %}
{% macro check_xml_button(id, class) %}
    <button class="{{ class }}" type="button" id="{{ id }}" style="border:none;background:none;cursor:pointer;outline: none;" title="Check XML Validity">
        <svg width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5163 8.93451L11.0597 14.7023L8.0959 11.8984" stroke="black" stroke-width="2"/><path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="black" stroke-width="1"/></svg>
    </button>
{% endmacro %}
{% macro help_dialog(id, title, content) %}
    <div id="{{ id }}" title="{{ title }}" style="
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
-webkit-box-shadow: 5px 8px 20px 1px #BFBFBF;
box-shadow: 5px 8px 20px 1px #BFBFBF;
" hidden="hidden">
{{ content|safe }}
    </div>
{% endmacro %}
{% macro column_table_header(column_name, data_table) %}
                <table>
                    <tr style="font-size:115%"><td><b>Column:</b> {{ column_name }}</td><td width="10%"></td><td><b>Data Table:</b> {{ data_table }}</td></tr>
                </table>
                <br>
{% endmacro %}
{% macro item_start(font_family) %}
                <table width="100%" style="font-family:{{ font_family }}">
                    <td width="95%">
{% endmacro %}
{% macro item_end(help_id) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">{{ help_button(help_id) }}</td>
                </table>
{% endmacro %}
{% macro check_xml_start(font_family) %}
                <table width="100%" style="font-family:{{ font_family }}">
                    <td width="95%">
{% endmacro %}
{% macro check_xml_end(check_xml_button_id, model_has_complex_texttypes) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">
                        {% if model_has_complex_texttypes %}
                        {{ check_xml_button(check_xml_button_id) }}
                        {% endif %}
                    </td>
                </table>
{% endmacro %}
{% macro help_and_check_xml_buttons(help_btn_id, check_xml_button_id, model_has_complex_texttypes) %}
                    </td>
                    <td valign="top" style="padding-top: 30px;">
                        <table>
                            <tr><td style="text-align:center;">{{ help_button(help_btn_id) }}</td></tr>
                            {% if model_has_complex_texttypes %}
                            <tr><td style="text-align:center;">{{ check_xml_button(check_xml_button_id) }}</td></tr>
                            {% endif %}
                        </table>
                        </td>
                </table>
                </span>
{% endmacro %}
{% import '_config.html' as config %}
{% macro log_help_usage(help_btn_id) %}
    $(document).ready(function(){
      $('{{ help_btn_id }}').click(function(){
        let url = '{{ config.ajax_host }}' + 'log_help_usage/' + '{{ help_btn_id }}';
        $.get(url,
        function(response, status) {});
      });
    });
{% endmacro %}
{% macro check_xml_btn_handler(check_xml_button_id, form_field, parent_name) %}
    $(document).ready(function(){
      $('{{ check_xml_button_id }}').click(function(){
        let url = '{{ config.ajax_host }}' + 'check_xml/';
        let xml = $('{{ form_field }}').val();
        if (!xml){
            alert("Nothing to check.");
            return;
        }
        xml.replaceAll('\\<', '\\\\<').replaceAll('\\>', '\\\\>');
        xml = encodeURIComponent(encodeURIComponent(xml));
        url = url + xml + '/' + '{{ parent_name }}'
        $.get(url,
        function(response, status) {
          alert(response['response']);
        });
      });
    });
{% endmacro %}
{% macro taxon_link(link) %}
    {% if link %}
        <a href="{{ link }}" target="_taxon_link">External Link</a>
    {% endif %}
{% endmacro %}
{% macro help_script(dialog_id, btn_id) %}
        var {{ dialog_id }} = $( '#{{ dialog_id }}' ).dialog({
            autoOpen: false,
            width: 600,
            position: {my: "left top", at: "right center", of: "#{{ btn_id }}"}
        });
        $( '#{{ btn_id }}' ).button().on('click', function() {
            if ({{ dialog_id }}.dialog('isOpen')) {
                {{ dialog_id }}.dialog('close');
            } else {
                {{ dialog_id }}.dialog('open');
                {# AJAX call to log help usage #}
                let url = '{{ config.ajax_host }}' + 'log_help_usage/' + '{{ btn_id }}';
                $.get(url, function(response, status) {});
            }
        });
{% endmacro %}
