{% extends "base.html" %}

{% block app_content %}
    <span style="float:right;">Release 2020.10.28</span>
    <h4 align="left">About ezEML</h4>

    <p>&nbsp;</p>
    <p><b>ezEML</b> is a form-based online application designed to streamline the creation of metadata in the <a href="https://eml.ecoinformatics.org/" target=""_blank"><b>Ecological Metadata Language (EML)</b></a>. If you're not sure what we mean by metadata,
    or if you've never heard of EML, please see the <a style="color: steelblue;" href="/static/user_guide/terminology.pdf" target="_ezeml_user_guide">Some Terminology</a> section of the <a style="color: steelblue;" href="/eml/user_guide">User Guide</a>.
    </p>

    <p>Since the EML standard was designed to handle an enormous variety of data scenarios, EML is complex and the learning curve to creating it can be steep.
        But many data scenarios require only a relatively small subset of EML, and in such scenarios ezEML can greatly simplify the process of
        creating EML, especially for users who are new to EML or use it only infrequently.</p>

    <p>ezEML can be used as a “wizard” leading the user through EML document creation step by step, or it can be used in a more user-directed fashion.
        Among other things, it supports checking the EML for correctness and completeness, importing EML content from other ezEML documents, uploading data tables and inferring most of their characteristics, and
        downloading the finished EML document as an EML XML file for downstream use in a data workflow.</p>

    <p>ezEML was created by the <a href="https://environmentaldatainitiative.org/" target="_blank"><b>Environmental Data Initiative (EDI)</b></a>.
    It employs EDI's Metapype library, which is a general-purpose framework for creating and validating metadata, along with Metapype’s implementation of validation rules for the EML 2.2.0 standard.
    </p>

    <p>ezEML is aimed at the “long tail” of scientists and others who want to prepare their dataset for submission to a data repository but are not themselves proficient in the details of EML editing. ezEML is designed to give such users a do-it-yourself tool that can handle the great majority of typical datasets.
    </p><p>
        We hope you find it useful, and we welcome your feedback at <a href="mailto:support@environmentaldatainitiative.org">support@environmentaldatainitiative.org</a>!</p>
    </p>
    <br>
    <b><a href={{ back_url }}>Back</a></b>

{% endblock %}