{% extends "base.html" %}

{% block app_content %}
    <h4 align="left">About ezEML</h4>

    <p>&nbsp;</p>
    <p><b>ezEML</b> is a web-based application designed to streamline the creation of metadata in the <b>Ecological Metadata Language (EML)</b>.</p>

    <p>The EML standard was designed to handle an enormous variety of data scenarios. As a result, EML is complex and the learning curve to generating EML can be steep.
        Many data scenarios require only a relatively small subset of EML, however, and in such scenarios ezEML can greatly simplify the process of
        creating EML, especially for users who are new to EML or use it only infrequently.</p>

    <p>ezEML is intended to be an easy-to-use, do-it-yourself tool for creating EML in relatively simple scenarios. We hope you find it useful.</p>

{% endblock %}