{% extends "base.html" %}

{% block app_content %}
    <span style="float:right;">Release {{ release_number }}</span>
    <h4 align="left">About ezEML+MOTHER</h4>

    <p>&nbsp;</p>
    <p>
        <b>ezEML+MOTHER</b> is a form-based online application designed to streamline the creation of metadata in the Ecological Metadata Language (EML) 
        with additional metadata for MOTHER (Multispecies Ovarian Tissue Histology Electronic Repository). Metadata is data that describes a data 
        source and is a crucial component of the FAIR Guiding Principles for scientific data management and stewardship. For MOTHER, a data source 
        is a histology slide of an ovary. EML essentially documents the provenance of the data (e.g., contact, intellectual rights, funding sources, etc.) 
        and the inclusion of the MOTHER additional metadata documents information pertaining to the ovarian histology slide and its donor animal.
    </p>
    
    <p>
        ezEML+MOTHER leveraged the existing ezEML tool (<a style="color: steelblue;" href="https://ezeml.edirepository.org/eml/">ezEML Repository</a>), 
        which was created by the Environmental Data Initiative (EDI). In Fall 2021, the ezEML github project was forked and customized for the MOTHER 
        project. The tool assists users in the creation of an EML+MOTHER document, which is saved in an XML (eXtensible Markup Language) file that 
        must adhere to the EML and MOTHER structural specifications.
    </p>

    <p>
        For MOTHER, where a donor animal may have multiple histology slides, a user can upload an existing EML+MOTHER XML document and then change 
        the specifics related only to the new slide being described.
    </p>

    <p>
        Your feedback is welcome (email).
    </p>
    <br>
    <b><a href={{ back_url }}>Back</a></b>

{% endblock %}