{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Access Rule</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the access rule information below:</h5>
                {{ wtf.form_field(form.userid) }}
                {{ wtf.form_field(form.permission) }}
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Save Changes" type="submit" value="Save Changes"/>
                <input class="btn btn-primary" name="Clear" type="reset" value="Clear"/>
            </form>
        </div>
    </div>
{% endblock %}
