{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Attributes for {{ entity_name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table class="table table-striped">
                    <tr>
                        <th>Attribute</th>
                        <th>Measurement Scale</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for att_entry in att_list %}
                    <tr>
                        <td>{{ att_entry.label }}</td>
                        <td>{{ att_entry.mscale }}</td>
                        <td><input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="{{ att_entry.upval }}"/></td>
                        <td><input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="{{ att_entry.downval }}"/></td>
                        <td><input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="Edit"/></td>
                        <td><input class="btn btn-primary" name="{{ att_entry.id }}" type="submit" value="Remove"/></td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <input class="btn btn-primary" name="ratio" type="submit" value="Add Attribute - Ratio"/><br/><br/>
                <input class="btn btn-primary" name="interval" type="submit" value="Add Attribute - Interval"/><br/><br/>
                <input class="btn btn-primary" name="nominal" type="submit" value="Add Attribute - Nominal"/><br/><br/>
                <input class="btn btn-primary" name="ordinal" type="submit" value="Add Attribute - Ordinal"/><br/><br/>
                <input class="btn btn-primary" name="dateTime" type="submit" value="Add Attribute - Datetime"/><br/><br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
            </form>
        </div>
    </div>
{% endblock %}
