{% extends 'bootstrap/base.html' %}
{% import '_macros.html' as macros %}

{# The following must agree with RELEASE_NUMBER in metapype_client.py #}
{% set release_number = '2021.09.15' %}
{% set optional = 'Black' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css', version=release_number) }}">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}
{% if title %}{{ title }} - ezEML Metadata Editor{% endif %}
{% endblock %}

{% set non_saving_endswith = ['/eml/', '/create', '/open_eml_document', '/close',
        '/load_data', 'load_other_entity', 'check_metadata',
        '/import_parties', '/import_geo_coverage',
        '/import_taxonomic_coverage', '/import_funding_awards',
        'about', 'news', 'user_guide', 'import_package',
        'export_package', 'submit_package'] %}
{% set non_saving_contains = ['/check_metadata/',
        '/import_parties_2/', '/import_geo_coverage_2/',
        '/import_taxonomic_coverage_2/', '/import_funding_awards_2/',
        'import_package_2', 'export_package_2'] %}
{% set ns = namespace(is_non_saving = false) %}
{% for page in non_saving_endswith %}
    {% if request.path.endswith(page) %}
        {% set ns.is_non_saving = true %}
    {% endif %}
{% endfor %}
{% for page in non_saving_contains %}
    {% if page in request.path %}
        {% set ns.is_non_saving = true %}
    {% endif %}
{% endfor %}

{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <table>
                <td width="5%"></td>
                <td><a onclick="nav_save.click();" href="{{ url_for('home.index') }}"><img style="width: 32px; width: 32px;" src="{{ url_for('static', filename='EDI-logo-300DPI_5.png') }}"></a></td>
                <td width="5%"></td>
                <td>
                    <button aria-controls="navbar" aria-expanded="false"
                            class="navbar-toggle collapsed" data-target="#top-navbar"
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" onclick="nav_save.click();" href="{{ url_for('home.index') }}">ezEML</a>
                </td>
            </table>
        </div>
        <div class="navbar-collapse collapse" id="top-navbar">
            <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EML Documents<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
{#                    <li>{{ ns.is_non_saving }}  {{ request.path }}</li>#}
                        <li>
                            {% if ns.is_non_saving %}
                            <a href="{{ url_for('home.create') }}" title="New">New...</a>
                            {% else %}
                            <a href="#" onclick="$('#hidden_new').click();">New...</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if ns.is_non_saving %}
                            <a href="{{ url_for('home.open_eml_document') }}" title="Open">Open...</a>
                            {% else %}
                            <a href="#" onclick="$('#hidden_open').click();">Open...</a>
                            {% endif %}
                        </li>
{#                        <li>#}
{#                            <a href="{{ url_for('home.download') }}" title="Download">Download Data Package as XML...</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ url_for('home.load_metadata') }}" title="Upload">Upload Data Package from XML...</a>#}
{#                        </li>#}
{#                    {% endif %}#}
                    {% if current_user.get_filename() %}
                        <li>
                            {% if ns.is_non_saving %}
                            <a href="{{ url_for('home.close') }}" title="Close">Close</a>
                            {% else %}
                            <a href="#" onclick="$('#hidden_close').click();">Close</a>
                            {% endif %}
                        </li>
                        <li>
                            <a onclick="nav_save.click();" href="#" title="Save">Save</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.save_as') }}" title="Save As">Save As...</a>
                        </li>
                    {% endif %}
                        <li>
                            <a href="{{ url_for('home.delete') }}" title="Delete">Delete...</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">Import/Export<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.get_filename() %}
                        <li>
                            <a href="{{ url_for('home.import_parties') }}" title="Import Responsible Parties">Import Responsible Parties (Creators, Contacts, etc.)</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.import_geo_coverage') }}" title="Import Geographic Coverage">Import Geographic Coverage</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.import_taxonomic_coverage') }}" title="Import Taxonomic Coverage">Import Taxonomic Coverage</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.import_funding_awards') }}" title="Import Funding Awards">Import Funding Awards</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.import_related_projects') }}" title="Import Related Projects">Import Related Projects</a>
                        </li>
                        <li>
                            <hr style="border-top: 1px solid #B0B0B0;">
                        </li>
                        <li>
                            <a href="{{ url_for('home.download_current') }}" title="Download EML File">Download EML File (XML)</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.export_package') }}" title="Export ezEML Data Package">Export ezEML Data Package...</a>
                        </li>
                {% endif %}

                        <li>
                            <a href="{{ url_for('home.import_package') }}" title="Import ezEML Data Package">Import ezEML Data Package...</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EDI Links
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://environmentaldatainitiative.org//" target="_blank">Environmental Data Initiative</a>
                        </li>
                        <li>
                            <a href="https://portal.edirepository.org/nis/home.jsp" target="_blank">EDI Data Portal</a>
                        </li>
                        <li>
                            <a href="https://pastaplus-core.readthedocs.io/en/latest/index.html" target="_blank">PASTAplus</a>
                        </li>
                        <li>
                            <a href="https://lternet.edu/" target="_blank">LTER Network</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('home.user_guide') }}" title="User Guide">User Guide</a>
                </li>
                <li>
                    <a href="{{ url_for('home.about') }}" title="About">About</a>
                </li>
                <li>
                    <a href="{{ url_for('home.news') }}" title="News">News</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li>
                    <table style="height: 50px;" valign="middle">
{#                        <td>#}
{#                             <input id="nav_check" style="color: steelblue;font-weight: bold;" class="btn btn-link" name="Check" type="submit" value="Check"/>#}
{#                        </td>#}
{#                        <td width="5%"></td>#}
                        <td>
                             <input id="nav_save" style="display: none;color: steelblue;font-weight: bold;" class="btn btn-link" name="Save" type="submit" value="Save"/>
                        </td>
{#                        <td width="5%"></td>#}
{#                        <td>#}
{#                            <input id="nav_download" style="color: steelblue;font-weight: bold;" class="btn btn-link" name="Download" type="submit" value="Download EML"/>#}
{#                        </td>#}
{#                        <td width="5%"></td>#}
                        <td>
                            <ul class="nav navbar-nav">
                            <li>
                                <a class="nav navbar-nav" href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                            </ul>
                        </td>
                    </table>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    Welcome Back <strong>{{ current_user.get_username() }}</strong>
                    {% if current_user.get_filename() %}
                        &nbsp;&nbsp;
                    &nbsp;&nbsp;Active EML Document: <strong>{{ current_user.get_filename() }}</strong>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
{#    <div class="alert alert-info" role="alert">{{ message }}</div>#}
    <div class="alert alert-info {{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div style="width: 18%; float: left;">
        <br>
        {% if current_user.is_authenticated %}
                <table>
                    <td><h4 class="nav_link">Contents</h4><p></p></td>
                    <td valign="middle" style="padding-top: 7px;padding-left: 10px;">{{ macros.help_button('__help__contents_btn', 'nav_link') }}</td>
                </table>
            {% set title_style = '""' %}
            {% set creator_style = '""' %}
            {% set metadata_provider_style = '""' %}
            {% set associated_party_style = '""' %}
            {% set abstract_style = '""' %}
            {% set keyword_style = '""' %}
            {% set intellectual_rights_style = '""' %}
            {% set geographic_coverage_style = '""' %}
            {% set temporal_coverage_style = '""' %}
            {% set taxonomic_coverage_style = '""' %}
            {% set maintenance_style = '""' %}
            {% set contact_style = '""' %}
            {% set publisher_style = '""' %}
            {% set publication_info_style = '""' %}
            {% set method_step_style = '""' %}
            {% set project_style = '""' %}
            {% set data_table_style = '""' %}
            {% set other_entity_style = '""' %}
            {% set data_package_id_style = '""' %}
            {% set check_metadata_style = '""' %}
{#            {% set download_eml_style = '""' %}#}
{#            {% set export_package_style = '""' %}#}
            {% set submit_package_style = '""' %}

            {% set page = session['current_page'] %}
            {% set current = '"font-weight: bold;color: #0060d8;"'|safe %}

            {% if page == 'title' %}{% set title_style = current %}{% endif %}
            {% if page == 'creator' %}{% set creator_style = current %}{% endif %}
            {% if page == 'metadata_provider' %}{% set metadata_provider_style = current %}{% endif %}
            {% if page == 'associated_party' %}{% set associated_party_style = current %}{% endif %}
            {% if page == 'abstract' %}{% set abstract_style = current %}{% endif %}
            {% if page == 'keyword' %}{% set keyword_style = current %}{% endif %}
            {% if page == 'intellectual_rights' %}{% set intellectual_rights_style = current %}{% endif %}
            {% if page == 'geographic_coverage' %}{% set geographic_coverage_style = current %}{% endif %}
            {% if page == 'temporal_coverage' %}{% set temporal_coverage_style = current %}{% endif %}
            {% if page == 'taxonomic_coverage' %}{% set taxonomic_coverage_style = current %}{% endif %}
            {% if page == 'maintenance' %}{% set maintenance_style = current %}{% endif %}
            {% if page == 'contact' %}{% set contact_style = current %}{% endif %}
            {% if page == 'publisher' %}{% set publisher_style = current %}{% endif %}
            {% if page == 'publication_info' %}{% set publication_info_style = current %}{% endif %}
            {% if page == 'method_step' %}{% set method_step_style = current %}{% endif %}
            {% if page == 'project' %}{% set project_style = current %}{% endif %}
            {% if page == 'data_table' %}{% set data_table_style = current %}{% endif %}
            {% if page == 'other_entity' %}{% set other_entity_style = current %}{% endif %}
            {% if page == 'data_package_id' %}{% set data_package_id_style = current %}{% endif %}
            {% if page == 'check_metadata' %}{% set check_metadata_style = current %}{% endif %}
{#            {% if page == 'export_package' %}{% set export_package_style = current %}{% endif %}#}
            {% if page == 'submit_package' %}{% set submit_package_style = current %}{% endif %}

        <a class="nav_link" style={{ title_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.title') }}" title="Edit">Title</a><br>
        <a class="nav_link" style={{ data_table_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='dt.data_table_select') }}" title="Edit">Data Tables</a><br>
        <a class="nav_link" style={{ creator_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.creator_select') }}" title="Edit">Creators</a><br>
        <a class="nav_link" style={{ contact_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.contact_select') }}" title="Edit">Contacts</a><br>
        <a class="nav_link" style={{ associated_party_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.associated_party_select') }}" title="Edit">Associated Parties</a><br>
        <a class="nav_link" style={{ metadata_provider_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.metadata_provider_select') }}" title="Edit">Metadata Providers</a><br>
        <a class="nav_link" style={{ abstract_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.abstract') }}" title="Edit">Abstract</a><br>
        <a class="nav_link" style={{ keyword_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.keyword_select') }}" title="Edit">Keywords</a><br>
        <a class="nav_link" style={{ intellectual_rights_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.intellectual_rights') }}" title="Edit">Intellectual Rights</a><br>
        <a class="nav_link" style={{ geographic_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.geographic_coverage_select') }}" title="Edit">Geographic Coverage</a><br>
        <a class="nav_link" style={{ temporal_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.temporal_coverage_select') }}" title="Edit">Temporal Coverage</a><br>
        <a class="nav_link" style={{ taxonomic_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.taxonomic_coverage_select') }}" title="Edit">Taxonomic Coverage</a><br>
        <a class="nav_link" style={{ maintenance_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='maint.maintenance') }}" title="Edit">Maintenance</a><br>
        <a class="nav_link" style={{ publisher_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.publisher') }}" title="Edit">Publisher</a><br>
        <a class="nav_link" style={{ publication_info_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.publication_info') }}" title="Edit">Publication Info</a><br>
        <a class="nav_link" style={{ method_step_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='md.method_step_select') }}" title="Edit">Methods</a><br>
        <a class="nav_link" style={{ project_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='proj.project') }}" title="Edit">Project</a><br>
        <a class="nav_link" style={{ other_entity_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='ent.other_entity_select') }}" title="Edit">Other Entities</a><br>
        <a class="nav_link" style={{ data_package_id_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.data_package_id') }}" title="Edit">Data Package ID</a><br>
        <hr class="nav_link" style="border-top: 1px solid lightgray" width="100px" align="left">
        <a class="nav_link" style={{ check_metadata_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='home.check_metadata') }}" title="Edit">Check Metadata</a>&nbsp;
            <div class="nav_link {{ session['check_metadata_status'] }}_circle"></div>
            <br>
{#        <a class="nav_link" style={{ download_eml_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='home.download_current') }}" title="Edit">Download EML</a><br>#}
{#        <a class="nav_link" style={{ export_package_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='home.export_package') }}" title="Edit">Export Data Package</a><br>#}
        <a class="nav_link" style={{ submit_package_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='home.submit_package') }}" title="Edit">Submit to EDI</a><br>

        {% endif %}
    </div>
    <div style="margin-left: 18%;">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
</div>

    {{ macros.help_dialog('__help__contents_dialog', session['__help__contents'][0], session['__help__contents'][1]) }}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(function()
    {
        let nav_check = $("#nav_check");
        let nav_save = $("#nav_save");
        let nav_download = $("#nav_download");
        let nav_close = $("#nav_close");
        let hidden_check = $("#hidden_check");
        let hidden_save = $("#hidden_save");
        let hidden_download = $("#hidden_download");
        let hidden_new = $("#hidden_new");
        let hidden_open = $("#hidden_open");
        let hidden_close = $("#hidden_close");
        let nav_link = $('.nav_link');
        if (hidden_save.length === 0) {
            nav_link.hide();
            nav_save.hide();
            nav_check.hide();
        }
        if (hidden_download.length === 0) {
            nav_download.hide();
        }
        nav_check.on("click", function() {
            if (hidden_check.length) {
                {#alert('click');#}
                {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
                hidden_check.click();
            }
        })
        nav_save.on("click", function() {
            if (hidden_save.length) {
                {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
                hidden_save.click();
            }
        })
        nav_download.on("click", function() {
            if (hidden_download.length) {
                {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
                hidden_download.click();
            }
        })

        {#hidden_new.on("click", function() {#}
        {#    alert('clicked hidden new');#}
        {#})#}
        nav_close.on("click", function() {
            alert('click');
            if (hidden_close.length) {
                hidden_close.click();
            }
        })

        {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
        {#alert($('form').serialize());#}
        {#alert($('form').data('serialize'));#}
        {##}
        {#$(window).bind('beforeunload', function(e){#}
        {#   // if form state change show warning box, else don't show it.#}
        {#   if ($('form').serialize()!=$('form').data('serialize')) {#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
        {#       return true;#}
        {#   }#}
        {#   else {#}
        {#       e = null;#}
        {#   }#}
        {#})#}
     });
    </script>

    {% block app_scripts %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function()
    {
        {{ macros.help_script('__help__contents_dialog', '__help__contents_btn') }}
    });
    </script>
    {% endblock %}
{% endblock %}