{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Metadata EML{% endif %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false"
                    class="navbar-toggle collapsed" data-target="#top-navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.index') }}">Metadata EML</a>
        </div>
        <div class="navbar-collapse collapse" id="top-navbar">
            <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EML Document<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% if current_user.get_packageid() %}
                        <li>
                            <a href="{{ url_for('home.save') }}" title="Save">Save</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.save_as') }}" title="Save As">Save As...</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.download_current') }}" title="Download">Download {{ current_user.get_packageid() }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.close') }}" title="Close">Close</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('home.create') }}" title="New">New</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.open') }}" title="Open">Open...</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.download') }}" title="Download">Download...</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.delete') }}" title="Delete">Delete...</a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.get_packageid() %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">Edit
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('home.edit', page='title') }}" title="Edit">Title</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='access_select') }}" title="Edit">Access Rules</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='creator_select') }}" title="Edit">Creators</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='metadata_provider_select') }}" title="Edit">Metadata Providers</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='associated_party_select') }}" title="Edit">Associated Parties</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='pubdate') }}" title="Edit">Publication Date</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='abstract') }}" title="Edit">Abstract</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='keyword_select') }}" title="Edit">Keywords</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='intellectual_rights') }}" title="Edit">Intellectual Rights</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='geographic_coverage_select') }}" title="Edit">Geographic Coverage</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='temporal_coverage_select') }}" title="Edit">Temporal Coverage</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='taxonomic_coverage_select') }}" title="Edit">Taxonomic Coverage</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='contact_select') }}" title="Edit">Contacts</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='method_step_select') }}" title="Edit">Methods</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='project') }}" title="Edit">Project</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='data_table_select') }}" title="Edit">Data Tables</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit', page='other_entity_select') }}" title="Edit">Other Entities</a>
                        </li>
                     </ul>
                </li>
            {% endif %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EDI Portals
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://portal.edirepository.org/nis">Production</a>
                        </li>
                        <li>
                            <a href="https://portal-s.edirepository.org/nis">Staging</a>
                        </li>
                        <li>
                            <a href="https://portal-d.edirepository.org/nis">Development</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('home.about') }}" title="About">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    Active user: <strong>{{ current_user.get_username() }}</strong>
                    {% if current_user.get_packageid() %}
                    &nbsp;&nbsp;Data Package: <strong>{{ current_user.get_packageid() }}</strong>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}

</div>

{% endblock %}
