{% extends 'bootstrap/base.html' %}
{% import '_macros.html' as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block title %}
{% if title %}{{ title }} - Metadata Editor{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <table>
                <td width="5%"></td>
                <td><a onclick="nav_save.click();" href="{{ url_for('home.index') }}"><img style="width: 32px; width: 32px;" src="{{ url_for('static', filename='EDI-logo-300DPI_5.png') }}"></a></td>
                <td width="5%"></td>
                <td>
                    <button aria-controls="navbar" aria-expanded="false"
                            class="navbar-toggle collapsed" data-target="#top-navbar"
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" onclick="nav_save.click();" href="{{ url_for('home.index') }}">ezEML</a>
                </td>
            </table>
        </div>
        <div class="navbar-collapse collapse" id="top-navbar">
            <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EML Document<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% if current_user.get_packageid() %}
{#                        <li>#}
{#                            <a href="{{ url_for('home.save') }}" title="Save">Save</a>#}
{#                        </li>#}
                        <li>
                            <a href="{{ url_for('home.save_as') }}" title="Save As">Save As...</a>
                        </li>
{#                        <li>#}
{#                            <a href="{{ url_for('home.download_current') }}" title="Download">Download {{ current_user.get_packageid() }}</a>#}
{#                        </li>#}
                        <li>
                            <a href="{{ url_for('home.close') }}" title="Close">Close</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('home.create') }}" title="New">New</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.open_eml_document') }}" title="Open">Open...</a>
                        </li>
{#                        <li>#}
{#                            <a href="{{ url_for('home.download') }}" title="Download">Download Data Package as XML...</a>#}
{#                        </li>#}
                        <li>
                            <a href="{{ url_for('home.load_metadata') }}" title="Upload">Upload Data Package from XML...</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.delete') }}" title="Delete">Delete...</a>
                        </li>
                    {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                {% if current_user.get_packageid() %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">Data<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('home.load_data') }}" title="Load Data Table">Load Data Table into {{ current_user.get_packageid() }}...</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.load_entity') }}" title="Load Other Entity">Load Other Entity into {{ current_user.get_packageid() }}...</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            {% endif %}
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button">EDI Portals
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://portal.edirepository.org/nis">Production</a>
                        </li>
                        <li>
                            <a href="https://portal-s.edirepository.org/nis">Staging</a>
                        </li>
                        <li>
                            <a href="https://portal-d.edirepository.org/nis">Development</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('home.about') }}" title="About">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li>
                    <table style="height: 50px;" valign="middle">
                        <td>
                             <input id="nav_save" style="color: steelblue;font-weight: bold;" class="btn btn-link" name="Save" type="submit" value="Save"/>
                        </td>
                        <td width="5%"></td>
                        <td>
                            <input id="nav_download" style="color: steelblue;font-weight: bold;" class="btn btn-link" name="Download" type="submit" value="Download EML"/>
                        </td>
                        <td width="5%"></td>
                        <td>
                            <ul class="nav navbar-nav">
                            <li>
                                <a class="nav navbar-nav" href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                            </ul>
                        </td>
                    </table>
                </li>
                {% endif %}
            </ul>
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li>#}
{#                </li>#}
{#            </ul>#}
        </div>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    Active user: <strong>{{ current_user.get_username() }}</strong>
                    {% if current_user.get_packageid() %}
                    &nbsp;&nbsp;Data Package: <strong>{{ current_user.get_packageid() }}</strong>
                    {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div style="width: 18%; float: left;">
        <br>
        {% if current_user.is_authenticated %}
                <table>
                    <td><h4 class="nav_link">Contents</h4><p></p></td>
                    <td valign="middle" style="padding-top: 7px;padding-left: 10px;">{{ macros.help_button('__help__contents_btn', 'nav_link') }}</td>
                </table>
            {% set title_style = '""' %}
            {% set creator_style = '""' %}
            {% set metadata_provider_style = '""' %}
            {% set associated_party_style = '""' %}
{#            {% set pubdate_style = '""' %}#}
            {% set abstract_style = '""' %}
            {% set keyword_style = '""' %}
            {% set intellectual_rights_style = '""' %}
            {% set geographic_coverage_style = '""' %}
            {% set temporal_coverage_style = '""' %}
            {% set taxonomic_coverage_style = '""' %}
            {% set contact_style = '""' %}
{#            {% set publisher_style = '""' %}#}
{#            {% set publication_place_style = '""' %}#}
            {% set method_step_style = '""' %}
            {% set project_style = '""' %}
            {% set data_table_style = '""' %}
            {% set other_entity_style = '""' %}

            {% set page = session['current_page'] %}
            {% set current = '"font-weight: bold;color: #0060d8;"'|safe %}

            {% if page == 'title' %}{% set title_style = current %}{% endif %}
            {% if page == 'creator' %}{% set creator_style = current %}{% endif %}
            {% if page == 'metadata_provider' %}{% set metadata_provider_style = current %}{% endif %}
            {% if page == 'associated_party' %}{% set associated_party_style = current %}{% endif %}
{#            {% if page == 'pubdate' %}{% set pubdate_style = current %}{% endif %}#}
            {% if page == 'abstract' %}{% set abstract_style = current %}{% endif %}
            {% if page == 'keyword' %}{% set keyword_style = current %}{% endif %}
            {% if page == 'intellectual_rights' %}{% set intellectual_rights_style = current %}{% endif %}
            {% if page == 'geographic_coverage' %}{% set geographic_coverage_style = current %}{% endif %}
            {% if page == 'temporal_coverage' %}{% set temporal_coverage_style = current %}{% endif %}
            {% if page == 'taxonomic_coverage' %}{% set taxonomic_coverage_style = current %}{% endif %}
            {% if page == 'contact' %}{% set contact_style = current %}{% endif %}
{#            {% if page == 'publisher' %}{% set publisher_style = current %}{% endif %}#}
{#            {% if page == 'publication_place' %}{% set publication_place_style = current %}{% endif %}#}
            {% if page == 'method_step' %}{% set method_step_style = current %}{% endif %}
            {% if page == 'project' %}{% set project_style = current %}{% endif %}
            {% if page == 'data_table' %}{% set data_table_style = current %}{% endif %}
            {% if page == 'other_entity' %}{% set other_entity_style = current %}{% endif %}

        <a class="nav_link" style={{ title_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.title') }}" title="Edit">Title</a><br>
        <a class="nav_link" style={{ creator_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.creator_select') }}" title="Edit">Creators</a><br>
        <a class="nav_link" style={{ metadata_provider_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.metadata_provider_select') }}" title="Edit">Metadata Providers</a><br>
        <a class="nav_link" style={{ associated_party_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.associated_party_select') }}" title="Edit">Associated Parties</a><br>
{#        <a class="nav_link" style={{ pubdate_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.pubdate') }}" title="Edit">Publication Date</a><br>#}
        <a class="nav_link" style={{ abstract_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.abstract') }}" title="Edit">Abstract</a><br>
        <a class="nav_link" style={{ keyword_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.keyword_select') }}" title="Edit">Keywords</a><br>
        <a class="nav_link" style={{ intellectual_rights_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.intellectual_rights') }}" title="Edit">Intellectual Rights</a><br>
        <a class="nav_link" style={{ geographic_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.geographic_coverage_select') }}" title="Edit">Geographic Coverage</a><br>
        <a class="nav_link" style={{ temporal_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.temporal_coverage_select') }}" title="Edit">Temporal Coverage</a><br>
        <a class="nav_link" style={{ taxonomic_coverage_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='cov.taxonomic_coverage_select') }}" title="Edit">Taxonomic Coverage</a><br>
        <a class="nav_link" style={{ contact_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.contact_select') }}" title="Edit">Contacts</a><br>
{#        <a class="nav_link" style={{ publisher_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='rp.publisher') }}" title="Edit">Publisher</a><br>#}
{#        <a class="nav_link" style={{ publication_place_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='res.publication_place') }}" title="Edit">Publication Place</a><br>#}
        <a class="nav_link" style={{ method_step_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='md.method_step_select') }}" title="Edit">Methods</a><br>
        <a class="nav_link" style={{ project_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='proj.project') }}" title="Edit">Project</a><br>
        <a class="nav_link" style={{ data_table_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='dt.data_table_select') }}" title="Edit">Data Tables</a><br>
        <a class="nav_link" style={{ other_entity_style }} onclick="nav_save.click();" href="{{ url_for('home.edit', page='ent.other_entity_select') }}" title="Edit">Other Entities</a><br>
        {% endif %}
    </div>
    <div style="margin-left: 18%;">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
</div>

    {{ macros.help_dialog('__help__contents_dialog', session['__help__contents'][0], session['__help__contents'][1]) }}

{% endblock %}

{% block scripts %}
    {{  super() }}
    <script>
    $(function()
    {
        let nav_save = $("#nav_save");
        let nav_download = $("#nav_download");
        let hidden_save = $("#hidden_save");
        let hidden_download = $("#hidden_download");
        let nav_link = $('.nav_link');
        if (hidden_save.length === 0) {
            nav_link.hide();
            nav_save.hide();
        }
        if (hidden_download.length === 0) {
            nav_download.hide();
        }
        nav_save.on("click", function() {
            if (hidden_save.length) {
                {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
                hidden_save.click();
            }
        })
        nav_download.on("click", function() {
            if (hidden_download.length) {
                {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
                hidden_download.click();
            }
        })

        {#$('form').data('serialize',$('form').serialize()); // On load save form current state#}
        {#alert($('form').serialize());#}
        {#alert($('form').data('serialize'));#}
        {##}
        {#$(window).bind('beforeunload', function(e){#}
        {#   // if form state change show warning box, else don't show it.#}
        {#   if ($('form').serialize()!=$('form').data('serialize')) {#}
                {#alert($('form').serialize());#}
                {#alert($('form').data('serialize'));#}
        {#       return true;#}
        {#   }#}
        {#   else {#}
        {#       e = null;#}
        {#   }#}
        {#})#}
     });
    </script>

    {% block app_scripts %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function()
    {
        {{ macros.help_script('__help__contents_dialog', '__help__contents_btn') }}
    });
    </script>
    {% endblock %}
{% endblock %}