{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Metadata Check</h1>
{#    <div class="row">#}
        <h3 class="col-md-12">
            <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
                <a href="{{ request.referrer }}">Back</a>
                {% for section in sections %}
                <h3>{{ message }}</h3>
                <table class="eval_table" width=100% style="padding: 10px;"><tr><th class="eval_table" align="left" width=17%>Item</th>
                    <th class="eval_table" align="left" width=8%>Severity</th><th class="eval_table" align="left" width=14%>Reason</th>
                    <th align="left" width=61%>Explanation</th></tr>
                {% endfor %}

                {{ content|safe }}
{#                <input class="btn btn-primary" name="Upload" type="submit" value="Upload"/>#}
{#                <input class="btn btn-primary" name="Reset" type="reset" value="Reset"/>#}
            </form>
        </div>
{#    </div>#}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function()
    {
      $(".eval_table tr:odd").css("background", "#f4f4f4");
      $(".eval_table tr:even").css("background", "#fff");
      $(".eval_table").css("padding", "3px");
    });
    </script>
{% endblock %}