{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_check_data_tables_id, help_check_data_tables_title, help_check_data_tables_content = help[0] %}
    {% set help_check_data_tables_btn = help_check_data_tables_id ~ '_btn' %}
    {% set help_check_data_tables_dialog = help_check_data_tables_id ~ '_dialog' %}

    <table>
        <td><h2>Check Data Tables</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_check_data_tables_btn) }}</td>
    </table>

{#    <div class="row">#}
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
                <a href="{{ request.referrer }}">Back</a>
                <p>&nbsp;</p>
                {{ content|safe }}
                {{ macros.hidden_buttons() }}

                <p>&nbsp;</p>
                <p>&nbsp;</p>
    <table width=100% style="padding: 10px;">
    <th></th><th>Color Key</th>
        <tr><td width=2%><span class ="nav_link red_circle"></span></td><td width=98%>= Checked, has errors</td></tr>
        <tr><td><span class ="nav_link yellow_circle"></span></td><td>= Not yet checked</td></tr>
        <tr><td><span class ="nav_link green_circle"></span></td><td>= Checked, no errors found</td></tr>
    </table>
            </form>
        </div>
{#    </div>#}
    {{ macros.help_dialog(help_check_data_tables_dialog, help_check_data_tables_title, help_check_data_tables_content) }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% set help_check_data_tables_id, help_check_data_tables_title, help_check_data_tables_content = help[0] %}
    {% set help_check_data_tables_btn = help_check_data_tables_id ~ '_btn' %}
    {% set help_check_data_tables_dialog = help_check_data_tables_id ~ '_dialog' %}

    <script>
    $(document).ready(function()
    {
      $(".eval_table tr:odd").css("background", "#f4f4f4");
      $(".eval_table tr:even").css("background", "#fff");
      $(".eval_table").css("padding", "3px");
    });
    $(function()
    {
        {{ macros.help_script(help_check_data_tables_dialog, help_check_data_tables_btn) }}
    });
    </script>
{% endblock %}
