{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_check_metadata_id, help_check_metadata_title, help_check_metadata_content = help[0] %}
    {% set help_check_metadata_btn = help_check_metadata_id ~ '_btn' %}
    {% set help_check_metadata_dialog = help_check_metadata_id ~ '_dialog' %}

    <table>
        <td><h2>Check Metadata: Results</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_check_metadata_btn) }}</td>
    </table>

{#    <div class="row">#}
        <div class="col-md-12">
            <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
                <a href="{{ request.referrer }}">Back</a>
                {{ content|safe }}
                {{ macros.hidden_buttons() }}
            </form>
        </div>
{#    </div>#}
    {{ macros.help_dialog(help_check_metadata_dialog, help_check_metadata_title, help_check_metadata_content) }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% set help_check_metadata_id, help_check_metadata_title, help_check_metadata_content = help[0] %}
    {% set help_check_metadata_btn = help_check_metadata_id ~ '_btn' %}
    {% set help_check_metadata_dialog = help_check_metadata_id ~ '_dialog' %}
    <script>
    $(document).ready(function()
    {
      $(".eval_table tr:odd").css("background", "#f4f4f4");
      $(".eval_table tr:even").css("background", "#fff");
      $(".eval_table").css("padding", "3px");
    });
    </script>
    <script>
        $(function()
        {
            {{ macros.help_script(help_check_metadata_dialog, help_check_metadata_btn) }}
        });
    </script>
{% endblock %}