{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_new_eml_document_id, help_new_eml_document_title, help_new_eml_document_content = help[0] %}
    {% set help_new_eml_document_btn = help_new_eml_document_id ~ '_btn' %}
    {% set help_new_eml_document_dialog = help_new_eml_document_id ~ '_dialog' %}
    
    <h2>New EML Document</h2>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="" class="form" role="form" novalidate>
                {{ form.csrf_token }}
                <br>
                <h5>Enter a name for the new document:</h5>
                <table>
                    <td>{{ wtf.form_field(form.filename, size=120) }}</td>
                    <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>
                </table>
                <p>&nbsp;</p>
                <input class="btn btn-primary" name="Next" type="submit" value="Create"/>
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_new_open_close_buttons() }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_new_eml_document_dialog, help_new_eml_document_title, help_new_eml_document_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_new_eml_document_id, help_new_eml_document_title, help_new_eml_document_content = help[0] %}
    {% set help_new_eml_document_btn = help_new_eml_document_id ~ '_btn' %}
    {% set help_new_eml_document_dialog = help_new_eml_document_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_new_eml_document_dialog, help_new_eml_document_btn) }}
    });
    </script>
{% endblock %}