{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Geographic Coverage</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the geographic description and bounding coordinates below:</h5>
                {{ wtf.form_field(form.geographic_description) }}
                {{ wtf.form_field(form.wbc) }}
                {{ wtf.form_field(form.ebc) }}
                {{ wtf.form_field(form.nbc) }}
                {{ wtf.form_field(form.sbc) }}
                <input class="btn btn-primary" name="Save Changes" type="submit" value="Save Changes"/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Clear" type="reset" value="Clear"/>
            </form>
        </div>
    </div>
{% endblock %}
