{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Data Table</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter information about the data table object:</h5>
                {{ wtf.form_field(form.entity_name) }}
                {{ wtf.form_field(form.entity_description) }}
                {{ wtf.form_field(form.object_name) }}
                {{ wtf.form_field(form.size) }}
                {{ wtf.form_field(form.num_header_lines) }}
                {{ wtf.form_field(form.record_delimiter) }}
                {{ wtf.form_field(form.attribute_orientation) }}
                {{ wtf.form_field(form.field_delimiter) }}
                {{ wtf.form_field(form.case_sensitive) }}
                {{ wtf.form_field(form.number_of_records) }}
                {{ wtf.form_field(form.online_url) }}
                <br/>
                <h4>Attributes:</h4>
                {{ atts }}
                <br/><br/>
                <input class="btn btn-primary" name="Attributes" type="submit" value="Edit Attributes"/>
                <br/><br/><br/>
                <h4>Data Table Access Rules (Optional):</h4>
                <input class="btn btn-primary" name="Access" type="submit" value="Edit Access Rules"/>
                <br/><br/><br/>
                <input class="btn btn-primary" name="Save Changes" type="submit" value="Save Changes"/>
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset"/>
            </form>
        </div>
    </div>
{% endblock %}
