{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Check Data Table: Results</h2>
    <div class="col-md-12">
        <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
            <a href="{{ request.referrer }}">Back</a>
            <p></p><span style="font-size:1.25em;"><b>Data Table: </b>{{ data_table_name }}</span>
            <br>
            {% if column_errs|length > 0 %}
            {% for column_err in column_errs %}
                <span style="padding-bottom:5px;display:block">
                <br>
                Column: <b>{{ column_err.column_name }}</b>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Type: {{ column_err.variable_type }}
                </span>
            <table class="errors_table" width=100% style="padding: 10px;">
                <tr><th class="errors_table" align="left" width=8%>Row</th>
                <th class="errors_table" align="left" width=52%>Error</th>
                <th class="errors_table" align="left" width=20%>Expected</th>
                <th align="left" width=20%>Found</th></tr>
                {% for error in column_err.errors %}
                <tr>
                <td class="errors_table" valign="top">{{ error.row }}</td>
                <td class="errors_table" valign="top">{{ error.error_type }}</td>
                <td class="errors_table" valign="top">{{ error.expected|safe }}</td>
                <td class="errors_table" valign="top">{{ error.found }}</td>
                </tr>
                {% endfor %}
                    </table>
                {% endfor %}
                {% else %}
                <p></p>No errors found
                {% endif %}
            </table>
            {{ macros.hidden_buttons() }}
        </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function()
    {
      $(".eval_table tr:odd").css("background", "#f4f4f4");
      $(".eval_table tr:even").css("background", "#fff");
      $(".eval_table").css("padding", "3px");
    });
    </script>
{% endblock %}