{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_data_table_errors_id, help_data_table_errors_title, help_data_table_errors_content = help[0] %}
    {% set help_data_table_errors_btn = help_data_table_errors_id ~ '_btn' %}
    {% set help_data_table_errors_dialog = help_data_table_errors_id ~ '_dialog' %}

    <table>
        <td><h2>Check Data Table: Results</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 15px;">{{ macros.help_button(help_data_table_errors_btn) }}</td>
    </table>
    
            <div class="col-md-12" style="color: #404040;padding: 8px;padding-left: 16px;font-style: normal;">
            Please note: When data packages are submitted to EDI's data repository, data table error checking is
                performed there as well. Experienced users of the repository may recognize that the repository's error checking is
                more permissive than the checking being done here in ezEML. ezEML’s error checking is intended to
                reflect best practices and help data providers minimize the data cleaning burden that will be passed
                on to consumers of their data.
            </div>
    <div class="col-md-12">
        <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
            <a href="{{ request.referrer }}">Back</a>
            <p></p><span style="font-size:1.25em;"><b>Data Table: </b>{{ data_table_name }}</span>
            <br>
            {% if column_errs|length > 0 %}
            {% for column_err in column_errs %}
                <span style="padding-bottom:5px;display:block">
                <br>
                Column: <b>{{ column_err.column_name }}</b>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Type: {{ column_err.variable_type }}
                </span>
            <table class="eval_table" width=100% style="padding: 10px;">
                <tr><th class="eval_table" align="left" width=8%>Row</th>
                <th class="eval_table" align="left" width=42%>Error</th>
                <th class="eval_table" align="left" width=25%>Expected</th>
                <th align="left" width=25%>Found</th></tr>
                {% for error in column_err.errors %}
                <tr>
                <td class="eval_table" valign="top">{{ error.row }}</td>
                <td class="eval_table" valign="top">{{ error.error_type }}</td>
                <td class="eval_table" valign="top" style="white-space:pre-wrap;">{{ error.expected|safe }}</td>
                <td class="eval_table" valign="top" style="white-space:pre-wrap;">{{ error.found|safe }}</td>
                </tr>
                {% endfor %}
                    </table>
                {% endfor %}
                {% else %}
                <p></p>No errors found
                {% endif %}
            </table>
            {{ macros.hidden_buttons() }}
            {% if has_blanks %}
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table width=100% style="padding: 10px;">
                <th colspan="2">Key</th>
                    <tr><td width=2%><span style="color:red;font-size:100%;font-weight:bold;">❏</span></td>
                        <td width=98%>= Leading or trailing blank character</td></tr>
                </table>
            {% endif %}
        </form>
    </div>
    {{ macros.help_dialog(help_data_table_errors_dialog, help_data_table_errors_title, help_data_table_errors_content) }}
{% endblock %}


{% block scripts %}
    {{ super() }}
    {% set help_data_table_errors_id, help_data_table_errors_title, help_data_table_errors_content = help[0] %}
    {% set help_data_table_errors_btn = help_data_table_errors_id ~ '_btn' %}
    {% set help_data_table_errors_dialog = help_data_table_errors_id ~ '_dialog' %}

    <script>
    $(document).ready(function()
    {
      $(".eval_table tr:odd").css("background", "#f4f4f4");
      $(".eval_table tr:even").css("background", "#fff");
      $(".eval_table").css("padding", "1px");
    });
    $(function()
    {
        {{ macros.help_script(help_data_table_errors_dialog, help_data_table_errors_btn) }}
    });
    </script>
{% endblock %}