{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_import_xml_4_id, help_import_xml_4_title, help_import_xml_4_content = help[0] %}
    {% set help_import_xml_4_btn = help_import_xml_4_id ~ '_btn' %}
    {% set help_import_xml_4_dialog = help_import_xml_4_id ~ '_dialog' %}

    <table>
        <td><h2>Import an EML XML File</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_import_xml_4_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                {{ form.csrf_token }}
                If the EML file contains links to data tables and other data entities, ezEML can use those links to
                retrieve the data. {{ mb | safe }}<br>Select an option below.
                <p></p><br>
                <input class="btn btn-primary" style="width: 200px;" onclick="stand_by();" name="RetrieveData" type="submit" value="Get Associated Data Files"/>
                <input class="btn btn-primary" style="width: 260px;" name="Cancel" type="submit" value="Continue Without Getting Data Files"/>
                &nbsp;
                <span id="stand_by_hint" style="visibility: hidden;"><i>Please stand by...</i></span>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_import_xml_4_dialog, help_import_xml_4_title, help_import_xml_4_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_import_xml_4_id, help_import_xml_4_title, help_import_xml_4_content = help[0] %}
    {% set help_import_xml_4_btn = help_import_xml_4_id ~ '_btn' %}
    {% set help_import_xml_4_dialog = help_import_xml_4_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_import_xml_4_dialog, help_import_xml_4_btn) }}
    });

    function stand_by() {
        let x = document.getElementById("stand_by_hint");
        x.style.visibility = "visible";
    }

    </script>
{% endblock %}
