{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_project_id, help_project_title, help_project_content = help[0] %}
    {% set help_project_btn = help_project_id ~ '_btn' %}
    {% set help_project_dialog = help_project_id ~ '_dialog' %}
    
    <table>
        <td><h2>Import Project</h2></td>
        <td valign="middle" style="padding-top: 10px;padding-left: 10px;">{{ macros.help_button(help_project_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ macros.import_document_selection(wtf, form) }}
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_project_dialog, help_project_title, help_project_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_project_id, help_project_title, help_project_content = help[0] %}
    {% set help_project_btn = help_project_id ~ '_btn' %}
    {% set help_project_dialog = help_project_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_project_dialog, help_project_btn) }}
    });
    </script>
{% endblock %}