{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_project_2_id, help_project_2_title, help_project_2_content = help[0] %}
    {% set help_project_2_btn = help_project_2_id ~ '_btn' %}
    {% set help_project_2_dialog = help_project_2_id ~ '_dialog' %}

    <table>
        <td><h2>Import Project</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_project_2_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table>
                    <tr><h5>Select a project to import from {{ target_filename }}:</h5></tr>
                    {% if form.to_import.choices %}
                    <tr>{{ form.to_import(style="list-style:none;") }}</tr>
                    {% else %}
                    <tr><span style="font-style: italic;">&nbsp;&nbsp;The selected data package contains no projects.</span><br></tr>
                    {% endif %}
                    <tr>&nbsp;<p/></tr>
                    <tr>&nbsp;
                    {% if form.to_import.choices %}
                    <input class="btn btn-primary" name="Import" type="submit" value="Import"/>
                    {% else %}
                    <input class="btn btn-primary" name="Import" disabled type="submit" value="Import"/>
                    {% endif %}
                    &nbsp;
                    <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/></tr>
                    {{ macros.hidden_buttons() }}
                    </table>
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_project_2_dialog, help_project_2_title, help_project_2_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_project_2_id, help_project_2_title, help_project_2_content = help[0] %}
    {% set help_project_2_btn = help_project_2_id ~ '_btn' %}
    {% set help_project_2_dialog = help_project_2_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_project_2_dialog, help_project_2_btn) }}
    });
    </script>
{% endblock %}
