{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_import_responsible_parties_2_id, help_import_responsible_parties_2_title, help_import_responsible_parties_2_content = help[0] %}
    {% set help_import_responsible_parties_2_btn = help_import_responsible_parties_2_id ~ '_btn' %}
    {% set help_import_responsible_parties_2_dialog = help_import_responsible_parties_2_id ~ '_dialog' %}

    <body onload="setTarget('{{ target }};');hideSorted(false);">
    <script>
        function setTarget(target) {
            let target_list = document.getElementsByName('target');
            for (let i = 0; i < target_list.length; i++) {
                if (target_list[i].value === target) {
                    target_list[i].checked = true;
                }
            }
        }
        function hideSorted(val) {
            let unsorted = document.getElementById('to_import');
            let sorted = document.getElementById('to_import_sorted');
            if (sorted) {
                if (val) {
                    unsorted.style.display = 'block';
                    sorted.style.display = 'none';
                } else {
                    unsorted.style.display = 'none';
                    sorted.style.display = 'block';
                }
            }
        }
    </script>

    <table>
        <td><h2>Import Responsible Parties</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_import_responsible_parties_2_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table width="100%">

                    {{ macros.import_selection_sortable(form, source_filename, 'responsible parties') }}

                    {% if form.to_import.choices %}
                    <tr><h5>Import as:</h5></tr>
                    <tr>{{ form.target(style="list-style:none;") }}</tr>
                    <tr>&nbsp;<p/></tr>
                    {% endif %}

                    <tr>
                    {% if form.to_import.choices %}
                    <input class="btn btn-primary" name="Import" type="submit" onclick="reconcile_checkbox_statuses(sort_state());return true;" value="Import"/>&nbsp;&nbsp;
                    {% else %}
                    <input class="btn btn-primary" name="Import" disabled type="submit" value="Import"/>&nbsp;&nbsp;
                    {% endif %}
                    <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                    </tr>
                </table>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
    </body>
    {{ macros.help_dialog(help_import_responsible_parties_2_dialog, help_import_responsible_parties_2_title, help_import_responsible_parties_2_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_import_responsible_parties_2_id, help_import_responsible_parties_2_title, help_import_responsible_parties_2_content = help[0] %}
    {% set help_import_responsible_parties_2_btn = help_import_responsible_parties_2_id ~ '_btn' %}
    {% set help_import_responsible_parties_2_dialog = help_import_responsible_parties_2_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_import_responsible_parties_2_dialog, help_import_responsible_parties_2_btn) }}
    });
    </script>
{% endblock %}