{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_funding_awards_id, help_funding_awards_title, help_funding_awards_content = help[0] %}
    {% set help_funding_awards_btn = help_funding_awards_id ~ '_btn' %}
    {% set help_funding_awards_dialog = help_funding_awards_id ~ '_dialog' %}
    
    <table>
        <td><h2>Import Funding Awards</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_funding_awards_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Select a data package identifier from which to import:</h5>
                {{ wtf.form_field(form.packageid) }}
                <p>&nbsp;</p>
                <input class="btn btn-primary" name="Open" type="submit" value="Open for Import"/>
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_funding_awards_dialog, help_funding_awards_title, help_funding_awards_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_funding_awards_id, help_funding_awards_title, help_funding_awards_content = help[0] %}
    {% set help_funding_awards_btn = help_funding_awards_id ~ '_btn' %}
    {% set help_funding_awards_dialog = help_funding_awards_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_funding_awards_dialog, help_funding_awards_btn) }}
    });
    </script>
{% endblock %}