{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_import_xml_4_id, help_import_xml_4_title, help_import_xml_4_content = help[0] %}
    {% set help_import_xml_4_btn = help_import_xml_4_id ~ '_btn' %}
    {% set help_import_xml_4_dialog = help_import_xml_4_id ~ '_dialog' %}
    {% set help_complex_xml_id, help_complex_xml_title, help_complex_xml_content = help[1] %}
    {% set help_complex_xml_btn = help_complex_xml_id ~ '_btn' %}
    {% set help_complex_xml_dialog = help_complex_xml_id ~ '_dialog' %}

    <table>
        <td><h2>Import an EML XML File</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_import_xml_4_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" novalidate="true">
                {{ form.csrf_token }}
                If the EML file contains links to data tables and other data entities, ezEML can use those links to
                retrieve the data. {{ mb | safe }}<br>Select an option below.<p></p>
                <b>Note:</b> If you plan to update one or more data files, you should select <b>Get Associated Data Files</b>.
                This will make the <b>Re-upload</b> feature available in the Data Tables and Other Entities pages.
                <p></p><br>
                <input class="btn btn-primary" style="width: 200px;" onclick="stand_by();" name="RetrieveData" type="submit" value="Get Associated Data Files"/>
                <input class="btn btn-primary" style="width: 260px;" name="Cancel" type="submit" value="Continue Without Getting Data Files"/>
                &nbsp;
                <span id="stand_by_hint" style="visibility: hidden;"><i>Please stand by...</i></span>
                <td valign="middle" style="padding-top: 5px;">
                    <span hidden="hidden">{{ macros.help_button(help_complex_xml_btn) }}</span>
                </td>
                {{ macros.hidden_buttons() }}
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_import_xml_4_dialog, help_import_xml_4_title, help_import_xml_4_content) }}
    {{ macros.help_dialog(help_complex_xml_dialog, help_complex_xml_title, help_complex_xml_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_import_xml_4_id, help_import_xml_4_title, help_import_xml_4_content = help[0] %}
    {% set help_import_xml_4_btn = help_import_xml_4_id ~ '_btn' %}
    {% set help_import_xml_4_dialog = help_import_xml_4_id ~ '_dialog' %}
    {% set help_complex_xml_id, help_complex_xml_title, help_complex_xml_content = help[1] %}
    {% set help_complex_xml_btn = help_complex_xml_id ~ '_btn' %}
    {% set help_complex_xml_dialog = help_complex_xml_id ~ '_dialog' %}
    {% set complex_xml = complex_xml %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_import_xml_4_dialog, help_import_xml_4_btn) }}
        {{ macros.help_script(help_complex_xml_dialog, help_complex_xml_btn) }}

        {% if complex_xml %}
            let complex_xml_dialog = $( '#{{ help_complex_xml_dialog }}' ).dialog({
                autoOpen: true,
                width: 800,
                position: {my: "center", at: "center", of: window}
            });
            $( '#{{ help_complex_xml_btn }}' ).button().on('click', function() {
                if (complex_xml_dialog.dialog('isOpen')) {
                    {#alert('{{ dns_ns.do_not_show_cb }}');#}
                    complex_xml_dialog.dialog('close');
                } else {
                    complex_xml_dialog.dialog('open');
                }
            });
            $( '#{{ help_complex_xml_btn }}' ).click();
            document.activeElement.blur();
        {% endif %}
    });

    function stand_by() {
        let x = document.getElementById("stand_by_hint");
        x.style.visibility = "visible";
    }

    </script>
{% endblock %}
