{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_funding_awards_2_id, help_funding_awards_2_title, help_funding_awards_2_content = help[0] %}
    {% set help_funding_awards_2_btn = help_funding_awards_2_id ~ '_btn' %}
    {% set help_funding_awards_2_dialog = help_funding_awards_2_id ~ '_dialog' %}

{#    <script>#}
{#        function choose_options(all) {#}
{#            $('input:checkbox').not(this).prop('checked', all);#}
{#        }#}
{#    </script>#}

    <table>
        <td><h2>Import Funding Awards</h2></td>
        <td valign="middle" style="padding-top: 20px;padding-left: 10px;">{{ macros.help_button(help_funding_awards_2_btn) }}</td>
    </table>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <table>
                    {{ macros.import_selection(form, source_filename, 'funding awards') }}
                    {{ macros.import_buttons(form) }}
                    {{ macros.hidden_buttons() }}
                    </table>
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_funding_awards_2_dialog, help_funding_awards_2_title, help_funding_awards_2_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_funding_awards_2_id, help_funding_awards_2_title, help_funding_awards_2_content = help[0] %}
    {% set help_funding_awards_2_btn = help_funding_awards_2_id ~ '_btn' %}
    {% set help_funding_awards_2_dialog = help_funding_awards_2_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_funding_awards_2_dialog, help_funding_awards_2_btn) }}
    });
    </script>
{% endblock %}
