{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-8">
{% if current_user.is_anonymous %}
            <p>&nbsp;</p>
<h4>Please login to create and edit EML documents.</h4>
            <p>&nbsp;</p>
{#            <p>&nbsp;</p>#}
    To <a href="auth/login">login</a>, you need an account with <strong>EDI</strong>, the <strong>Environmental Data
    Initiative</strong>. Accounts are free and can be obtained by emailing
    <a href="mailto:support@environmentaldatainitiative.org">support@environmentaldatainitiative.org</a>.
    Alternatively, you may use your existing account with either <strong>Google</strong>, <strong>GitHub</strong>,
    or <strong>Orcid</strong> to login.
            <p> </p>
            To learn more about ezEML, how to use it, and what it's for, see the <a href="user_guide">User Guide</a>.
{% else %}
            <p>&nbsp;</p>
    <h4>To create a new EML document or edit an existing one, select an option from the EML Documents menu, above.</h4>
            <p> </p>
            <p>&nbsp;</p>
            To learn more about ezEML, how to use it, and what it's for, see the <a href="user_guide">User Guide</a>.
{% endif %}
</div>
{% endblock %}