{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Keywords</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h4>Keywords:</h4>
                <table class="table table-striped">
                    <th>Keyword</th><th>Keyword Type</th>
                    {% for keyword in keyword_dict %}
                        <tr><td>{{ keyword }}</td><td>{{ keyword_dict[keyword] }}</td></tr>
                    {% endfor %}
                </table>
                <br/><br/>
                {{ wtf.form_field(form.keyword) }} {{ wtf.form_field(form.keyword_type) }}
                <input class="btn btn-primary" name="Add" type="submit" value="Add"/>
                <input class="btn btn-primary" name="Remove" type="submit" value="Remove"/>
                <input class="btn btn-primary" name="Clear" type="reset" value="Clear"/>
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
            </form>
        </div>
    </div>
{% endblock %}
