{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Keywords for {{ packageid }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please provide up to eight keywords below:</h5>
                {{ wtf.form_field(form.k01) }}
                {{ wtf.form_field(form.k02) }}
                {{ wtf.form_field(form.k03) }}
                {{ wtf.form_field(form.k04) }}
                {{ wtf.form_field(form.k05) }}
                {{ wtf.form_field(form.k06) }}
                {{ wtf.form_field(form.k07) }}
                {{ wtf.form_field(form.k08) }}
                <input class="btn btn-primary" name='Validate' type="submit" value="Validate"/>
                <input class="btn btn-primary" name='Next' type="submit" value="Next"/>
                <input class="btn btn-primary" name='Clear' type="reset" value="Clear"/>
            </form>
        </div>
    </div>
{% endblock %}
