{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Keyword</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the keyword and (optionally) the keyword type:</h5>
                {{ wtf.form_field(form.keyword) }}
                {{ wtf.form_field(form.keyword_type) }}
                {{ wtf.form_field(form.md5) }}
                <input class="btn btn-primary" name="Save Changes" type="submit" value="Save Changes"/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset"/>
            </form>
        </div>
    </div>
{% endblock %}
