{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Load Data Table from CSV File</h2>
    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <br>
                <h4>Select the CSV file to upload:</h4>
                <input type=file name=file>
                <p>&nbsp;</p>
                <table width="70%">
                    <tr>
{#                        <td width="25%">{{ wtf.form_field(form.num_header_rows) }}</td>#}
{#                        <td width="3%"></td>#}
                        <td width="35%">{{ wtf.form_field(form.delimiter) }}</td>
                        <td width="3%"></td>
                        <td width="30%">{{ wtf.form_field(form.quote) }}</td>
                    </tr>
                </table>
                <p> </p>
                <b>Please note:</b> When the data table is uploaded, ezEML infers several file attributes
                (e.g., checksum, file size) that are version-specific. If you modify the data table after
                uploading, you will need to re-upload it so the inferred values are correct. See
                "Re-uploading Data Tables" in the <a style="color: steelblue;" href="/eml/user_guide">User Guide</a>.
                <p></p>
                <br>

                <input class="btn btn-primary" style="width: 100px;" name="Upload" type="submit" value="Upload"/>&nbsp;
                <input class="btn btn-primary" style="width: 100px;" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
{% endblock %}
