{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Measurement Scale: Interval or Ratio: {{ attribute_name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.md5) }}
                <h4>Please enter measurement scale information about the attribute <strong>{{ attribute_name }}</strong> :</h4>
                <br/>
                {{ wtf.form_field(form.mscale) }}
                <br/>
                <h4>Enter a standard unit <em>or</em> a custom unit value:</h4>
                {{ wtf.form_field(form.standard_unit) }}
                {{ wtf.form_field(form.custom_unit) }}
                <br/>
                {{ wtf.form_field(form.precision) }}
                {{ wtf.form_field(form.number_type) }}
                <br/>
                <h4>Bounds (Optional):</h4>
                {{ wtf.form_field(form.bounds_minimum) }}
                {{ wtf.form_field(form.bounds_minimum_exclusive) }}
                <br/>
                {{ wtf.form_field(form.bounds_maximum) }}
                {{ wtf.form_field(form.bounds_maximum_exclusive) }}
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
            </form>
        </div>
    </div>
{% endblock %}
