{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Measurement Scale: {{ nominal_or_ordinal }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter measurement scale information about the {{ nominal_or_ordinal }} data table attribute {{ attribute_name }} :</h5>
                {{ wtf.form_field(form.enforced) }}
                <input class="btn btn-primary" name="Save Changes" type="submit" value="Save Changes"/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
            </form>
        </div>
    </div>
{% endblock %}
