{% extends "base.html" %}

{% block app_content %}
    <h4 align="left">What's New</h4>

    <p>&nbsp;</p>
    <table style="width:100%">
    <tr>
        <th style="width:15%">Date</th>
        <th style="width:85%">News</th>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.09.22</td>
        <td>
            <b>Add support for Bounding Altitudes in Geographic Coverage</b><br>
            Bounding Altitudes can now be specified in Geographic Coverage. They are optional. They are also supported in
            Geographic Coverage CSV files.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.09.01</td>
        <td>
            <b>Allow changed column types in Re-upload Data Table</b><br>
            In earlier releases, <b>Re-upload Data Table</b> did not allow a re-upload to proceed if one or more column
            types had changed. That restriction has been removed.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.07.23</td>
        <td>
            <b>Add support for Send Your Package to a Colleague</b><br>
            If you wish to send your data package to someone other than the EDI Data Repository, that
            capability is provided as a variant of <b>Submit to EDI</b>.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.07.07</td>
        <td>
            <b>Add Data Sources optional field to Method Step</b><br>
            If you used other datasets in a Method Step, you can now document them in the Method Step.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.05.05</td>
        <td>
            <b>Add Org ID and Org ID Type options to Creators, Contacts, etc.</b><br>
            If you enter an Organization name for a Creator, Contact, etc., you can now enter an Organization
            ID and the ID's type (GRID, ISNI, ROR, or Wikidata).
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.04.15</td>
        <td>
            <b>No longer require a Data Package ID in order to submit data to EDI.</b><br>
            If you are going to submit your data to EDI, you may leave the Data Package ID blank and our data
            curators will supply an ID for your package when it is submitted.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.03.24</td>
        <td>
            <b>Detect Missing Value codes and check that Missing Value Code Explanations are present</b><br>
            When uploading a data table, ezEML attempts to detect Missing Value codes for the columns.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.03.17</td>
        <td>
            <b>Add support for Submit to EDI</b><br>
            Submit to EDI creates an archive file containing a data package's EML metadata and all uploaded
            data tables and other entities and sends an email to the data curators at EDI requesting submission of the
            data package to the EDI data repository. EDI's data curators will check the package and make any needed corrections
            before adding the package to the EDI data repository.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.03.03</td>
        <td>
            <b>Add support for Export ezEML Data Package and Import ezEML Data Package</b><br>
            A data package's EML metadata and all uploaded data tables and other entities can be exported in a single
            archive file, which is then available for download, either directly or via a URL that is provided. Such
            archive files can also be imported. See the Import/Export menu.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.02.03</td>
        <td>
            <b>Add support for Clone Column Properties from Another Data Table</b><br>
                When editing a data table's properties, you can now "clone" the properties of selected columns from another
            data table into the data table you're currently editing.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.01.13</td>
        <td>
            <b>Add Check Metadata status indicator</b><br>
                Display a badge after the Check Metadata link to indicate if metadata is free of warnings and errors (green), has warnings
            but no errors (yellow), or has errors (red).
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.01.05</td>
        <td>
            <b>Add Export Data Package</b><br>
                Export Data Package creates a zip file containing the data package's metadata and data files and downloads it to the browser.
            This zip file can then be submitted to a data repository such as EDI's.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2021.01.05</td>
        <td>
            <b>Add support for Other Entity Re-upload</b><br>
                The purpose of Re-upload is to let you update an other entity's contents. ezEML updates the corresponding metadata automatically.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2020.11.23</td>
        <td>
            <b>Refer to data table "Columns" rather than "Attributes"</b><br>
            The EML standard uses the term "Attributes" to refer to a data table's columns, but in the context of ezEML, "Columns" seems preferable.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2020.11.15</td>
        <td>
            <b>Add support for Data Table Re-upload</b><br>
                The purpose of Re-upload is to let you update a data table's contents (e.g., because you've added some new rows or edited some cell values) without having to enter the properties of the data table and its columns all over again. It assumes the
 structure of the data table is largely unchanged. ezEML updates the corresponding metadata automatically.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2020.10.21</td>
        <td>
            <b>Add support for Related Projects</b><br>
A project may be associated with related projects. The EML standard treats one project as the main or primary project, which can have one or more related projects as "children".
This lets you associate different funding awards with different Principal Investigators, for example.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2020.10.09</td>
        <td>
            <b>Allow field delimiter and quote character to be specified for a data table upload</b><br>
Previously, data table files had to be comma-separated. Now other field delimiters (tabs, colons, etc.) are supported. Similarly, the quote character (either double quote or single quote) can be specified.
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">2020.10.06</td>
        <td><b>Initial release of ezEML is demonstrated in a <a href="https://www.youtube.com/watch?v=2Q0ryNoYK4E&t=927s">YouTube webinar</a></b><br>
            This is a good place to get an overview of ezEML, bearing in mind that a number of features have been added since the video was recorded.</td>
    </tr>
    </table>

    <br>
    <b><a href={{ back_url }}>Back</a></b>

{% endblock %}