{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Open EML Document</h2>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <br>
                <h5>Select an EML document to open:</h5>
                {{ wtf.form_field(form.filename, maxlen=100) }}
                <p>&nbsp;</p>
                <input class="btn btn-primary" name="Open" type="submit" value="Open"/>&nbsp;&nbsp;
                <input class="btn btn-primary" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons_with_no_contents_menu() }}
            </form>
        </div>
    </div>
{% endblock %}