{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Project</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the project information below:</h5>
                {{ wtf.form_field(form.title) }}
                {{ wtf.form_field(form.abstract) }}
                {{ wtf.form_field(form.funding) }}
                <br/>
                <input class="btn btn-primary" name="Edit Project Personnel" type="submit" value="Edit Project Personnel"/>
                <br/><br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
                <input class="btn btn-primary" name="Clear" type="reset" value="Clear"/>
            </form>
        </div>
    </div>
{% endblock %}
