{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Publication Place</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="" class="form" role="form">
                {{ form.csrf_token }}
                <h5>Please enter the publication place:</h5>
                {{ wtf.form_field(form.pubplace) }}
                {{ wtf.form_field(form.md5) }}
                <br/>
                <input class="btn btn-primary" name="Back" type="submit" value="Back"/>
                <input class="btn btn-primary" name="Next" type="submit" value="Next"/>
                <input class="btn btn-primary" name="Reset" type="reset" value="Reset"/>
            </form>
        </div>
    </div>
{% endblock %}