{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if help %}
    {% set help_data_tables_reupload_id, help_data_tables_reupload_title, help_data_tables_reupload_content = help[0] %}
    {% set help_data_tables_reupload_btn = help_data_tables_reupload_id ~ '_btn' %}
    {% set help_data_tables_reupload_dialog = help_data_tables_reupload_id ~ '_dialog' %}
    {% endif %}

    <table>
        <td><h2>Re-upload Data Table</h2></td>
        <td valign="top" style="padding-top: 25px;padding-left: 10px;">{{ macros.help_button(help_data_tables_reupload_btn) }}</td>
    </table>

    <div class="row">
        <div class="col-md-10">
            <form method="POST" action="" class="form" role="form" enctype=multipart/form-data>
                {{ form.csrf_token }}
                <br>
                The purpose of <b>Re-upload Data Table</b> is to let you update a data table's contents (e.g., because you've added some
                new rows or edited some cell values) without having to enter the properties of the data table's columns all over again.
                <p></p>
                Moreover, if you later use <b>Export ezEML Data Package</b> or <b>Send to EDI</b>, which creates a zip file containing the EML metadata and all of the data
                tables and other entities associated with the data package, <b>it is essential that the final, corrected versions of all files
                have been uploaded to ezEML</b>, because it is the versions that have been uploaded to ezEML that will be included in the
                exported data package.
                <p></p>
                <b>Re-upload Data Table</b> requires the number of columns in the table to be the same as in the original table, but it allows
                column names and types to change.
                <p></p>
                <p>&nbsp;</p>
                <h4>Select a CSV file to re-upload data table <span style="color:steelblue">{{ name }}</span>:</h4>
                <input type=file name=file>
                <p>&nbsp;</p>
                <table width="70%">
                    <tr>
{#                        <td width="25%">{{ wtf.form_field(form.num_header_rows) }}</td>#}
{#                        <td width="3%"></td>#}
                        <td width="35%">{{ wtf.form_field(form.delimiter) }}</td>
                        <td width="3%"></td>
                        <td width="30%">{{ wtf.form_field(form.quote) }}</td>
                    </tr>
                </table>
                <p> </p>
                <br>

                <input class="btn btn-primary" style="width: 100px;" name="Re-upload" type="submit" value="Re-upload"/>&nbsp;
                <input class="btn btn-primary" style="width: 100px;" name="Cancel" type="submit" value="Cancel"/>
                {{ macros.hidden_buttons() }}
            </form>
        </div>
    </div>
    {{ macros.help_dialog(help_data_tables_reupload_dialog, help_data_tables_reupload_title, help_data_tables_reupload_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% if help %}
    {% set help_data_tables_reupload_id, help_data_tables_reupload_title, help_data_tables_reupload_content = help[0] %}
    {% set help_data_tables_reupload_btn = help_data_tables_reupload_id ~ '_btn' %}
    {% set help_data_tables_reupload_dialog = help_data_tables_reupload_id ~ '_dialog' %}
    {% endif %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_data_tables_reupload_dialog, help_data_tables_reupload_btn) }}
    });
    </script>
{% endblock %}