{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_send_to_colleague_id, help_send_to_colleague_title, help_send_to_colleague_content = help[0] %}
    {% set help_send_to_colleague_btn = help_send_to_colleague_id ~ '_btn' %}
    {% set help_send_to_colleague_dialog = help_send_to_colleague_id ~ '_dialog' %}
    
    <table>
        <td><h2>Submit Metadata</h2></td>
        <td valign="middle" style="padding-top: 18px;padding-left: 10px;">{{ macros.help_button(help_send_to_colleague_btn) }}</td>
    </table>
        <div class="col-md-10">
    <form method="POST" action="" class="form" role="form" novalidate>
        {{ form.csrf_token }}
    <table>
        <tr>
            <td width="200"><b>Image File</b></td>
            <td><b>XML File</b></td>
        </tr>
        <tr>
            <td>{{ image_name|safe }}</td>
            <td>{{ xml_name|safe + '.xml' }}</td>
        </tr>
    </table>
        <p></p>
{#        <h5>If you have any notes for EDI data curators, enter them below.</h5>#}
{#        <table>#}
{#            <td>{{ wtf.form_field(form.notes, rows=4, cols=100) }}</td>#}
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
{#        </table>#}
{#        {% if check_metadata_status == 'red' %}
            <p><span style="color:red;">Your metadata contains one or more errors.</span><span style="color:black;"> To see what the errors
                are, click <b><a href=""{{ url_for('home.edit', page='home.check_metadata') }}">Check Metadata</a></b>.
            You may wish to correct the errors before sending, but you can go ahead and submit your package as is,
                if you choose. The one exception is that the data package must have a
                <b><a href="{{ url_for('home.edit', page='res.title') }}">Title</a></b>. </span></p>
        {% endif %}#}
    <p></p>
{#        Click the <b>Submit Metadata</b> button to prepare the package to be sent. An email containing a download
        link for the package will be generated for you to use. You will have the opportunity to edit the email and personalize
        it as you see fit before sending it to your colleague.<p></p>&nbsp;<br>#}

                <input class="btn btn-primary" style="width: 260px;" name="Submit" type="submit" value="Submit Metadata" formnovalidate="True"/>&nbsp;&nbsp;
                <input class="btn btn-primary" style="width: 100px;" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>
                {{ macros.hidden_buttons() }}
    </form>
        </div>

    {% if mailto %}
    <a id="mail_link" style="visibility:hidden;" href="{{ mailto }}">Click me</a>
    <script>
        document.getElementById("mail_link").click();
    </script>
    {% endif %}

    {{ macros.help_dialog(help_send_to_colleague_dialog, help_send_to_colleague_title, help_send_to_colleague_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_send_to_colleague_id, help_send_to_colleague_title, help_send_to_colleague_content = help[0] %}
    {% set help_send_to_colleague_btn = help_send_to_colleague_id ~ '_btn' %}
    {% set help_send_to_colleague_dialog = help_send_to_colleague_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_send_to_colleague_dialog, help_send_to_colleague_btn) }}
    });
    </script>
{% endblock %}