{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_send_to_colleague_id, help_send_to_colleague_title, help_send_to_colleague_content = help[0] %}
    {% set help_send_to_colleague_btn = help_send_to_colleague_id ~ '_btn' %}
    {% set help_send_to_colleague_dialog = help_send_to_colleague_id ~ '_dialog' %}

    <table>
        <td><h2>Send Data Package to a Colleague</h2></td>
        <td valign="middle" style="padding-top: 18px;padding-left: 10px;">{{ macros.help_button(help_send_to_colleague_btn) }}</td>
    </table>
    <div class="col-md-10" style="display:inline-block; padding:10px;">
    Your data package has been prepared for downloading by your colleague. A suggested email message to your colleague
    is shown below. This email message contains the link your colleague will need to use to download the package.<p></p>

    You can highlight the message and copy-paste it into an email. Or, if you have a default email client configured in your
        browser, click <b>Open in Email Client</b> to
    open the message in your email client directly. Either way, you can edit and personalize the email message as you see fit
    before sending it.
    </div>
    <p>&nbsp;</p>

    <div class="col-md-10" style="display:inline-block;border: 1px solid steelblue;padding: 10px;margin-left:25px;margin-top:10px;">
        {{ mailto_html }}
    </div>

    <form method="POST" action="" style="display:inline-block;margin-left:25px;margin-top:20px;" class="form" role="form" novalidate>
        {{ form.csrf_token }}

                <input class="btn btn-primary" style="width: 160px;" onclick="copy_to_clipboard();"
                       value="Copy to Clipboard"/>&nbsp;&nbsp;
                <input class="btn btn-primary" style="width: 160px;" onclick="open_in_email(document.getElementById('mail_link'));" value="Open in Email Client"/>&nbsp;&nbsp;
                <input class="btn btn-primary" style="width: 100px;" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>
                {{ macros.hidden_buttons() }}
    </form>

    <a id="mail_link" style="visibility:hidden;" href="{{ mailto }}">Click me</a>

    {{ macros.help_dialog(help_send_to_colleague_dialog, help_send_to_colleague_title, help_send_to_colleague_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_send_to_colleague_id, help_send_to_colleague_title, help_send_to_colleague_content = help[0] %}
    {% set help_send_to_colleague_btn = help_send_to_colleague_id ~ '_btn' %}
    {% set help_send_to_colleague_dialog = help_send_to_colleague_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_send_to_colleague_dialog, help_send_to_colleague_btn) }}
    });

    function copy_to_clipboard() {
        let $temp = $("<textarea>");
        $("body").append($temp);
        let s = `{{ mailto_raw }}`;
        s = s.replace(/&#34;/g, '"');
        $temp.val(s).select();
        document.execCommand("copy");
        $temp.remove();
        alert('Copied to clipboard')
     }

    function open_in_email(mail_link) {
        mail_link.click();
    }
    </script>
{% endblock %}