{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% set help_submit_package_id, help_submit_package_title, help_submit_package_content = help[0] %}
    {% set help_submit_package_btn = help_submit_package_id ~ '_btn' %}
    {% set help_submit_package_dialog = help_submit_package_id ~ '_dialog' %}
    
    <table>
        <td><h2>Submit to EDI</h2></td>
        <td valign="middle" style="padding-top: 18px;padding-left: 10px;">{{ macros.help_button(help_submit_package_btn) }}</td>
    </table>
{#        <div class="col-md-10">#}
{##}
{#        <p>When you've entered all required metadata and uploaded all associated data files (data tables and other entities) to ezEML,#}
{#        you're ready to submit your data package to the data repository#}
{#        hosted by the <a href="https://environmentaldatainitiative.org/" target="_blank"><b>Environmental Data Initiative (EDI)</b></a>.#}

    <div class="col-md-5" style="border: 1px solid steelblue;padding: 10px;margin-left:15px;">
        <b>Important:</b> The versions of the data files that will be included in your submission are the versions you've
        uploaded to ezEML. If you've modified a data file since it was uploaded, you will need to use <b>Re-upload</b>
        to provide ezEML with the updated version prior to submitting. Go to <b><a href="edit/dt.data_table_select">Data Tables</a></b> and/or
        <b><a href="edit/ent.other_entity_select">Other Entities</a></b> to do any needed re-uploads. Then return to this page to
        submit your data.
    </div>
    <div class="col-md-4" style="border: 1px solid steelblue;padding: 10px;margin-left:43px;">
        <b>Note:</b> To send your current data and metadata to a recipient <i>other than EDI</i>, go to
        <b><a href="export_package">Export ezEML Data Package</a></b>. It creates a zip file containing
        your metadata and data files and provides you with a URL you can email to the recipient. See also <b>Sending Your
        Package to a Colleague</b> in the <b><a href="user_guide">User Guide</a></b>.
    </div>
        <div class="col-md-10">
    <form method="POST" action="" class="form" role="form" novalidate>
        {{ form.csrf_token }}
    <br>
    <table>
        <tr><td>
        <table>
            <td>{{ wtf.form_field(form.name, size=100) }}</td>
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
        </table>
        </td>
            <td width="5%">&nbsp;</td>
        <td>
        <table>
            <td>{{ wtf.form_field(form.email_address, size=100) }}</td>
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
        </table>
        </td></tr>
    </table>
        <p></p>
{#        <h5>If you have any notes for EDI data curators, enter them below.</h5>#}
        <table>
            <td>{{ wtf.form_field(form.notes, rows=4, cols=100) }}</td>
{#            <td valign="middle" style="padding-top: 15px;">{{ macros.help_button(help_new_eml_document_btn) }}</td>#}
        </table>
        {% if check_metadata_status == 'red' %}
            <p><span style="color:red;">Your metadata contains one or more errors.</span><span style="color:black;"> To see what the errors
                are, click <b><a href="edit/home.check_metadata">Check Metadata</a></b>.
            We encourage you to correct the errors before submitting, but you may go ahead and submit your package as is,
                if you choose, for example if there are errors you're not sure how to handle. In that case, please leave
            an explanation in the Notes text area above so we can assist you better.</span></p>
        {% endif %}
    <p></p>If you have any questions, please email us at
        <a href="mailto:support@environmentaldatainitiative.org">support@environmentaldatainitiative.org</a>.</p>

                <input class="btn btn-primary" style="width: 130px;" name="Submit" type="submit" value="Send to EDI"/>&nbsp;&nbsp;
                <input class="btn btn-primary" style="width: 100px;" name="Cancel" type="submit" value="Cancel" formnovalidate="True"/>
                {{ macros.hidden_buttons() }}
    </form>
        </div>
    {{ macros.help_dialog(help_submit_package_dialog, help_submit_package_title, help_submit_package_content) }}
{% endblock %}

{% block app_scripts %}
    {{ super() }}
    {% set help_submit_package_id, help_submit_package_title, help_submit_package_content = help[0] %}
    {% set help_submit_package_btn = help_submit_package_id ~ '_btn' %}
    {% set help_submit_package_dialog = help_submit_package_id ~ '_dialog' %}

    <script>
    $(function()
    {
        {{ macros.help_script(help_submit_package_dialog, help_submit_package_btn) }}
    });
    </script>
{% endblock %}