{% extends "base.html" %}

{% block app_content %}

    <h4>User Guide</h4>
    <ul>
    <li><a href="/static/user_guide/terminology.pdf" target="_ezeml_user_guide">Some Terminology</a></li>
    <li><a href="/static/user_guide/data_workflow.pdf" target="_ezeml_user_guide">ezEML's Place in the Data Workflow</a></li>
    <li><a href="/static/user_guide/getting_started.pdf" target="_ezeml_user_guide">Getting Started</a></li>
    <li><a href="/static/user_guide/navigating.pdf" target="_ezeml_user_guide">Navigating in ezEML</a></li>
    <li><a href="/static/user_guide/uploading_data_tables.pdf" target="_ezeml_user_guide">Uploading Data Tables</a></li>
    <li><a href="/static/user_guide/checking_your_metadata.pdf" target="_ezeml_user_guide">Checking Your Metadata</a></li>
    <li><a href="/static/user_guide/importing.pdf" target="_ezeml_user_guide">Importing from Other Data Packages</a></li>
    <li><a href="/static/user_guide/downloading.pdf" target="_ezeml_user_guide">Downloading the EML Document</a></li>
    </ul>

{% endblock %}