{% extends "base.html" %}

{% block app_content %}

    <h4>User Guide</h4>
    <ul>
    <li><a href="/static/user_guide/ezEMLmotherOverview.pdf" target="_user_guide_content">Quick Overview</a></li>
	<li><a href="/static/user_guide/introduction.pdf" target="_user_guide_content">Introduction </a></li>
	<li><a href="/static/user_guide/createAccount.pdf" target="_user_guide_content">Create an Account </a></li>
	<li><a href="/static/user_guide/navigation.pdf" target="_user_guide_content">Navigation </a></li>
	<li><a href="/static/user_guide/title.pdf" target="_user_guide_content">Title </a></li>
	<li><a href="/static/user_guide/image.pdf" target="_user_guide_content">Image </a></li>
	<li><a href="/static/user_guide/people.pdf" target="_user_guide_content">People </a></li>
	<li><a href="/static/user_guide/abstractKeywords.pdf" target="_user_guide_content">Abstract and Keywords </a></li>
	<li><a href="/static/user_guide/intellectualRights.pdf" target="_user_guide_content">Intellectual Rights </a></li>
	<li><a href="/static/user_guide/geographicTemporal.pdf" target="_user_guide_content">Geographic and Temporal Coverage </a></li>
	<li><a href="/static/user_guide/taxonomic.pdf" target="_user_guide_content">Taxonomic Coverage </a></li>
	<li><a href="/static/user_guide/methods.pdf" target="_user_guide_content">Methods </a></li>
	<li><a href="/static/user_guide/project.pdf" target="_user_guide_content">Project </a></li>
	<li><a href="/static/user_guide/donor.pdf" target="_user_guide_content">Donor </a></li>    
	<li><a href="/static/user_guide/immunohistochemistry.pdf" target="_user_guide_content">Immunohistochemistry </a></li>    
	<li><a href="/static/user_guide/checkSubmit.pdf" target="_user_guide_content">Check and Submit Metadata </a></li>    
	<li><a href="/static/user_guide/summaryRequiredOptional.pdf" target="_user_guide_content">Summary of Required/Optional Metadata </a></li>    
    </ul>
    <br>
    <b><a href={{ back_url }}>Back</a></b>


{% endblock %}